@import "../../../styles/variables";
@import "../../../styles/colors";
@import "../../../styles/typography";

h1 {
  text-transform: uppercase;
  font-size: $s0;
  display: inline-block;
}

h2 {
  color: $text-red;
  font-size: $s2;
}

p {
  color: $text-grey;
  font-size: $s-1;
}