<div class="wrapper">
  <div class="grid-container">
    <div class="grid-x">
      <div class="small-8 small-offset-2 text-center page-title">
        <h1>{{title}}</h1>
      </div>
    </div>
    <div class="dynamic" [ngClass]="{'loading': loading}">
      <div class="grid-x">
        <ng-container [ngSwitch]="state">
          <div *ngSwitchCase="1">
            <div class="small-10 small-offset-1 cell text-center">
              <h2 *ngIf="order">nr zamówienia: {{this.order.orderId}}/{{this.order.orderIdAX}}</h2>
            </div>
            <div class="small-10 small-offset-1 cell text-center">
              <p>Wysłaliśmy do Ciebie e-mail z potwierdzeniem.</p>
              <p *ngIf="order">Status zamówienia: {{order.status}}</p>
              <p>Status zamówienia możesz sprawdzić w: Menu > Moje konto > Zamówienia</p>
            </div>
            <div class="small-10 small-offset-1 cell button-control">
              <a [routerLink]="['/account/main']" class="button white no-bottom-margin">Moje zamówienia</a>
            </div>
            <div class="small-10 small-offset-1 cell button-control">
              <a [routerLink]="['/configurator/models']" class="button white">Złóż kolejne zamówienie</a>
            </div>
          </div>
          <div *ngSwitchCase="2">
            <div class="small-10 small-offset-1 cell text-center">
              <p>Zamówienie zostało zapisane, jednak nastąpił błąd przy jego wysyłaniu do AX.</p>
              <p>Wysyłka do AX zostanie powtórzona później.</p>
            </div>
            <div class="small-10 small-offset-1 cell button-control">
              <a [routerLink]="['/account/main']" class="button white no-bottom-margin">Moje zamówienia</a>
            </div>
            <div class="small-10 small-offset-1 cell button-control">
              <a [routerLink]="['/configurator/models']" class="button white">Złóż kolejne zamówienie</a>
            </div>
          </div>
          <div *ngSwitchCase="3">
            <div class="small-10 small-offset-1 cell text-center">
              <p>Za chwilę zostaniesz przekierowany do serwisu, w którym możesz dokonać płatności.</p>
            </div>
            <div class="small-10 small-offset-1 cell button-control">
              <a *ngIf="paymentGateway" [routerLink]="[paymentGateway.redirectUri]"
                 class="button white no-bottom-margin">Zapłać</a>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
