<div class="pager" *ngIf="total && total > 0">
  <div class="grid-x">
    <div class="small-2 cell">
      <div class="arrow left" [ngClass]="{disabled: currentPage === 1}">
        <a (click)="setPage(1)">
          <svg viewBox="0 0 240 246">
            <g transform="translate(-40 0)">
              <path d="M183.189,111.816L74.892,3.555c-4.752-4.74-12.451-4.74-17.215,0c-4.752,4.74-4.752,12.439,0,17.179
		l99.707,99.671l-99.695,99.671c-4.752,4.74-4.752,12.439,0,17.191c4.752,4.74,12.463,4.74,17.215,0l108.297-108.261
		C187.881,124.315,187.881,116.495,183.189,111.816z"/>
            </g>
            <g transform="translate(40 0)">
              <path d="M183.189,111.816L74.892,3.555c-4.752-4.74-12.451-4.74-17.215,0c-4.752,4.74-4.752,12.439,0,17.179
		l99.707,99.671l-99.695,99.671c-4.752,4.74-4.752,12.439,0,17.191c4.752,4.74,12.463,4.74,17.215,0l108.297-108.261
		C187.881,124.315,187.881,116.495,183.189,111.816z"/>
            </g>
          </svg>
        </a>
      </div>
      <div class="arrow left" [ngClass]="{disabled: currentPage === 1}">
        <a (click)="setPage(currentPage - 1)">
          <svg viewBox="0 0 240 246">
            <g>
              <path d="M183.189,111.816L74.892,3.555c-4.752-4.74-12.451-4.74-17.215,0c-4.752,4.74-4.752,12.439,0,17.179
		l99.707,99.671l-99.695,99.671c-4.752,4.74-4.752,12.439,0,17.191c4.752,4.74,12.463,4.74,17.215,0l108.297-108.261
		C187.881,124.315,187.881,116.495,183.189,111.816z"/>
            </g>
          </svg>
        </a>
      </div>
    </div>
    <ul class="small-8 cell">
      <li *ngFor="let page of pages" [ngClass]="{active: currentPage === page, 'no-border': !page}">
        <a (click)="setPage(page)">{{page ? page : '...'}}</a>
      </li>
    </ul>
    <div class="small-2 cell rtl">
      <div class="arrow" [ngClass]="{disabled:currentPage === totalPages}">
        <a (click)="setPage(totalPages)">
          <svg viewBox="0 0 240 246">
            <g transform="translate(-40 0)">
              <path d="M183.189,111.816L74.892,3.555c-4.752-4.74-12.451-4.74-17.215,0c-4.752,4.74-4.752,12.439,0,17.179
		l99.707,99.671l-99.695,99.671c-4.752,4.74-4.752,12.439,0,17.191c4.752,4.74,12.463,4.74,17.215,0l108.297-108.261
		C187.881,124.315,187.881,116.495,183.189,111.816z"/>
            </g>
            <g transform="translate(40 0)">
              <path d="M183.189,111.816L74.892,3.555c-4.752-4.74-12.451-4.74-17.215,0c-4.752,4.74-4.752,12.439,0,17.179
		l99.707,99.671l-99.695,99.671c-4.752,4.74-4.752,12.439,0,17.191c4.752,4.74,12.463,4.74,17.215,0l108.297-108.261
		C187.881,124.315,187.881,116.495,183.189,111.816z"/>
            </g>
          </svg>
        </a>
      </div>
      <div class="arrow" [ngClass]="{disabled: currentPage === totalPages}">
        <a (click)="setPage(currentPage + 1)">
          <svg viewBox="0 0 240 246">
            <g>
              <path d="M183.189,111.816L74.892,3.555c-4.752-4.74-12.451-4.74-17.215,0c-4.752,4.74-4.752,12.439,0,17.179
		l99.707,99.671l-99.695,99.671c-4.752,4.74-4.752,12.439,0,17.191c4.752,4.74,12.463,4.74,17.215,0l108.297-108.261
		C187.881,124.315,187.881,116.495,183.189,111.816z"/>
            </g>
          </svg>
        </a>
      </div>

    </div>
  </div>
</div>
