@import "../../../styles/variables";
@import "../../../styles/colors";
@import "../../../styles/typography";

.pager {
  max-width: 40rem;
  margin: 2rem auto;
  padding: 0 .5rem;

  .arrow {
    $s: 1.5rem;
    margin: .4rem;
    height: $s;
    width: $s;
    line-height: 6px;

    &.left {
      transform: rotate(180deg);
    }

    a {
      padding: 6px;

      svg {
        transition: all .3s ease-in-out;
        padding-left: 1px;
      }
    }
  }

  ul {
    text-align: center;
    margin: 0;

    li {
      width: 1.5rem;
      height: 1.5rem;
      line-height: 1.4rem;
      font-size: $s-3;
      margin: .4rem;
    }
  }

  li,
  .arrow {
    cursor: pointer;
    transition: all .3s ease-in-out;
    border: 1px solid $text-red;
    border-radius: 50%;
    background-color: $white;
    display: inline-block;

    &.no-border {
      border-color: transparent;
      cursor: default;

      a {
        cursor: default;
        font-size: 2rem;
        line-height: .1rem;
      }
    }

    &.disabled {
      border-color: $text-grey;
      cursor: default;

      a {
        color: $text-grey;
        cursor: default;

        svg {
          fill: $light-grey1;
        }
      }
    }

    &.active {
      background-color: $red1;

      a {
        color: $text-white;
      }
    }

    &:not(.disabled):not(.no-border) {

      &:hover {
        background-color: $red1;

        a {
          color: $text-white;

          svg {
            fill: $white;
          }
        }
      }
    }

    a {
      display: block;
      color: $text-red;
      transition: all .3s ease-in-out;

      svg {
        fill: $red1;
      }
    }
  }

  .rtl {
    direction: rtl;
  }
}
