<comp-header [title]="title"></comp-header>

<div class="wrapper">
  <div class="horizontal-space">
    <ul class="tabs" data-tabs id="productGroups-tabs">
      <li *ngFor="let productGroup of productGroups; let i = index" [ngClass]="{'is-active': activeTab === i}"
          class="tabs-title small-4 text-center">
        <a [attr.aria-selected]="activeTab === i" (click)="activateTab(i)">{{productGroup}}</a>
      </li>
    </ul>
  </div>
  <div class="tabs-content" data-tabs-content="productGroups-tabs">
    <div [ngClass]="{'is-active': activeTab === 0}" class="tabs-panel">
      <div class="dynamic" [ngClass]="{'loading': !radiators && !stockModels}">
        <div>
          <div class="grid-container">
            <div class="grid-x align-middle">
              <div class="small-12 cell">
                <div class="form-control">
                  <select (change)="onModelChange($event)">
                    <option *ngFor="let stockModel of stockModels" [value]="stockModel.model">{{stockModel.label}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="dynamic" [ngClass]="{'loading': !radiators}">
            <div>
              <div class="grid-container">
                <div *ngFor="let radiator of (radiators | filter:filterField:filterValue); let i = index"
                     class="grid-x product padded-y border-bottom">
                  <div class="small-4 cell text-center">
                    <a [routerLink]="['/ax-warehouse/item', radiator.itemId, radiator.configId]">
                      <ng-container *ngIf="radiator.config.image">
                        <lazy-img [image]="radiator.config.image" [columns]="[12, 0, 0]"></lazy-img>
                      </ng-container>
                      <button class="button rounded-small full">Szczegóły</button>
                    </a>
                  </div>
                  <div class="small-8 cell grid-x">
                    <div class="small-8 cell">
                      <h2 class="text-red">{{radiator.config.label}}
                        <dev-box *ngIf="radiator.isOutlet === 'Yes'" [label]="'Outlet'">
                          itemId: {{radiator.itemId}}<br>
                          configId: {{radiator.configId}}
                        </dev-box>
                      </h2>
                      <span class="medium">{{radiator.itemId + '-' + radiator.configId}}</span>
                    </div>
                    <div class="small-4 cell text-right">
                      <h2 class="text-red no-bottom-margin">{{radiator.salesPrice | currencyFormat}}</h2>
                      <p class="text-grey crossed medium">{{radiator.listPrice | currencyFormat}}</p>
                    </div>
                    <div class="small-8 cell">
                      <p class="medium text-grey no-bottom-margin">{{radiator.configurationName}}</p>
                    </div>
                    <div class="small-4 cell text-right">
                      <item-counter [min]="1" [max]="radiator.isOutlet === 'Yes' ? radiator.qty : _NaN"
                                    [(counter)]="counters[i]"></item-counter>
                      <br>
                      <span class="text-grey medium">{{radiator.qty | number:'1.0-0'}} szt. na magazynie</span><br>
                    </div>
                    <div class="small-12 cell text-right">
                      <div class="medium padded-y text-red" *ngIf="!radiator.isOutlet && counters[i] > radiator.qty">
                        {{counters[i] - radiator.qty}} grzejników do wyprodukowania
                      </div>
                      <button (click)="addToCart(i)" class="button rounded-small">
                        <span class="icon-basket"></span>
                        <span>Dodaj</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <pager [total]="totalRad" [perPage]="limit" [currentPage]="currentPageRad"
                     (onPageChange)="getWarehousePage($event)"></pager>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div [ngClass]="{'is-active': activeTab === 1}" class="tabs-panel">
      <div class="grid-container">
        <div class="grid-x align-middle">
          <div class="small-12 cell">
            <div class="form-control">
              <!--<select (change)="onModelChange($event)">
                <option *ngFor="let stockModel of stockModels" [value]="stockModel.nid">{{stockModel.modelName}}
                </option>
              </select>-->
            </div>
          </div>
        </div>
        <!--<div *ngFor="let heater of heaters" class="grid-x">
          <div class="small-1 cell">{{heater.nid}}</div>
          <div class="small-3 cell">{{heater.modelName}}</div>
          <div class="small-8 cell">{{heater.configurationName}}</div>
        </div>
        <pager [total]="totalRad" [perPage]="limit" [currentPage]="currentPageRad"
               (onPageChange)="getWarehousePage($event)"></pager>-->
      </div>
    </div>
    <div [ngClass]="{'is-active': activeTab === 2}" class="tabs-panel">
      <div class="grid-container">
        <div class="grid-x align-middle">
          <div class="small-12 cell">
            <div class="form-control">
              <!--<select (change)="onModelChange($event)">
                <option *ngFor="let stockModel of stockModels" [value]="stockModel.nid">{{stockModel.modelName}}
                </option>
              </select>-->
            </div>
          </div>
        </div>
        <!--<div *ngFor="let accessory of accessories" class="grid-x">
          <div class="small-1 cell">{{accessory.nid}}</div>
          <div class="small-3 cell">{{accessory.modelName}}</div>
          <div class="small-8 cell">{{accessory.configurationName}}</div>
        </div>
        <pager [total]="totalRad" [perPage]="limit" [currentPage]="currentPageRad"
               (onPageChange)="getWarehousePage($event)"></pager>-->
      </div>
    </div>
  </div>
</div>






