@import "../../../styles/variables";
@import "../../../styles/colors";
@import "../../../styles/typography";

.grid-container {
  padding-top: 1.125rem;
  padding-bottom: 1.125rem;
}

.sum {
  font-size: $s2;
  padding-top: .5rem;
  padding-bottom: .5rem;
  color: $text-red;
}

.text {
  color: $text-black;
  font-weight: 300;
  font-size: $s-1;
}