<div class="grid-container">
  <div class="grid-x padded-x">
    <div class="small-6 cell">
      <h4 class="form-group-title padded-x">Produkty</h4>
    </div>
    <div class="small-6 cell text-right padded-x">
      <a [routerLink]="['/cart']" class="button rounded-small">Edytuj</a>
    </div>
  </div>
</div>
<div class="grid-container">
  <div class="grid-x">
    <div class="small-12 cell list">
      <ng-container *ngIf="cartService.getCart().lineItems.length && configs">
        <ng-container *ngFor="let ci of cartService.getCart().lineItems; let i = index">
          <ng-container *ngIf="ci.deleted === 0">
            <line-item [lineItem]="ci" [config]="configs[ci.sku]"></line-item>
          </ng-container>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
<div class="grid-container border-bottom padded-x">
  <div class="grid-x">
    <div class="small-12 cell font-bold text-right sum">
      Razem: {{cartService.getCart().amount | currencyFormat}}
    </div>
  </div>
</div>
<ng-container *ngFor="let address of cartService.getCart().addresses; let i = index">
  <div class="grid-container border-bottom padded-x">
    <div class="grid-x">
      <div class="small-6 cell">
        <h4 class="form-group-title padded-x">
          {{address.type === 'shipping' ? 'Adres wysyłki' : 'Dane do faktury' }}</h4>
      </div>
      <div class="small-6 cell text-right padded-x">
        <a [routerLink]="['/order/shipping']"
           fragment="{{address.type === 'shipping' ? 'deliveryData' : 'invoiceData'}}" class="button rounded-small">Edytuj</a>
      </div>
      <div class="small-11 small-offset-1 cell grid-x text">
        <ng-container *ngIf="address.type === 'billing' && cartService.getAdditionalData('sameInvoiceAddress')">
          <div class="small-12 cell">(takie same jak adres wysyłki)</div>
        </ng-container>
        <ng-container
            *ngIf="address.type === 'shipping' || (address.type === 'billing' && !cartService.getAdditionalData('sameInvoiceAddress'))">
          <div class="small-12 cell">{{address.nameLine}}</div>
          <div class="small-12 cell">{{address.thoroughfare}} {{address.premise}}</div>
          <div class="small-12 cell">{{address.postalCode}} {{address.locality}}, {{address.country | countryName}}
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</ng-container>
<div class="grid-container border-bottom padded-x">
  <div class="grid-x">
    <div class="small-6 cell">
      <h4 class="form-group-title padded-x">Dostawa</h4>
    </div>
    <div class="small-6 cell text-right padded-x">
      <a [routerLink]="['/order/shipping']" fragment="deliveryTypeData" class="button rounded-small">Edytuj</a>
    </div>
    <div class="small-11 small-offset-1 cell text">{{cartService.getCart().deliveryType}}</div>
  </div>
</div>
<div class="grid-container border-bottom padded-x">
  <div class="grid-x">
    <div class="small-6 cell">
      <h4 class="form-group-title padded-x">Płatność</h4>
    </div>
    <div class="small-6 cell text-right padded-x">
      <a [routerLink]="['/order/payment']" class="button rounded-small">Edytuj</a>
    </div>
    <div class="small-11 small-offset-1 cell text">{{cartService.getPayment().paymentMethod}}</div>
  </div>
</div>
<div class="grid-container padded-x">
  <form [formGroup]="summaryForm" (ngSubmit)="onPlaceOrder()">
    <div class="grid-x">
      <div class="small-10 cell">
        <div class="form-control">
          <label for="personalDataAgreement">
            <input formControlName="personalDataAgreement" type="checkbox" id="personalDataAgreement">
            <span class="checkbox">
              <svg height="20" width="20">
                <path d="M16 4 L18 6 L8 16 L2 10 L4 8 L8 12 Z"></path>
              </svg>
            </span>
            <p class="label">
              <span>Wyrażam zgodę na przetwarzanie danych osobowych</span>
            </p>
          </label>
        </div>
      </div>
    </div>
  </form>
</div>
<order-navigation [formValid]="summaryForm.valid" [currentStep]="2" (nextStepClick)="onPlaceOrder()"></order-navigation>
