@import "../../../styles/breakpoints";
@import "../../../styles/variables";
@import "../../../styles/colors";
@import "../../../styles/typography";

h2 {
  margin-bottom: 0;
  line-height: 1;
  color: $text-black;
}

h5,
h6 {
  color: $text-grey;
}

h5,
h6 {
  font-weight: 300;
  font-size: $s-1;

  @include media-large {
    font-size: $s2;
  }
}
/*
h4 {
  margin: .6rem 0 0;
}*/

h5 {
  margin-bottom: 0;
}

h6 {
  margin: 0 0 1rem 0;
}

.preview {
  border-bottom: none;
  margin-bottom: 0;

  @include media-large {
    border-bottom: none;
    border-right: 1px solid $light-grey1;
    margin-bottom: 0;
  }
}

.buttons {
  padding-top: 1rem;
}

.right-col {
  padding: 1.2rem .5rem 2rem 1rem;
}
