<div class="grid-container no-padding">
  <div *ngIf="configuratorService.isConfigLoaded()" class="grid-x">
    <div class="small-5 large-6 cell preview">
      <ng-container *ngIf="configuratorService.getImage()">
        <lazy-img [image]="configuratorService.getImage()" [columns]="[12, 0, 0]"></lazy-img>
      </ng-container>
    </div>
    <div class="grid-x small-7 large-6 cell">
      <div class="grid-x small-12 large-7 large-offset-3 cell right-col">
        <div class="small-12 cell">
          <h2>{{configuratorService.getLabel()}}</h2>
          <h5>{{configuratorService.getHeight()}}<span class="spaced text-bottom">&#8597;</span><span
              class="spaced-right">&#215;</span>{{configuratorService.getWidth()}}<span
              class="spaced text-bottom">&#8596;</span></h5>
          <h6>{{configuratorService.getSKU()}}</h6>
        </div>
        <div class="small-6 large-12 cell">
          <div class="container">
            <div
                [ngClass]="'connection-icon icon-grey icon-' + configuratorService.getConnection().toLowerCase()"></div>
            <div class="with-circle">
              <div class="circle" *ngIf="configuratorService.getColor()"
                   [ngStyle]="(configuratorService.getColor().img && {'background-image': 'url('+configuratorService.getColor().img+')'}) || {'background-color': '#'+configuratorService.getColor().hex}">
              </div>
              <p>{{configuratorService.getColor().colorName}}</p>
            </div>
          </div>
        </div>
        <div class="small-6 large-12 cell container">
          <div class="counter-container">
            <item-counter [min]="1" [(counter)]="quantity"></item-counter>
            <span class="small">ilość (szt.)</span>
          </div>
          <div class="price-container dynamic rel small-indicator to-right " [ngClass]="{'loading': price === -1}">
            <h4>{{price * quantity | currencyFormat}}</h4>
            <p class="small no-bottom-margin text-grey">({{price | currencyFormat}}/szt.)</p>
          </div>
        </div>
      </div>
      <div class="small-12 large-6 large-offset-3 cell show-for-large">
        <ng-container *ngIf="!nextStep">
          <div class="button-control">
            <button class="button white no-bottom-margin" (click)="nextStep = true">Wybierz akcesoria</button>
          </div>
          <div class="button-control">
            <a [routerLink]="['/cart']" (click)="addToCart()" class="button white no-bottom-margin">Dodaj do koszyka</a>
          </div>
          <div class="button-control">
            <a [routerLink]="['/configurator', configuratorService.getModel(), 'size']"
               class="button white no-bottom-margin">Modyfikuj</a>
          </div>
        </ng-container>
        <ng-container *ngIf="nextStep">
          <div class="button-control">
            <a [routerLink]="null" class="button white no-bottom-margin">Zestaw zaworów</a>
          </div>
          <div class="button-control">
            <a [routerLink]="null" class="button white no-bottom-margin">Grzałka</a>
          </div>
          <div class="button-control">
            <a [routerLink]="null" class="button white no-bottom-margin">Wieszak</a>
          </div>
          <div class="button-control">
            <button (click)="nextStep = false" class="button grey no-bottom-margin">Wstecz</button>
          </div>
        </ng-container>
        <div class="button-control">
          <a [routerLink]="['/configurator']" class="button grey no-bottom-margin">Anuluj</a>
        </div>
      </div>
    </div>
    <div class="grid-x small-12 cell border-top buttons hide-for-large">
      <div class="small-10 small-offset-1 medium-4 medium-offset-4 cell">
        <ng-container *ngIf="!nextStep">
          <div class="button-control">
            <button class="button white no-bottom-margin" (click)="nextStep = true">Wybierz akcesoria</button>
          </div>
          <div class="button-control">
            <a [routerLink]="['/cart']" (click)="addToCart()" class="button white no-bottom-margin">Dodaj do koszyka</a>
          </div>
          <div class="button-control">
            <a [routerLink]="['/configurator', configuratorService.getModel(), 'size']"
               class="button white no-bottom-margin">Modyfikuj</a>
          </div>
        </ng-container>
        <ng-container *ngIf="nextStep">
          <div class="button-control">
            <a [routerLink]="null" class="button white no-bottom-margin">Zestaw zaworów</a>
          </div>
          <div class="button-control">
            <a [routerLink]="null" class="button white no-bottom-margin">Grzałka</a>
          </div>
          <div class="button-control">
            <a [routerLink]="null" class="button white no-bottom-margin">Wieszak</a>
          </div>
        </ng-container>
        <div class="button-control">
          <a [routerLink]="['/configurator']" class="button grey no-bottom-margin">Anuluj</a>
        </div>
      </div>
    </div>
  </div>
</div>

