<div class="padded"></div>
<div class="grid-x fixed-nav">
  <a [routerLink]="['/cart']" *ngIf="currentStep == 0" class="small-6 cell button">Powrót do koszyka</a>
  <a [routerLink]="[prevStepUrl]" *ngIf="currentStep > 0" class="small-6 cell button">Cofnij</a>
  <a [routerLink]="formValid ? [nextStepUrl] : null" (click)="nextStepClick.emit()" [ngClass]="{disabled: !formValid}"
     class="small-6 cell button red">{{btnLabel}}</a>
</div>