<comp-header [title]="title + (orderIdAX | prepareId : true)"></comp-header>
<div class="wrapper">
  <div class="group">
    <div class="dynamic" [ngClass]="{'loading': !order}">
      <div *ngIf="order" class="grid-x">
        <div class="small-6 cell">
          <h4>
            <span>{{order.parmSalesId}}</span>
            <dev-box *ngIf="order.drupalOrder.orderId" [label]="'DR'">
              Id: {{order.drupalOrder.orderId}}<br>
              AX id: {{order.drupalOrder.orderIdAX}}<br>
              Status: {{order.drupalOrder.status}}<br>
              Kwota: {{order.drupalOrder.amount | currencyFormat}}<br>
              Utworzono: {{order.drupalOrder.created * 1000 | date:"yyyy.MM.dd"}}
            </dev-box>
          </h4>
        </div>
        <div class="small-6 cell text-right">
          <h4 class="text-red">Suma: {{order.parmTotalAmount | currencyFormat}}
            <dev-box *ngIf="order.parmTotalAmount != this.total" [label]="'!'" [cssClasses]="'right-side'">
              kwota różni się od sumy pozycji w zamówieniu<br>
              {{this.total | currencyFormat}}
            </dev-box>
          </h4>
        </div>
        <div class="small-12 cell max-w indent">
          <p>
            <label>Data zamówienia:</label>
            <span>{{order.parmCreatedDateTime | date:"yyyy.MM.dd"}}</span>
          </p>
          <p>
            <label>Data wysyłki:</label>
            <span>{{order.parmShippingDateRequested | date:"yyyy.MM.dd"}}</span>
          </p>
          <p>
            <label>Status:</label>
            <span>{{order.parmSalesStatus}}</span>
          </p>
          <p>
            <label>Status Terma:</label>
            <span>{{order.parmSalesStatus_TER}}</span>
          </p>
        </div>
        <div class="small-6 small-offset-6 large-3 large-offset-9 cell">
          <div class="button-control">
            <button (click)="addToCart(true)" class="button no-bottom-margin">Ponów zamówienie</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="wrapper">
  <h4>Produkty</h4>
</div>
<div class="grid-container">
  <div class="grid-x">
    <div class="small-12 cell list">
      <div class="dynamic" [ngClass]="{'loading': (!order || !configs)}">
        <ng-container *ngIf="order && configs">
          <ng-container *ngFor="let li of order.salesLineItems; let i = index">
            <line-item [lineItem]="li" [config]="configs[li.sku]" [fixedQty]="true"></line-item>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<div class="reveal modal" [id]="modalId" data-reveal>
  <div class="grid-x">
    <div class="small-10 small-offset-1 cell">
      <h4 class="form-group-title padded-x">W koszyku masz już inne produkty. Czy chcesz je zastąpić produktami z
        zamówienia {{orderIdAX | prepareId : true}}?</h4>
    </div>
    <button class="small-1 cell close-button" data-close aria-label="Close modal" type="button">
      <span class="icon icon-close icon-grey" aria-hidden="true"></span>
    </button>
    <div class="small-5 small-offset-1 cell">
      <div class="button-control">
        <a [routerLink]="['/order']" (click)="addToCart(false, true)" class="button" data-close
           aria-label="Close modal">Zastąp</a>
      </div>
    </div>
    <div class="small-5 cell">
      <div class="button-control">
        <a [routerLink]="['/order']" (click)="addToCart(false, false)" class="button" data-close
           aria-label="Close modal">Dodaj</a>
      </div>
    </div>
  </div>
</div>
