<div class="grid-container no-padding">
  <div class="grid-x">
    <div class="grid-x small-12 large-6 cell preview">
      <div class="small-12 cell show-for-large">
        <h6>
          <span>Model/wizualizacja grzejnika</span>
        </h6>
      </div>
      <div class="small-10 small-offset-1 large-12 large-offset-0 cell">
        <ng-container *ngIf="configuratorService.getImage()">
          <lazy-img [image]="configuratorService.getImage()" [columns]="[12, 0, 0]"></lazy-img>
        </ng-container>
      </div>
      <div class="small-12 cell text-center">
        <h2>{{configuratorService.getLabel()}}</h2>
      </div>
    </div>
    <div class="grid-y small-12 large-6 cell relative">
      <div *ngIf="!chosenGroup" class="grid-x cell">
        <div class="small-7 large-8 cell">
          <h6>Wybierz paletę kolorów</h6>
        </div>
        <div class="small-5 large-4 cell text-right">
          <h6 class="padded-right">Puste</h6>
          <div class="switch" [ngClass]="{'on': !hideEmptyGroups}" (click)="hideEmptyGroups = !hideEmptyGroups">
            <span></span></div>
        </div>
      </div>
      <div class="cell">
        <div class="dynamic static" [ngClass]="{'loading': loading}">
          <ng-container *ngIf="possibleColors && possibleCoatings">
            <div class="slide-list last-element" [ngClass]="{'no-padding': chosenGroup}">
              <ng-container *ngFor="let colorGroup of colorGroups; let i = index">
                <ng-container *ngIf="isCoatingTypePossible(colorGroup.type)">
                  <div class="slide clickable with-circle"
                       [ngClass]="{'hide': (hideEmptyGroups && !hasPossibleColorsInGroup(i)) || chosenGroup}" (click)="setColorGroup(i)">
                    <div class="circle"
                         [ngStyle]="
             (colorGroup.decoration.type === 'color' && {'background-color' : colorGroup.decoration.value}) ||
             (colorGroup.decoration.type === 'image' && {'background-image' : colorGroup.decoration.value}) ||
             (colorGroup.decoration.type === 'gradient' && {'background' : colorGroup.decoration.value})">
                    </div>
                  </div>
                  <div *ngIf="chosenGroup === i" class="sublist">
                    <button class="close-button" (click)="chosenGroup = null">
                      <span class="icon icon-close icon-grey"></span>
                    </button>
                    <div class="grid-x">
                      <div class="small-7 large-8 cell">
                        <h6>{{colorGroup.label}} <span class="normal" *ngIf="colorGroup.range.length">(od&nbsp;RAL{{colorGroup.range[0] | ralPipe}}&nbsp;do&nbsp;RAL{{colorGroup.range[1] | ralPipe}})</span>
                        </h6>
                      </div>
                      <div class="small-5 large-4 cell text-right">
                        <h6 class="padded-right">Puste</h6>
                        <div class="switch" [ngClass]="{'on': !hideNotExistingConfigs}"
                             (click)="hideNotExistingConfigs = !hideNotExistingConfigs"><span></span></div>
                      </div>
                    </div>
                    <h6 class="no-data">Brak kolorów</h6>
                    <div class="slide-list">
                      <div *ngFor="let c of colorGroup.colors; let j = index"
                           [ngClass]="{'active': colorId === c.colorId, 'hide': hideNotExistingConfigs && !isColorPossible(c.colorId)}"
                           (click)="setColor(c)"
                           class="slide clickable with-circle">
                        <div class="circle"
                             [ngStyle]="(c.img && {'background-image': 'url('+c.img+')'}) || {'background-color': '#'+c.hex}">
                        </div>
                        <p>{{c.colorName}}
                          <dev-box *ngIf="!isColorPossible(c.colorId)" [label]="'!'" [cssClasses]="'absolute'"
                                   [noTitle]="true">
                            {{configuratorService.getItemId()}} z podłączeniem {{configuratorService.getConnection()}} i
                            powłoką {{c.colorName}} nigdy nie był zamawiany
                          </dev-box>
                        </p>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="grid-x nav-buttons show-for-large">
        <div class="large-5 large-offset-2 cell">
          <div class="button-control">
            <button *ngIf="!chosenGroup" class="button white no-bottom-margin" (click)="goBack()">Wstecz</button>
            <button *ngIf="chosenGroup" class="button white no-bottom-margin" (click)="chosenGroup = null">Anuluj</button>
          </div>
        </div>
        <div class="large-5 cell">
          <div class="button-control">
            <a [routerLink]="colorId ? ['../', colorId, nextStep] : null" [ngClass]="{disabled: !colorId}"
               class="button no-bottom-margin">
              Dalej
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="grid-x fixed-nav hide-for-large">
  <div *ngIf="!chosenGroup" class="small-6 cell button" (click)="goBack()">
    Wstecz
  </div>
  <div *ngIf="chosenGroup" class="small-6 cell button" (click)="chosenGroup = null">
    Anuluj
  </div>
  <a [routerLink]="colorId ? ['../', colorId, nextStep] : null" [ngClass]="{disabled: !colorId}"
     class="small-6 cell button red">
    Dalej
  </a>
</div>
