@import "../../../styles/breakpoints";
@import "../../../styles/variables";
@import "../../../styles/colors";
@import "../../../styles/typography";

h6 {
  display: inline-block;
  vertical-align: middle;

  &.padded-right {
    padding-right: .3rem;
  }
}

.switch {
  display: inline-block;
  vertical-align: middle;
  transition: .4s background-color ease-in-out;

  &.on {
    background-color: $red1;
  }
}

.sublist {
  .cell {
    &:last-child {
      padding-right: 3rem;

      @include media-large {
        padding-right: 0;
      }
    }
  }
}

.slide.with-circle {
  width: auto;
  padding: 0 .5rem;
  margin-top: .5rem;
}

.no-data {

}

.close-button {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 2;

  @include media-large {
    font-size: 2.5rem;
    right: 22px;
    top: 50px;
  }
}

