<div class="lazy-img-container {{classes}}" [ngClass]="{'flex': flex}">
  <div class="lazy-img-wrapper">
    <img id="lazy-img" [defaultImage]="loader"
         [lazyLoad]="source"
         [errorImage]="missingImage"
         [useSrcset]="useSrcset"
         [offset]="offset"
         [sizes]="sizes"
         [scrollTarget]="scrollTarget">
    <p class="font-light">brak zdjęcia</p>
  </div>
</div>
