@import "../../../styles/colors";
@import "../../../styles/typography";

.lazy-img-container {
  width: 100%;
  position: relative;
  padding-top: 100%;

  &.flex {
    padding-top: 0;
    height: 100%;
  }

  &.small {

    .lazy-img-wrapper {

      .ng-failed-lazyloaded {

        & ~ p {
          font-size: $s-6;
          bottom: 0;
        }
      }
    }
  }

  &.zoomed {
    .lazy-img-wrapper {

      img {

        &:not(.ng-lazyloaded) {
          margin: -15px auto 0;
          max-width: 30px;
        }
      }
    }
  }

  .lazy-img-wrapper {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: block;
    text-align: center;

    img {
      max-height: 100%;

      &:not(.ng-lazyloaded) {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        margin: -30px auto 0;
        max-width: 60px;
      }
    }

    .ng-failed-lazyloaded {
      max-width: 80%;
      height: 50%;
      max-height: 90px;
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      bottom: 50%;
      margin: auto;

      & ~ p {
        display: block;
        position: absolute;
        bottom: 10%;
        left: 0;
        right: 0;
        padding: 0 1em;
        color: $text-grey;
        letter-spacing: 1px;
        line-height: 1;
        font-size: $s-4;
        text-transform: uppercase;
        margin: 0;
      }
    }

    p {
      display: none;
    }
  }
}