@import "../../../styles/breakpoints";
@import "../../../styles/variables";
@import "../../../styles/colors";
@import "../../../styles/typography";

h6 {
  display: inline-block;
  vertical-align: middle;

  &.padded-right {
    padding-right: .3rem;
  }
}

.sizeBox {
  position: relative;

  p {
    font-size: $s-5;

    @include media-large {
      font-size: $s-1;
    }
  }
}