<div class="grid-container no-padding">
  <div *ngIf="configuratorService.isConfigLoaded()" class="grid-x">
    <div class="small-12 large-6 cell preview">
      <div class="small-12 cell show-for-large">
        <h6>
          <span>Model/wizualizacja grzejnika</span>
        </h6>
      </div>
      <div class="small-10 small-offset-1 large-12 large-offset-0 cell">
        <ng-container *ngIf="configuratorService.getImage()">
          <lazy-img [image]="configuratorService.getImage()" [columns]="[12, 0, 0]"></lazy-img>
        </ng-container>
      </div>
      <div class="small-12 cell text-center">
        <h2>{{configuratorService.getLabel()}}</h2>
      </div>
    </div>
    <div class="grid-y small-12 large-6 cell relative">
      <div class="grid-x cell">
        <div class="small-7 large-12 cell">
          <h6>
            <span>Wybierz model grzałki</span>
          </h6>
        </div>
      </div>
      <div class="cell">
        <div class="dynamic" [ngClass]="{'loading': !heaters}">
          <div class="slide-list last-element" id="heaters-list">
            <div *ngFor="let heater of heaters; let i = index"
                 [ngClass]="{'active': heaterItemId === heater.itemId}"
                 (click)="setHeater(heater)"
                 class="slide clickable sizeBox bordered">
              <div>
                <lazy-img [image]="heater.image" [columns]="[12, 0, 0]"></lazy-img>
                <p>{{heater.displayedName}}<br><ng-container *ngIf="heater.power">Moc: {{heater.power}}</ng-container></p>
                <span *ngIf="authService.showDevData()" class="dev-data">{{heater.itemId}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="grid-x nav-buttons show-for-large">
        <div class="large-5 large-offset-2 cell">
          <div class="button-control">
            <button class="button white no-bottom-margin" (click)="goBack()">Wstecz</button>
          </div>
        </div>
        <div class="large-5 cell">
          <div class="button-control">
            <a [routerLink]="heaterItemId ? ['../', heaterItemId, 'config'] : null"
               [ngClass]="{disabled: !heaterItemId}"
               class="button no-bottom-margin">
              Dalej
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="grid-x fixed-nav hide-for-large">
  <div class="small-6 cell button" (click)="goBack()">
    Wstecz
  </div>
  <a [routerLink]="heaterItemId ? ['../', heaterItemId, 'config'] : null" [ngClass]="{disabled: !heaterItemId}"
     class="small-6 cell button red">
    Dalej
  </a>
</div>
