<div class="grid-container">
  payu started

  <div *ngIf="payment" class="grid-x">
    <div class="small-2 cell">{{payment.transactionId}}</div>
    <div class="small-2 cell">{{payment.orderId}}</div>
    <div class="small-2 cell">{{payment.paymentMethod}}</div>
    <div class="small-2 cell">{{payment.status}}</div>
  </div>
</div>

