@import "../../styles/breakpoints";
@import "../../styles/variables";
@import "../../styles/colors";
@import "../../styles/typography";

.configurator-header {
  margin-top: 1rem;
  margin-bottom: 2rem;

  @include media-large {
    margin-top: 3rem;
    margin-bottom: 5rem;
  }
}

h1 {
  font-size: $s-1;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  color: $text-black;

  @include media-large {
    font-size: $s4;
  }
}

.fixed-table {
  max-width: 30rem;
  margin: auto;

  @include media-large {
    max-width: 36rem;
  }
}

