<div class="configurator-header">
  <ng-container *ngIf="currentStep > -1 && currentStep < 5">
    <h1>{{title}}</h1>
    <div class="steps text-center">
      <table class="fixed-table">
        <tr>
          <td [ngClass]="{active: currentStep === 0}">
            <h6>Wymiary</h6>
            <span class="no">1</span>
            <p>
              {{configuratorService.getHeight()}}
              <span class="text-bottom">&#8597;</span><span class="spaced-left">&#215;</span>
              {{configuratorService.getWidth()}}
              <span class="text-bottom">&#8596;</span>
            </p>
          </td>
          <td [ngClass]="{active: currentStep === 1}">
            <h6>Podłączenie</h6>
            <span class="no">2</span>
            <p *ngIf="currentStep > 0" [ngClass]="'connection-icon icon-' + configuratorService.getConnection().toLowerCase()"></p>
          </td>
          <td [ngClass]="{active: currentStep === 2}">
            <h6>Kolor</h6>
            <span class="no">3</span>
            <div *ngIf="currentStep > 1 && configuratorService.getColor()" class="with-circle">
              <div class="circle"
                   [ngStyle]="(configuratorService.getColor().img && {'background-image': 'url('+configuratorService.getColor().img+')'}) || {'background-color': '#'+configuratorService.getColor().hex}">
              </div>
              <p>{{configuratorService.getColor().colorName}}</p>
            </div>
          </td>
          <td *ngIf="configuratorService.needsHeater()" [ngClass]="{active: currentStep === 3}">
            <h6>Grzałka</h6>
            <span class="no">4</span>
            <p *ngIf="currentStep > 2">{{configuratorService.getHeaterModel().parmName}}</p>
          </td>
          <td *ngIf="configuratorService.needsHeater()" [ngClass]="{active: currentStep === 4}">
            <h6>Konfiguracja</h6>
            <span class="no">5</span>
            <p *ngIf="currentStep > 3">{{configuratorService.getHeaterConfigId()}}</p>
          </td>
        </tr>
      </table>
    </div>
  </ng-container>
  <ng-container *ngIf="currentStep == 5">
    <h1 class="show-for-large">Podsumowanie konfiguracji grzejnika</h1>
  </ng-container>
</div>
<div class="padding-for-fix-nav">
  <div class="configurator">
    <router-outlet></router-outlet>
  </div>
</div>
