<div class="reveal error-modal" [id]="modalId" data-reveal>
  <div *ngIf="info" class="grid-x">
    <h5 class="small-11 cell">{{info.title}}</h5>
    <button class="small-1 cell close-button" data-close aria-label="Close modal" type="button">
      <span class="icon icon-close icon-grey" aria-hidden="true"></span>
    </button>
    <p class="small-12 cell">{{info.msg}}</p>
    <div class="small-3 small-centered cell">
      <div class="button-control">
        <button class="button" data-close aria-label="Close modal" type="button">Ok</button>
      </div>
    </div>
  </div>
</div>