<div *ngIf="config" class="grid-x align-middle line-item padded-y border-bottom">
  <div *ngIf="showRemoveButton" class="shrink cell">
    <button [disabled]="cartService.sending" (click)="remove(index)" class="remove">
      <span class="icon icon-plus icon-grey" aria-hidden="true"></span>
    </button>
  </div>
  <div class="small-3 cell">
    <ng-container *ngIf="config.image">
      <lazy-img [image]="config.image" [columns]="[12, 0, 0]"></lazy-img>
    </ng-container>
  </div>
  <div class="auto cell">
    <h3>
      <span>{{config.label}}</span>
      <dev-box *ngIf="lineItem.drupalLineItem" [label]="'DR'">
        Id: {{lineItem.drupalLineItem.itemId}}<br>
        SKU: {{lineItem.drupalLineItem.sku}}<br>
        Model: {{lineItem.drupalLineItem.modelName}}<br>
        Kwota: {{lineItem.drupalLineItem.amount | currencyFormat}}<br>
        Ilość: {{lineItem.drupalLineItem.quantity}} szt.
      </dev-box>
      <dev-box *ngIf="lineItem.parmItemName" [label]="'AX'">
        Nazwa: {{lineItem.parmItemName}}<br>
        Kod pozycji: {{lineItem.parmItemId}}<br>
        Kod konfiguracji: {{lineItem.parmConfigId}}
      </dev-box>
    </h3>
    <h5>{{config.height}}<span class="spaced text-top">&#8597;</span>
      <span class="spaced-right">&#215;</span>{{config.width}}
      <span class="spaced text-top">&#8596;</span></h5>
    <h5>{{config.sku}}</h5>
    <div class="hide-for-large container margin-top">
      <div class="connection-icon icon-grey"
           [ngClass]="'icon-' + config.connection.toLowerCase()"></div>
      <div class="with-circle">
        <div class="circle"
             [ngStyle]="(config.color.img && {'background-image': 'url('+config.color.img+')'}) || {'background-color': '#'+config.color.hex}">
        </div>
        <p>{{config.color.colorName}}</p>
      </div>
    </div>
  </div>
  <div class="shrink large-4 cell">
      <div class="show-for-large container">
        <div class="connection-icon icon-grey"
             [ngClass]="'icon-' + config.connection.toLowerCase()"></div>
        <div class="with-circle">
          <div class="circle"
               [ngStyle]="(config.color.img && {'background-image': 'url('+config.color.img+')'}) || {'background-color': '#'+config.color.hex}">
          </div>
          <p>{{config.color.colorName}}</p>
        </div>
      </div>
    <div class="container">
      <div *ngIf="fixedQty" class="quantity-container">
        <h5>{{(lineItem.parmSalesQty || lineItem.quantity) | number:'1.0-0'}} szt.</h5>
      </div>
      <div *ngIf="!fixedQty" class="counter-container">
        <item-counter [min]="1" [(counter)]="lineItem.parmSalesQty || lineItem.quantity"></item-counter>
        <span class="small">ilość (szt.)</span>
      </div>
      <div class="price-container">
        <ng-container *ngIf="lineItem.hasOwnProperty('parmSalesPrice')">
          <h4>{{lineItem.parmLineAmount | currencyFormat}}</h4>
          <p class="small no-bottom-margin">({{lineItem.parmSalesPrice | currencyFormat}}/szt.)</p>
        </ng-container>
        <ng-container *ngIf="lineItem.hasOwnProperty('amount')">
          <h4>{{lineItem.amount | currencyFormat}}</h4>
        </ng-container>
      </div>
    </div>
  </div>
</div>