<div class="grid-x list">
  <ng-container *ngFor="let p of products; let i = index">
    <div class="small-12 grid-x grid-container line-item relative">
      <div class="small-3 cell">
        <ng-container *ngIf="images">
          <div (click)="openDetails(i)" class="clickable">
            <lazy-img [image]="images[i]" [columns]="[12, 0, 0]"></lazy-img>
          </div>
        </ng-container>
      </div>
      <div class="small-9 cell padded-x">
        <h1 (click)="openDetails(i)" class="clickable">{{p.modelNameLoc}}</h1>
        <div>
          <p>{{p.lead}}</p>
        </div>
        <products-gallery [gallery]="p.gallery"></products-gallery>
      </div>
      <div class="small-6 small-offset-6 cell text-right">
        <button (click)="openDetails(i)" class="button rounded-small">Szczegóły</button>
      </div>
      <div class="dev-data bottom-right">{{p.nid}}</div>
    </div>
  </ng-container>
</div>