<ng-container *ngIf="currentStep < 3">
  <div class="wrapper text-center page-title">
    <h1>{{title}}</h1>
  </div>
  <div class="steps">
    <div class="grid-container">
      <div class="grid-x">
        <div class="small-offset-1 small-10 cell text-center">
          <table class="fixed-table">
            <tr>
              <td [ngClass]="{active: currentStep === 0}">
                <h6>Dane</h6>
                <span>1</span>
              </td>
              <td [ngClass]="{active: currentStep === 1}">
                <h6>Płatność</h6>
                <span>2</span>
              </td>
              <td [ngClass]="{active: currentStep === 2}">
                <h6>Podsumowanie</h6>
                <span>3</span>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<router-outlet></router-outlet>
