@import "../../../styles/variables";
@import "../../../styles/colors";
@import "../../../styles/typography";

.grid-container {
  padding-top: 2rem;

  .cell {
    text-align: center;

    p {
      margin-top: .5rem;
      font-size: 1rem;
    }
  }
}

.connection-icon {
  font-size: 3rem;
}

.other-icons {
  font-size: 1rem;

  .cell {
    padding: 1rem;
  }

  [class^="icon-"]:before, [class*=" icon-"]:before {
    font-size: 3rem;
  }
}