<div class="grid-container">
  <div class="grid-x">
    <div class="small-12 cell">
      <h3>Podłączenia</h3>
    </div>
    <div *ngFor="let connection of connections; let i = index" class="small-1 cell">
      <div class="slide clickable connectionBox">
        <div [ngClass]="'text-center connection-icon icon-' + connection.toLowerCase()"></div>
        <p>{{connection.toUpperCase()}}</p>
      </div>
    </div>
  </div>
</div>

<div class="grid-container other-icons">
  <div class="grid-x">
    <div class="small-12 cell">
      <h3>Inne ikony</h3>
    </div>
    <div class="small-1 cell">
      <div class="icon-basket"></div>
    </div>
    <div class="small-1 cell">
      <div class="icon-menu"></div>
    </div>
    <div class="small-1 cell">
      <div class="icon-close"></div>
    </div>
    <div class="small-1 cell">
      <div class="icon-find"></div>
    </div>
    <div class="small-1 cell">
      <div class="icon-minus"></div>
    </div>
    <div class="small-1 cell">
      <div class="icon-plus"></div>
    </div>
    <div class="small-1 cell">
      <div class="icon-menu_arrow"></div>
    </div>
    <div class="small-1 cell">
      <div class="icon-user"></div>
    </div>
    <div class="small-1 cell">
      <div class="icon-mail"></div>
    </div>
    <div class="small-1 cell">
      <div class="icon-radial_on"></div>
    </div>
    <div class="small-1 cell">
      <div class="icon-checkbox_on"></div>
    </div>
    <div class="small-1 cell">
      <div class="icon-radial_off"></div>
    </div>
    <div class="small-1 cell">
      <div class="icon-pasword"></div>
    </div>
    <div class="small-1 cell">
      <div class="icon-download"></div>
    </div>
    <div class="small-1 cell">
      <div class="icon-checkbox_off"></div>
    </div>
    <div class="small-1 cell">
      <div class="icon-wodny"></div>
    </div>
    <div class="small-1 cell">
      <div class="icon-wodno_elektryczny"></div>
    </div>
    <div class="small-1 cell">
      <div class="icon-elektryczny"></div>
    </div>
    <div class="small-1 cell">
      <div class="icon-legenda_1"></div>
    </div>
    <div class="small-1 cell">
      <div class="icon-legenda_2"></div>
    </div>
    <div class="small-1 cell">
      <div class="icon-legenda_3"></div>
    </div>
    <div class="small-1 cell">
      <div class="icon-legenda_4"></div>
    </div>
    <div class="small-1 cell">
      <div class="icon-legenda_5"></div>
    </div>
    <div class="small-1 cell">
      <div class="icon-legenda_6"></div>
    </div>
    <div class="small-1 cell">
      <div class="icon-legenda_7"></div>
    </div>
  </div>
</div>