@import "../../styles/breakpoints";
@import "../../styles/colors";
@import "../../styles/typography";

.login-wrapper {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;

  @include media-large {
    padding-top: 6em;
  }
}

.logo-wrapper {
  max-width: 150px;
  margin: 0 auto 3em;

  img {
    width: 100%;
  }
}

.links {
  text-align: center;

  & > * {
    font-weight: 300;
    display: inline-block;
    margin: 0 .3rem;
    font-size: $s-1;
    color: $text-grey;
  }
}

.error-wrapper {
  text-align: center;
  color: $text-red;
  margin: 1rem 0;
  text-transform: uppercase;
}
