<div class="login-wrapper">
  <div class="logo-wrapper">
    <img src="assets/img/logo_Terma.svg" alt="">
  </div>
  <div *ngIf="errorCode" class="error-wrapper">
    <div class="message">{{errorMessage}}</div>
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="onSignin()">
    <div class="grid-container">
      <div class="small-10 small-offset-1 cell">
        <div class="form-control with-icon">
          <input formControlName="user" type="email" id="user" placeholder="login">
          <div class="icon icon-red icon-user"></div>
        </div>
      </div>
      <div class="small-10 small-offset-1 cell">
        <div class="form-control with-icon">
          <input formControlName="password" type="password" id="password" placeholder="hasło">
          <div class="icon icon-red icon-password"></div>
        </div>
      </div>
      <div class="small-10 small-offset-1 cell">
        <div class="button-control">
          <div *ngIf="busy" class="busy-indicator-on-red"></div>
          <button type="submit" class="button" [ngClass]="{'busy': busy}" [disabled]="!loginForm.valid">Zaloguj</button>
        </div>
      </div>
    </div>
  </form>
  <div class="links">
    <a [href]="authService.getT24url() + '/recover'">Zapomniałeś hasła?</a><span>|</span><a [href]="authService.getT24url() + '/register'">Rejestracja</a>
  </div>
</div>

