<ng-container *ngIf="isLoggedIn">
  <footer class="show-for-large">
    <div class="grid-container">
      <nav class="top">
        <ul>
          <li><a [routerLink]="['']">Kontakt</a></li>
          <li><a [routerLink]="['']">Regulamin korzystania</a></li>
          <li><a [routerLink]="['']">Polityka ochrony prywatności</a></li>
          <li><a [routerLink]="['']">Warunki gwarancji</a></li>
          <li><a [routerLink]="['']">Terminal płatności</a></li>
        </ul>
      </nav>
      <div class="text-wrapper">
        <p>
        Platforma B2B przeznaczona jest dla naszych Partnerów Handlowych, jeśli jesteś zainteresowany kupnem produktów inywidualnie, zapraszamy do zapoznania się z ofertą naszych <span class="font-normal">Partnerów Handlowych</span>.<br>
        Informacje na temat produktów TERMA znajdziesz na stronie <a href="https://www.termaheat.pl" target="_blank">www.termaheat.pl</a>.<br>
        Wybrane produkty możesz zakupić w ofercie wyprzedażowej na stronie <a href="https://www.termaoutlet.pl" target="_blank">www.termaoutlet.pl</a>.
      </p>
      <p>
        <span class="font-normal">Terma Sp. z o.o.</span> Czaple 100 80-298 Gdańsk Polska<br>
        <span class="font-normal">NIP</span>: 583-10-18-844 <span class="font-normal">REGON</span>: 190558447<br>
        ING BANK ŚLĄSKI S.A. PL 88 1050 1764 1000 0023 0692 5997
      </p>
      </div>
      <nav class="bottom">
        <ul><li><a href="http://www.termagroup.pl/">Terma Spółka</a></li>
          <li><a href="http://www.termamax.pl/">Maszyny budowlane</a></li>
          <li><a href="http://www.termaservices.pl/">Usługi przemysłowe</a></li>
          <li><a href="http://www.termagalvanic.pl/">Galwanizernia</a></li>
          <li><a href="https://www.termamed.pl/">Produkty medyczne</a></li>
          <li><a href="https://www.termaoutlet.pl/">Wyprzedaż grzejników</a></li>
        </ul>
      </nav>
    </div>
    <!--<div class="grid-container">
      <nav>
        <ul>
          <li><a [routerLink]="['dashboard']"><span>Dashboard</span></a>
            <ul>
              <li><a [routerLink]="['dashboard']" fragment="radiators"><span>Grzejniki</span></a></li>
              <li><a [routerLink]="['dashboard']" fragment="heaters"><span>Grzałki</span></a></li>
              <li><a [routerLink]="['dashboard']" fragment="accessories"><span>Akcesoria</span></a></li>
            </ul>
          </li>
          <li><a [routerLink]="['configurator']"><span>Konfigurator</span></a>
            <ul>
              <li><a [routerLink]="['configurator']" fragment="profile"><span>Profilowe</span></a></li>
              <li><a [routerLink]="['configurator']" fragment="cast-iron"><span>Odlewane</span></a></li>
              <li><a [routerLink]="['configurator']" fragment="heaters"><span>Grzałki</span></a></li>
              <li><a [routerLink]="['configurator']" fragment="accessories"><span>Akcesoria</span></a></li>
            </ul>
          </li>
          <li><a [routerLink]="['parser']"><span>Zamówienie po kodzie</span></a></li>
          <li><a [routerLink]="['warehouse']"><span>Stany magazynowe (Drupal)</span></a>
            <ul>
              <li><a [routerLink]="['warehouse']" fragment="radiators"><span>Grzejniki</span></a></li>
              <li><a [routerLink]="['warehouse']" fragment="heaters"><span>Grzałki</span></a></li>
              <li><a [routerLink]="['warehouse']" fragment="accessories"><span>Akcesoria</span></a></li>
            </ul>
          </li>
          <li><a [routerLink]="['ax-warehouse']"><span>Stany magazynowe (AX)</span></a>
            <ul>
              <li><a [routerLink]="['ax-warehouse']" fragment="radiators"><span>Grzejniki</span></a></li>
              <li><a [routerLink]="['ax-warehouse']" fragment="heaters"><span>Grzałki</span></a></li>
              <li><a [routerLink]="['ax-warehouse']" fragment="accessories"><span>Akcesoria</span></a></li>
            </ul>
          </li>
          <li><a [routerLink]="['account']"><span>Twoje konto</span></a>
            <ul>
              <li><a [routerLink]="['account/default-data']"><span>Edycja danych</span></a></li>
              <li><a [routerLink]="['account/orders']"><span>Zamówienia</span></a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>-->
  </footer>
</ng-container>

