@import "../../styles/breakpoints";
@import "../../styles/placeholders";
@import "../../styles/mixins";
@import "../../styles/variables";
@import "../../styles/colors";
@import "../../styles/typography";

footer {
  text-align: center;
  border-top: 1px solid $light-grey1;
  background-color: $white;
  margin-top: -$footer-height-large;

  a {
    color: $text-grey;
    transition: .3s color ease-in-out;

    &:hover {
      color: $text-red;
    }
  }

  nav {
    margin-top: 1.25rem;

    &.top {

      a {
        font-size: $s0;
        color: $text-grey;

        &:hover {
          color: $text-red;
        }
      }
    }

    &.bottom {
      margin-bottom: 3rem;

      a {
        font-size: $s-1;
        color: $text-black;

        &:hover {
          color: $text-red;
        }
      }
    }

    & > ul {
      margin: 0;

      & > li {
        display: inline-block;
        vertical-align: top;
        text-align: left;

        & > a {
          font-weight: 400;
          padding: .5rem;
          text-transform: uppercase;
        }
        /*

        ul {
          margin-top: .75rem;

          a {
            padding: 0 .5rem;
            font-size: $s-3;
            color: $text-grey;

            &:hover {
              color: $text-red;
            }
          }
        }*/
      }
    }
  }

  .text-wrapper {
    margin: auto;
    padding: 1rem .5rem;
    max-width: 40rem;

    p {
      font-size: $s-1;
      font-weight: 300;
      line-height: $s1;
      color: $text-grey;
      margin: 1rem auto;
      text-align: center;

      a {
        font-weight: 400;
      }
    }
  }
}
