<%=ENVIROMENT=%>
<ng-container *ngIf="isLoggedIn">
  <header>
    <div class="hide-for-large grid-container">
      <nav class="grid-x align-middle">
        <div class="small-3 cell" data-toggle="offCanvas">
          <span class="icon icon-menu icon-grey"></span>
        </div>
        <div class="small-6 cell text-center">
          <span *ngIf="cartService.cartCnt" class="amount">{{cartService.getCart().amount | currencyFormat}}</span>
        </div>
        <div class="small-3 cell text-right">
          <a *ngIf="cartService.cartCnt > 0" [routerLink]="['cart']" class="button-with-icon">
            <span class="cart-cnt">{{cartService.cartCnt}}</span>
          </a>
        </div>
      </nav>
    </div>
    <div class="show-for-large grid-x align-middle">
      <div class="auto cell grid-x align-middle">
        <a [routerLink]="['dashboard']" class="logo-wrapper">
          <img src="assets/img/logo_Terma_H.svg" alt="">
        </a>
        <nav class="auto cell desktop-menu">
          <ul>
            <li>
              <span>Produkty</span>
              <ul>
                <li><a [routerLink]="['configurator']">Lista&nbsp;produktów</a></li>
                <li><a [routerLink]="['parser']">Zamówienie&nbsp;po&nbsp;kodzie</a></li>
              </ul>
            </li>
            <li>
              <span>Usługi</span>
              <ul>
                <li><a [routerLink]="['dashboard']" data-close><span>Dashboard</span></a></li>
                <li><a [routerLink]="['warehouse']" data-close><span>Magazyn&nbsp;(Drupal)</span></a></li>
                <li><a [routerLink]="['ax-warehouse']" data-close><span>Magazyn&nbsp;(AX)</span></a></li>
              </ul>
            </li>
            <li>
              <span>Pomoc</span>
              <ul>
                <li><a [href]="authService.getT24url() + '/user'">Test</a></li>
              </ul>
            </li>
            <li>
              <span>Twoje konto</span>
              <ul>
                <li><a [routerLink]="['account']"><span>Dane</span></a></li>
                <li><a [routerLink]="['account/orders']"><span>Zamówienia</span></a></li>
                <li><a (click)="onLogout()"><span>Wyloguj</span></a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
      <div class="shrink cell">
        <div class="search">
          <div class="form-control with-icon">
            <input #search (keyup.enter)="onSearch(search.value)" type="text" id="search"
                   placeholder="wpisz nazwę produktu lub kod">
            <div (click)="onSearch(search.value)" class="icon icon-red icon-find"></div>
          </div>
        </div>
        <a *ngIf="cartService.cartCnt > 0" [routerLink]="['cart']" class="cart">
          <div class="grid-x align-middle">
            <div class="auto cell text-right">
                <span class="cart-amount"
                      *ngIf="cartService.cartCnt">{{cartService.getCart().amount | currencyFormat}}</span>
              <span class="cart-cnt">{{cartService.cartCnt}}</span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </header>
</ng-container>

