@import "../../styles/breakpoints";
@import "../../styles/placeholders";
@import "../../styles/mixins";
@import "../../styles/variables";
@import "../../styles/colors";
@import "../../styles/typography";

header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
  background-color: $white;
  border-bottom: 1px solid $light-grey1;
  height: $header-height;
  padding: .5rem 0;

  @include media-large {
    border: none;
    height: $header-height-large;
    padding: 0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
  }

  .grid-container {
    height: 100%;
  }

  .grid-x {
    height: 100%;
  }

  //mobile
  .icon-menu {
    font-size: 2rem;
    line-height: 2rem;
    height: 2rem;
    cursor: pointer;
    display: inline-block;
  }

  .amount {
    font-size: $s2;
    color: $text-red;
    display: block;
  }

  .button-with-icon {
    display: inline-block;
  }

  //desktop
  .logo-wrapper {
    display: inline-block;
    vertical-align: middle;
    margin-left: 4rem;
    max-width: 168px;
    width: 20%;

    img {
      width: 100%;
    }
  }

  .desktop-menu {
    max-width: 480px;
    text-align: right;
    padding-right: .5rem;

    & > ul {
      margin: 0;

      & > li {
        position: relative;
        display: inline-block;
        padding: .125rem .5rem;
        font-size: $s0;
        text-transform: uppercase;
        cursor: pointer;

        a {
          color: $text-black;
        }

        ul {
          position: absolute;
          z-index: 2;
          margin: 0;
          padding: .25rem 0 .5rem;
          display: none;
          background-color: $red1;
          left: 0;
          top: 100%;

          li {
            display: block;
            padding: .125rem .75rem;
            font-size: $s0;
            text-transform: none;
            text-align: left;

            a {
              color: $text-white;
              padding-bottom: 2px;
              border-bottom: 1px solid transparent;
              transition: .3s border ease-in-out;
            }

            &:hover {
              a {
                border-color: $white;
              }
            }
          }
        }

        &:hover {
          background-color: $red1;

          a,
          span {
            color: $text-white;
          }

          ul {
            display: block;
          }
        }
      }
    }
  }

  .search {
    display: inline-block;
    vertical-align: middle;
    width: 17rem;
    margin-right: 1.5rem;

    input {
      border-radius: 0
    }

    .icon {
      cursor: pointer;
    }
  }

  .cart {
    display: inline-block;
    vertical-align: middle;
    height: $header-height-large;
    width: 12.5rem;
    background-color: $red1;
    color: $text-white;
    transition: .3s all ease-in-out;

    &:hover {
      background-color: $red2;
    }

    .grid-x {
      height: 100%;
    }

    .cart-amount {
      display: inline-block;
      vertical-align: middle;
      font-size: $s2;
      font-weight: 600;
    }

    @include cart-cnt(2, $s-1);

    .cart-cnt {
      display: inline-block;
      vertical-align: middle;
      color: $text-white;
      margin-top: 0;
      margin-right: 1.5rem;

      &:before {
        color: $text-white;
      }
    }
  }
}
