@import "../../../styles/variables";
@import "../../../styles/colors";
@import "../../../styles/typography";
@import "../../../styles/mixins";

@include with-circle(30px);

.with-circle > .circle {
  margin: .7rem auto .2rem;
}

.container {

  & > div {
    float: left;
  }
}