<comp-header [title]="title"></comp-header>
<div class="wrapper">
  <div class="grid-x">
    <ng-container *ngIf="radiatorConfig">
      <div class="small-5 cell">
        <lazy-img [image]="radiatorConfig.image" [columns]="[12, 0, 0]"></lazy-img>
      </div>
      <div class="small-7 cell">
        <div class="grid-x">
          <div class="small-6 cell">
            <h2 class="text-red">{{radiatorConfig.label}}
              <dev-box *ngIf="outlet" [label]="'Outlet'">
              </dev-box>
            </h2>
          </div>
          <div class="small-6 cell">
            <div *ngIf="salesPrice && listPrice" class="text-right">
              <h2 class="text-red no-bottom-margin">{{salesPrice | currencyFormat}}</h2>
              <p class="text-grey crossed medium">{{listPrice | currencyFormat}}</p>
            </div>
          </div>
        </div>
        <div class="text-right">
          <item-counter [min]="1" [max]="outlet ? qty : _NaN"
                        [(counter)]="counter"></item-counter>
          <br>
          <span class="text-grey medium">{{qty | number:'1.0-0'}} szt. na magazynie</span><br>
          <div class="medium padded-y text-red" *ngIf="!outlet && counter > qty">
            {{counter - qty}} grzejników do wyprodukowania
          </div>
          <button (click)="addToCart(i)" class="button rounded-small">
            <span class="icon-basket"></span>
            <span>Dodaj</span>
          </button>
        </div>
      </div>
      <div class="small-11 small-offset-1 cell padded-y">
        <span class="medium">{{radiatorConfig.sku}}</span>
      </div>
      <div class="small-4 small-offset-1 cell">
        <h5>S {{radiatorConfig.width}}mm</h5>
        <h5>W {{radiatorConfig.height}}mm</h5>
      </div>
      <div class="small-6 small-offset-1 cell">
        <div class="container">
          <div [ngClass]="'connection-icon icon-grey icon-' + radiatorConfig.connection.toLowerCase()"></div>
          <div class="with-circle">
            <div class="circle"
                 [ngStyle]="(radiatorConfig.color.img && {'background-image': 'url('+radiatorConfig.color.img+')'}) || {'background-color': '#'+radiatorConfig.color.hex}">
            </div>
            <p>{{radiatorConfig.color.colorName}}</p>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="radiatorData">
      <div class="small-11 small-offset-1 cell padded-y">
        <p class="text-red">{{radiatorData.lead}}</p>
        <p>{{radiatorData.description}}</p>
      </div>
      <div class="small-10 small-offset-2 cell">
        <p>Parametry:</p>
        <p>Max. temp.: <span>{{radiatorData.maxTemperature}}</span></p>
        <p>Ciśnienie: <span>{{radiatorData.pressure}}</span></p>
        <p>Gwarancja: <span>{{radiatorData.warranty}}</span></p>
      </div>
    </ng-container>
    <ng-container *ngIf="radiatorSpecs">
      <div class="small-10 small-offset-2 cell">
        <p>Max. temp.: <span>{{radiatorSpecs.modelName}}xxx</span></p>
      </div>
    </ng-container>
  </div>
</div>

