@mixin media-small-only {
  /* Small only */
  @media screen and (max-width: 39.9375em) {
    @content;
  }
}
@mixin media-medium {
  /* Medium and up */
  @media screen and (min-width: 40em) {
    @content;
  }
}
@mixin media-medium-only {
  /* Medium only */
  @media screen and (min-width: 40em) and (max-width: 63.9375em) {
    @content;
  }
}
@mixin media-large {
  /* Large and up */
  @media screen and (min-width: 64em) {
    @content;
  }
}
@mixin media-large-only {
  /* Large only */
  @media screen and (min-width: 64em) and (max-width: 74.9375em) {
    @content;
  }
}
@mixin media-xlarge {
  /* XLarge and up */
  @media screen and (min-width: 75em) {
    @content;
  }
}
@mixin media-xlarge-only {
  /* XLarge only */
  @media screen and (min-width: 75em) and (max-width: 99.9375em) {
    @content;
  }
}
@mixin media-xxlarge {
  /* XXLarge only */
  @media screen and (min-width: 100em) {
    @content;
  }
}
