//basic
$light-grey1: #9b9b9b;
$light-grey2: #cbcbcb;
$red1: #d0021b;
$red2: #bf021b;
$white: #fff;
$black: #4a4a4a;
$trans-grey1: rgba(204, 204, 204, 0.1);
$trans-grey2: rgba(155, 155, 155, 0.5);

//text
$text-grey: $light-grey1;
$text-red: $red1;
$text-white: $white;
$text-black: $black;
