
.ng-invalid {
  border-color: $red1;
}

h4.form-group-title {
  font-size: $s-1;
  color: $text-grey;
  margin-bottom: 0;
  line-height: 24px;
}

.form-control input,
.form-control select,
.button-control .button {
  box-sizing: border-box;
  border-radius: 25px;
  font-weight: 300;
  line-height: 50px;
  padding: 0;
  width: 100%;
}

.form-control select {
  height: 50px;
}

.form-control {
  margin: .5rem;
  position: relative;

  input,
  select {
    font-size: $s-1;
    color: $text-black;
    border: 1px solid $light-grey1;
    background-color: $white;
    padding-left: 30px;
    transition: .3s all ease-in-out;

    &:focus {
      outline: none;
    }

    &.ng-invalid {
      border-color: $red1;
    }
  }

  input[type="checkbox"] {
    display: none;

    &:checked {
      & ~ .checkbox {
        svg {
          fill: $light-grey1;
        }
      }
    }
  }

  input[type="radio"] {
    display: none;

    &:checked {
      & ~ .radio {
        &:before {
          background-color: $light-grey1;
        }
      }
    }
  }

  span,
  p {
    vertical-align: middle;
    display: inline-block;

    &.label {
      color: $text-black;
      font-weight: 300;
      font-size: $s-1;
      margin-left: .5rem;
      margin-bottom: 0;
      padding-left: .5rem;
      border-left: 1px solid $light-grey1;
      width: 80%;

      &.small {
        border-left: none;
        font-size: $s-3;
        margin-left: 34px;
      }
    }
  }

  &.with-icon {
    position: relative;

    .icon {
      position: absolute;
      left: 18px;
      top: 50%;
      margin-top: -.5rem;
      height: 1rem;
      border-right: solid 1px $light-grey1;
      transition: .5s all ease-in-out;

      &:before {
        font-size: 1.6rem;
        margin-right: .4rem;
        height: 1rem;
        line-height: 1rem;
      }
    }

    input {
      padding-left: 60px;

      &:focus {
        padding-left: 50px;

        & + .icon {
          transform: translate(-10px, 0);
        }
      }
    }
  }
}

.button-control {
  margin: 0 .5rem;
  position: relative;

  .button {
    margin: 1rem 0;
    font-size: $s1;
    color: $text-white;
    background-color: $red1;
    border: 1px solid $red1;
    transition: .3s all ease-in-out;
    position: relative;

    &:hover,
    &:focus,
    &:active {
      background-color: $red2;
      border-color: $red2;
      outline: none;
    }

    &.busy {
      cursor: not-allowed;

      &:hover {
        background-color: $red1;
        border-color: $red1;
      }
    }

    &.white {
      color: $text-red;
      background-color: $white;

      &:hover,
      &:focus,
      &:active {
        color: $text-white;
        background-color: $red1;
        border-color: $red1;
      }
    }

    &.grey {
      color: $text-grey;
      background-color: $white;
      border-color: $light-grey1;

      &:hover,
      &:focus,
      &:active {
        color: $text-white;
        background-color: $light-grey1;
      }
    }

    &.no-bottom-margin {
      margin-bottom: 0;
    }
  }
}

.checkbox {
  $d: 20px;
  height: $d;
  width: $d;
  display: inline-block;
  border: 1px solid $light-grey1;
  position: relative;

  svg {
    position: absolute;
    top: -1px;
    left: -1px;
    fill: $white;
    transform: scale(.8);
    margin: auto;
  }
}

.radio {
  $d: 20px;
  height: $d;
  width: $d;
  display: inline-block;
  border: 1px solid $light-grey1;
  border-radius: 50%;
  position: relative;

  &:before {
    $d: 8px;
    height: $d;
    width: $d;
    display: block;
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: -4px auto 0;
    border-radius: 50%;
  }
}

