.line-item {
  color: $text-black;
  font-weight: 300;

  .icon-cross {
    font-size: 38px;

    @include media-large {
      font-size: 48px;
    }
  }

  h3 {
    @include media-large {
      margin-bottom: 2.25rem;
      font-size: $s7;
    }
  }

  h5 {
    font-size: $s-1;
    color: $text-grey;
    margin: 0;
    display: block;
    padding: 0;
    line-height: 1;
    width: 100%;

    @include media-large {
      font-size: $s3;
    }
  }
}

.container {

  &.margin-top {
    margin-top: .5rem;

    @include media-large {
      margin-top: 0;
    }
  }

  & > div {
    display: inline-block;
    vertical-align: middle;
  }

  @include with-circle(36px);

  .with-circle {

    & > .circle {
      display: inline-block;
      vertical-align: middle;
      margin: 0 0 0 .5rem;

      @include media-medium {
        margin-left: 1.5rem;
        width: 40px;
        height: 40px;
      }

      @include media-large {
        width: 48px;
        height: 48px;
      }
    }

    p {
      display: inline-block;
      vertical-align: middle;
      color: $text-grey;
      margin-left: .25rem;

      @include media-medium {
        max-width: none;
      }

      @include media-large {
        font-size: $s2;
      }
    }
  }

  .connection-icon {

    &:before {
      font-size: 3em;

      @include media-medium {
        font-size: 4em;
      }

      @include media-large {
        font-size: 4.5rem;
      }
    }
  }

  .quantity-container {
    display: block;

    @include media-large {
      display: inline-block;
    }

    h5 {
      text-align: right;
      color: $text-red;
      margin-bottom: .5rem;

      @include media-large {
        font-weight: 600;
        margin: 2.5rem 0 0 1rem;
      }
    }
  }

  .counter-container {
    margin-top: .6rem;
    display: block;
    float: right;

    @include media-large {
      display: inline-block;
      float: none;
      margin-top: 2rem;
    }
  }

  .price-container {
    text-align: right;
    display: block;

    @include media-large {
      float: right;
      margin-top: 26px;
    }

    h4 {
      color: $text-red;
      margin: 0;

      @include media-large {
        display: inline-block;
        line-height: 1;
        font-weight: 700;
        font-size: $s6;
      }
    }

    p {
      margin-bottom: 0;
      color: $text-grey;
      font-size: $s-5;
      margin-top: .25rem;
    }

    &.dynamic {
      &.small-indicator {
        &:before {
          right: 6rem;
          top: 23px;
        }
      }
    }
  }
}

