.menu.off-canvas {
  background: $white;
  padding: 1rem;

  &.position-left.is-transition-push {
    box-shadow: 3px 0 8px 0 rgba(10, 10, 10, 0.25);
  }

  .close-button {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  .user {
    font-size: $s-1;
    font-weight: 300;
    color: $text-grey;
    padding-left: .5rem;
  }

  nav {
    & > ul {
      margin: 0;

      & > li {
        position: relative;
        padding-left: .5rem;
        font-size: $s-2;
        font-weight: 300;
        line-height: 3rem;
        border-bottom: 1px solid $light-grey1;

        a,
        span {
          display: block;
          color: $text-grey;
          transition: .3s all ease-in-out;

          &:hover {
            color: $text-red;

            .cart-cnt {
              color: $text-red;
            }
          }
        }

        .cart-cnt {
          position: absolute;
          top: .5rem;
          right: .25rem;
        }

        & > span {
          cursor: pointer;

          &:before {
            position: absolute;
            right: .5rem;
            top: .75rem;
            font-size: 1.5rem;
            content: '\e806';
            transition: .3s transform ease-in-out;
            @extend %icon;
          }

          &.expanded {
            &:before {
              transform: rotate(180deg);
            }

            & + ul {
              max-height: 100px;
              position: relative;
              overflow: hidden;
            }
          }
        }

        & > ul {
          margin-left: .5rem;
          max-height: 0;
          position: relative;
          overflow: hidden;
          transition: .3s all ease-in-out;

          li {
            font-size: $s-2;
            padding-bottom: .5rem;

            &:last-child {
              padding-bottom: 1rem;
            }
          }
        }
      }
    }
  }
}

.js-off-canvas-overlay {
  background: rgba(0, 0, 0, .4);
}