@mixin cart-cnt($size, $font-size) {


  .cart-cnt {
    font-weight: 700;
    position: relative;
    width: $size * 2rem;
    text-align: center;
    color: $red1;
    font-size: $font-size;
    padding-right: 1px;
    display: block;
    margin-top: .5rem;
    line-height: 1.5rem;

    &:before {
      @extend %icon;
      content: '\e800';
      font-size: $size * 1.9rem;
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      margin: -$size * 1.125rem auto 0;
      color: $text-grey;
      width: $size * 1.875rem;
    }
  }
}

@mixin with-circle($d) {
  .with-circle {
    width: auto;
    $b: 3px;

    & > .circle {
      display: block;
      height: $d;
      width: $d;
      margin: .5rem auto 1rem;
      border-radius: 50%;
      text-align: center;
      overflow: hidden;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      &:after {
        content: '';
        display: block;
        margin: auto;
        height: 100%;
        width: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .2));
      }
    }

    &:before {
      content: '';
      position: absolute;
      top: calc(.5rem - #{$b});
      left: 0;
      right: 0;
      height: $d;
      width: $d;
      margin: auto;
      border-radius: 50%;
      border: $b solid transparent;
      box-sizing: content-box;
      transition: .3s all ease-in-out;
    }

    &.active:before {
      border-color: $red1;
      box-shadow: inset 0 4px 3px 0 rgba(0, 0, 0, 0.5), 0 1px 2px 0 rgba(0, 0, 0, 0.5)
    }

    p {
      font-weight: 300;
      font-size: .8rem;
      max-width: $d;
      margin: auto;
      text-align: center;
    }
  }
}