.padding-for-fix-nav {
  padding-bottom: 7rem;

  @include media-large {
    padding-bottom: 0;
  }
}

.padding-for-fix-title {
  padding-top: 5rem;
}

button {
  font-weight: 300;

  &:focus {
    outline: none;
  }
}

.button {
  &.rounded {
    border-radius: 25px;
  }

  &.rounded-small {
    border-radius: 25px;
    font-size: $s1;
    height: 1.5rem;
    line-height: 1.5rem;
    width: 138px;
    padding: 0;
    border: none;

    &.full {
      width: 100%;
      max-width: 138px;
    }
  }
}

.padded {
  padding-bottom: 4rem;
}

.fixed-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;

  .button {
    padding: 1rem;
    margin: 0;
    border-top: 1px solid $light-grey1;
    color: $text-red;
    background-color: $white;
    text-transform: capitalize;
    transition: .3s all ease-in-out;

    &:hover {
      color: $text-red;
      background-color: $white;
      border-top-color: $red1;

      & + .button {
        border-left-color: $red1 !important;
      }
    }

    &.red {
      color: $white;
      background-color: $red1;
      border-color: $red1;

      &:hover {
        background-color: $red2;
      }
    }

    &.disabled,
    &.red.disabled {
      opacity: 1;
      color: $text-grey;
      background-color: $white;
      border-color: transparent;
      border-left-color: $light-grey1;
      border-top-color: $light-grey1;
    }
  }
}

.switch {
  width: 56px;
  height: 30px;
  background-color: $light-grey1;
  border-radius: 15px;
  position: relative;
  cursor: pointer;

  span {
    $dim: 24px;
    width: $dim;
    height: $dim;
    background-color: $white;
    position: absolute;
    left: 4px;
    top: 3px;
    border-radius: 50%;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
    transition: .4s all ease-in-out;
  }

  &.on {
    span {
      transform: translate(24px, 0);
    }
  }
}

.remove {
  cursor: pointer;

  @include media-large {
    margin-left: .5rem;
    margin-right: 3rem;
  }

  &:hover {
    .icon:before {
      color: $text-red;
    }
  }

  &:disabled {
    opacity: .4;
  }

  .icon {
    transition: .3s all ease-in-out;
    font-size: 2rem;

    @include media-large {
      font-size: 3rem;
    }

    &:before {
      transform: rotate(45deg);
    }
  }
}

.counter-container {
  margin-top: 1.5rem;
  max-width: 85px;
  display: inline-block;

  @include media-large {
    max-width: 100px;
  }

  span {
    display: block;
    color: $text-grey;
    text-align: right;
    margin-top: .5rem;
  }
}