$s7: 3rem; //48px
$s6: 2.5rem; //40px
$s5: 2.25rem; //36px
$s4: 1.625rem; //26px
$s3: 1.5rem; //24px
$s2: 1.125rem; //18px
$s1: 1.0625rem; //17px
$s0: 1rem; //16px
$s-1: .875rem; //14px;
$s-2: .8125rem; //13px
$s-3: .75rem; //12px
$s-4: .6875rem; //11px
$s-5: .625rem; //10px
$s-6: .5rem; //8px

.crossed {
  text-decoration: line-through;
}

.big {
  font-size: $s2;
}

.normal {
  font-size: $s0;
}

.medium {
  font-size: $s-3;
}

.small {
  font-size: $s-5;
}