//@import "baseline";
@import "colors";
@import "breakpoints";
@import "variables";
@import "placeholders";
@import "mixins";
@import "typography";
@import "text";
@import "nav";
@import "forms";
@import "menu";
@import "fontello/icons";
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@import "lineitem";

#env {
  position: fixed;
  font-size: .5rem;
  color: $text-red;
  left: 1em;
  top: .5em;
  z-index: 10;
}

.dev-data {
  position: absolute;
  left: .3rem;
  bottom: .3rem;
  opacity: .5;
  font-size: .4rem;

  & > * {
    display: inline;
    width: auto;
    border: none;
  }

  &._big {
    font-size: .6rem;
  }

  &.top-right {
    left: initial;
    right: .3rem;
    top: .3rem;
    bottom: initial;
  }

  &.top-left {
    top: .3rem;
    bottom: initial;
  }

  &.bottom-right {
    left: initial;
    right: .3rem;
  }
}

.wrapper {
  width: 90%;
  margin: auto;
  max-width: 75rem;
}

.middle {
  vertical-align: middle;
}

.busy-indicator-on-red {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 2rem;
  margin-top: -1rem;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  background-image: url(../assets/img/loader-on-red.gif);
  background-position: center;
  background-size: contain;
}

.busy-indicator {
  position: absolute;
  top: 50%;
  left: -2rem;
  margin-top: -1rem;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  background-image: url(../assets/img/loader_2.gif);
  background-position: center;
  background-size: contain;

  &.static {
    position: static;
  }
}

.fixed-title {
  position: fixed;
  z-index: 2;
  left: 0;
  right: 0;
  margin: auto;
  background-color: $white;
  box-shadow: 0 3px 23px -9px rgba(0, 0, 0, 0.35);
}

.grid-container,
.grid-x,
.cell {
  &.relative {
    position: relative;
  }

  &.no-padding {
    padding: 0;
  }
}

.active {
  color: $red1;
}

.clickable {
  cursor: pointer;
  transition: color .3s ease-in-out;
  color: $text-grey;

  &.bordered {
    padding: .25rem;

    & > div {
      transition: .3s border ease-in-out;
      border: 1px solid transparent;
      padding: 0 .25rem;

      p {
        margin-bottom: .5rem;
      }
    }

    &.active {

      & > div {
        border-color: $text-red;
      }
     }
  }

  .lazy-img-container {
    transition: .3s opacity ease-in-out;
    opacity: .6;
  }

  p {
    transition: .3s color ease-in-out;
  }

  &.active,
  &:not(.no-exists):hover {
    color: $text-red;

    .lazy-img-container {
      opacity: 1;
    }

    p {
      color: $text-red;
    }
  }

  &.no-exists {
    opacity: .2;
    cursor: not-allowed;
  }
}

.fixed-table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

.line-with-icon {
  height: 1rem;

  &:before {
    font-size: 1.2rem;
    height: 1rem;
    width: 1rem;
    line-height: 1rem;
    vertical-align: middle;
  }

  &:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin: 0 1rem;
    height: .8rem;
    border-right: solid 1px $light-grey1;
  }
}

@include cart-cnt(1, $s-6);

.close-button {
  font-size: 1.7rem;
  cursor: pointer;

  .icon:before {
    transition: .3s color ease-in-out;
  }

  &:hover {
    .icon:before {
      color: $text-red;
    }
  }
}

.button-with-icon {
  &:hover {
    &:before,
    *:before {
      color: $text-red;
    }
  }
}

.configurator {

  .preview {
    border-bottom: 1px solid $light-grey1;
    margin-bottom: .5rem;

    @include media-large {
      border-bottom: none;
      border-right: 1px solid $light-grey1;
      margin-bottom: 0;
    }
  }

  h2 {
    font-size: $s5;
    font-weight: 300;
    color: $text-black;
    margin-bottom: 1rem;
  }

  h3 {
    font-size: $s-1;
    font-weight: 300;
    color: $text-red;
    margin-bottom: 1rem;
  }

  h6 {
    font-size: $s-1;
    margin: 0 0 0 1rem;

    @include media-large {
      font-size: 1.5rem;
      margin: 0 0 0 2rem;
    }
  }

  .switch {
    margin-right: 1rem;
  }

  .slide-list {

    @include media-large {
      padding: 2rem 0 0 2rem;
      display: inline-block;
    }

    &.no-padding {

      @include media-large {
        padding: 0;
      }
    }
  }

  .last-element {
    @include media-large {
      margin-bottom: 5rem;
    }
  }

  .nav-buttons {

    @include media-large {
      width: 100%;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}

.options {
  position: relative;

  .cell {
    padding-top: 1rem;

    &:first-child {
      padding-left: 1rem;
    }

    &:last-child {
      padding-right: 1rem;
      text-align: right;
    }
  }
}

.dynamic {
  position: relative;

  &.static {
    position: static;
  }

  &.loading {
    min-height: 200px;

    &:before {
      $dim: 60px;
      opacity: 1;
      content: '';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      margin: -$dim / 2 auto 0;
      height: $dim;
      width: $dim;
      background-image: url(../assets/img/loader_2.gif);
      background-position: center;
      transition: .3s opacity ease-in-out;
    }

    & > * {
      opacity: 0;
      height: 0;
      overflow: hidden;
    }
  }

  &.rel {
    position: relative;
    min-height: 0;
    min-width: 100px;
  }

  &.to-left {
    &:before {
      right: initial;
    }
  }

  &.to-right {
    &:before {
      left: initial;
      right: 2rem;
    }
  }

  &.small-indicator {
    &:before {
      $dim: 30px;
      margin: -$dim / 2 auto 0;
      height: $dim;
      width: $dim;
      background-size: contain;
    }
  }

  &:before {
    opacity: 0;
  }

  & > * {
    transition: .3s opacity ease-in-out;
    opacity: 1;
  }

  &.no-min-height {
    min-height: 0;
    position: static;
  }
}

.slide-list {
  width: 100%;
  display: flex;
  overflow-x: auto;
  background-color: inherit;

  @include media-large {
    overflow-x: initial;
  }

  .no-data {
    width: 100%;
    position: absolute;
    padding-top: 3rem;
    text-align: center;
    z-index: 0;

    @include media-large {
      width: auto;
    }
  }

  .slide {
    position: relative;
    width: 120px;
    flex-shrink: 0;
    height: 100%;

    @include media-large {
      display: inline-block;
      vertical-align: top;
      width: 33%;
    }
  }

  .sublist {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    background-color: $white;

    @include media-large {
      width: auto;
      position: relative;
    }

    p {
      text-align: center;
      color: $text-grey;
      font-size: $s-5;
    }

    .slide-list {
      position: relative;
      z-index: 1;
    }
  }
}

@include with-circle(58px);

.align-middle {
  align-items: center;
}

p {
  color: $text-black;
}

.modal.reveal {
  width: 90%;
  max-width: 380px;
  min-height: 0;
  height: auto;
  margin: auto;

  .close-button {
    position: absolute;
    right: 10px;
    top: 10px;
  }
}

.page-title {
  h1 {
    font-size: $s-1;
    text-transform: uppercase;
    color: $text-black;
    padding-top: 1rem;
    margin-bottom: 1rem;
  }
}

.subtitle {
  h2 {
    font-size: $s-2;
    color: $text-black;
    padding-top: 1rem;
    margin-bottom: 1rem;
  }
}

.spaced {
  margin: 0 .25rem;
}

.spaced-right {
  margin: 0 .25rem 0 0;
}

.spaced-left {
  margin: 0 0 0 .25rem;
}

.text-bottom {
  vertical-align: text-bottom;
}

.text-top {
  vertical-align: text-top;
}

.steps {
  font-size: $s-4;
  font-weight: 300;
  color: $text-red;
  margin-top: 1rem;

  td {
    position: relative;

    &:first-child span:before,
    &:last-child span:after {
      display: none;
    }
  }

  h6 {
    font-size: $s0;
    margin-bottom: .2rem;

    @include media-large {
      font-size: $s2;
    }
  }

  span.no {
    $s: 22px;
    border: solid 1px $red1;
    background-color: $white;
    border-radius: 50%;
    width: $s;
    height: $s;
    line-height: 19px;
    display: block;
    margin: auto;
    transition: .3s all ease-in-out;

    @include media-large {
      $s: 46px;
      width: $s;
      height: $s;
      border-width: 2px;
      font-size: $s2;
      font-weight: 600;
      line-height: 42px;
    }

    &:before,
    &:after {
      content: '';
      height: 0;
      width: 50%;
      position: absolute;
      bottom: 10px;
      border-bottom: 1px solid $red1;
      z-index: -1;
    }

    @include media-large {
      &:before,
      &:after {
        border-bottom: 2px solid $red1;
        bottom: 21px;
      }
    }

    &:before {
      left: 0;
    }

    &:after {
      right: 0;
    }
  }

  .active {
    span.no {
      color: $text-white;
      background-color: $red1;
    }
  }

  p {
    font-size: $s-3;
    color: $text-black;
    position: absolute;
    top: 130%;
    left: 0;
    right: 0;

    @include media-large {
      top: 118%;
    }

    &.connection-icon {
      top: 72%;
      font-size: $s7;

      @include media-large {
        top: 80%;
      }
    }
  }

  .with-circle {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;

    .circle {
      $d: 22px;
      height: $d;
      width: $d;
      margin-bottom: 0;
    }

    p {
      top: 105%;
    }
  }
}

.border-bottom {
  border-bottom: 1px solid $light-grey1;
}

.border-top {
  border-top: 1px solid $light-grey1;
}

.no-bottom-margin {
  margin-bottom: 0;
}

.position-relative {
  position: relative;
}

.padded-x {
  padding-left: .625rem;
  padding-right: .625rem;
}

.padded-y {
  padding-top: .625rem;
  padding-bottom: .625rem;
}

.margin-x {
  margin-left: .625rem;
  margin-right: .625rem;
}

.horizontal-space {
  margin-top: 2rem;
}

.red-tick {
  fill: $red1;
  width: 1rem;
  height: 1rem;
}

.max-w {
  &.to-right {
    direction: rtl;

    & > * {
      direction: ltr;
    }
  }

  p {
    margin-bottom: .2rem;
    max-width: 210px;

    label {
      display: inline-block;
      width: 110px;
    }

    span {
      float: right;
    }
  }
}

.group {
  padding-bottom: 1rem;
  margin-top: 2rem;
  border-bottom: 1px solid $red1;

  &:last-child {
    border-bottom: none;
  }
}

.indent {
  margin-left: 1rem;

  p {
    margin-bottom: .5rem;
  }
}
