<ng-container *ngIf="orders">
  <ng-container *ngFor="let order of orders; let i = index">
    <div class="grid-x padded-y border-bottom">
      <div class="small-6 cell">
        <h4>
          <span>{{order.parmSalesId}}</span>
          <dev-box *ngIf="order.drupalOrder.orderId" [label]="'DR'">
            Id: {{order.drupalOrder.orderId}}<br>
            AX id: {{order.drupalOrder.orderIdAX}}<br>
            Status: {{order.drupalOrder.status}}<br>
            Kwota: {{order.drupalOrder.amount | currencyFormat}}<br>
            Utworzono: {{order.drupalOrder.created * 1000 | date:"yyyy.MM.dd"}}
          </dev-box>
        </h4>
      </div>
      <div class="small-6 cell text-right">
        <h4 class="text-red">Suma: {{order.parmTotalAmount | currencyFormat}}</h4>
      </div>
      <div class="small-6 cell padded-y max-w">
        <p>
          <label>Data zamówienia: </label>
          <span>{{order.parmCreatedDateTime | date:"yyyy.MM.dd"}}</span>
        </p>
        <p>
          <label>Data wysyłki: </label>
          <span>{{order.parmShippingDateRequested | date:"yyyy.MM.dd"}}</span>
        </p>
      </div>
      <div class="small-5 small-offset-1 cell padded-y max-w to-right">
        <p>
          <label>Status:</label>
          <span>{{order.parmSalesStatus}}</span>
        </p>
        <p>
          <label>Status Terma: </label>
          <span>{{order.parmSalesStatus_TER}}</span>
        </p>
      </div>
      <div class="small-12 cell text-right">
        <a [routerLink]="['../order', (order.parmSalesId | prepareId)]" (click)="openDetails(i)"
           class="button rounded-small">Szczegóły</a>
      </div>
    </div>
  </ng-container>
</ng-container>