<div class="grid-container">
  <div class="grid-x">
    <div class="small-6 cell">
      <h4 class="form-group-title">Typ płatności</h4>
    </div>
  </div>
  <form [formGroup]="paymentForm">
    <div class="grid-x">
      <div class="small-10 small-offset-1 cell">
        <div class="form-control">
          <label for="payU">
            <input formControlName="paymentMethod" type="radio" id="payU" [value]="'payu'">
            <span class="radio"></span>
            <span class="label">z góry (PayU - 0zł)</span>
          </label>
        </div>
      </div>
      <div class="small-10 small-offset-1 cell">
        <div class="form-control">
          <label for="atDelivery">
            <input formControlName="paymentMethod" type="radio" id="atDelivery" [value]="'commerce_cod'">
            <span class="radio"></span>
            <span class="label">za pobraniem (0zł)</span>
          </label>
        </div>
      </div>
      <div class="dev-data top-left">
        <input formControlName="transactionId" type="text" readonly>
      </div>
    </div>
  </form>
</div>

<order-navigation [formValid]="this.paymentForm.valid" [currentStep]="1"
                  (nextStepClick)="onPaymentFormSubmit()"></order-navigation>
