@import "../../../styles/variables";
@import "../../../styles/colors";
@import "../../../styles/typography";

.product {
  position: relative;
  color: $text-black;

  h2 {
    margin-bottom: 0;
    font-size: $s2;
  }
}