@import "../../styles/breakpoints";
@import "../../styles/variables";
@import "../../styles/colors";
@import "../../styles/typography";

.modal {
  .form-group-title {
    margin-bottom: .5rem;
  }
}
