<div class="padding-for-fix-nav">
  <comp-header [title]="title"></comp-header>

  <ng-container *ngIf="!cartService.cartCnt">
    <div class="grid-container">
      <div class="grid-x page-title">
        <h1 class="small-10 small-offset-1 cell text-center">Twój koszyk jest pusty</h1>
        <div class="small-3 small-offset-3 cell">
          <div class="button-control">
            <a [routerLink]="['/configurator']" class="button">Konfigurator</a>
          </div>
        </div>
        <div class="small-3 cell">
          <div class="button-control">
            <a [routerLink]="['/parser']" class="button">Zamówienie po kodzie</a>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="cartService.cartCnt">
    <div class="grid-container padded-x horizontal-space">
      <div class="grid-x">
        <div class="small-6 cell">
          <h4 class="form-group-title padded-x">Zawartość koszyka</h4>
        </div>
        <div class="small-6 cell text-right padded-x">
          <button class="button rounded-small" (click)="cartService.clearCart()">Wyczyść koszyk</button>
        </div>
      </div>
    </div>

    <div class="dynamic" [ngClass]="{'loading': !configs}">
      <div *ngIf="configs" class="grid-container">
        <ng-container *ngFor="let ci of cartService.getCart().lineItems; let i = index">
          <ng-container *ngIf="ci.deleted === 0">
            <line-item [lineItem]="ci" [config]="configs[ci.sku]" [index]="i" [showRemoveButton]="true" (onRemoveClick)="cartService.removeFromCart($event)"></line-item>
          </ng-container>
        </ng-container>
      </div>
      <div class="grid-container show-for-large">
        <div class="grid-x">
          <div class="large-3 large-offset-3 cell">
            <div class="button-control">
              <a [routerLink]="['/configurator']" class="button">Kontynuuj zakupy</a>
            </div>
          </div>
          <div class="large-3 cell">
            <div class="button-control">
              <div class="button red" [ngClass]="{disabled: !cartService.cartCnt}" (click)="openModal()">
                Zamawiam
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<div class="grid-x fixed-nav hide-for-large">
  <a [routerLink]="['/configurator']" class="small-6 cell button">
    Kontynuuj zakupy
  </a>
  <div class="small-6 cell button red" [ngClass]="{disabled: !cartService.cartCnt}" (click)="openModal()">
    Zamawiam
  </div>
</div>

<div class="reveal modal" [id]="modalId" data-reveal>
  <div class="grid-x">
    <div class="small-10 small-offset-1 cell">
      <h4 class="form-group-title padded-x">Czy chcesz uzupełnić zamówienie domyślnymi danymi?</h4>
    </div>
    <button class="small-1 cell close-button" data-close aria-label="Close modal" type="button">
      <span class="icon icon-close icon-grey" aria-hidden="true"></span>
    </button>
    <div class="small-5 small-offset-1 cell">
      <div class="button-control">
        <a [routerLink]="['/order/summary']" (click)="cartService.fillWithDefault()" class="button" data-close
           aria-label="Close modal">Tak</a>
      </div>
    </div>
    <div class="small-5 cell">
      <div class="button-control">
        <a [routerLink]="['/order']" (click)="cartService.fillWithDefault()" class="button" data-close
           aria-label="Close modal">Nie</a>
      </div>
    </div>
  </div>
</div>
