@import "../../../styles/typography";
@import "../../../styles/colors";

.error-modal.reveal {
  min-height: 0;
  height: auto;

  .close-button {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  h5 {
    font-size: $s2;
    font-weight: 700;
    color: $text-red;
  }

  h6 {
    font-size: $s0;
    font-weight: 300;
  }

  p {
    font-size: $s-1;
    font-weight: 300;
    margin: 0;
  }

  pre {
    font-size: $s-5;
    font-weight: 300;
  }
}