<div class="reveal error-modal" [id]="modalId" data-reveal>
  <div class="grid-x">
    <h5 class="small-11 cell">Błąd</h5>
    <button class="small-1 cell close-button" data-close aria-label="Close modal" type="button">
      <span class="icon icon-close icon-grey" aria-hidden="true"></span>
    </button>
  </div>
  <h6>Status {{status}} - {{messages[status]}}</h6>
  <ng-container *ngIf="errorBody">
    <p>Error id: {{errorBody.id}}</p>
    <p>{{errorBody.code}}</p><br>
    <pre *ngIf="errorBody.message">Message:{{errorBody.message}}</pre>
    <pre *ngIf="errorBody.file">File:{{errorBody.file}}</pre>
    <pre *ngIf="errorBody.line">Line:{{errorBody.line}}</pre>
  </ng-container>
  <ng-container *ngIf="showDevData()">
    <hr>
    <pre>{{error | json}}</pre>
  </ng-container>
</div>