@import "~foundation-sites/scss/foundation";
@import "../styles/breakpoints";
@import "../styles/variables";
@import "../styles/colors";
@import "../styles/typography";

$body-font-family: 'Lato', sans-serif;
$global-weight-normal: 300;

@include foundation-global-styles;

@include foundation-xy-grid-classes(
        $base-grid: true,
        $margin-grid: true,
        $padding-grid: true,
        $block-grid: true,
        $collapse: true,
        $offset: true,
        $vertical-grid: true
);

$button-background: $red1;
$button-background-hover: $red2;

@include foundation-button;

$header-font-family: 'Lato', sans-serif;
$header-font-weight: 300;
$header-font-color: $text-grey;
$h1-font-size: $s4;
$h2-font-size: $s2;
$paragraph-font-weight: 300;

@include foundation-typography;
@include foundation-grid;
@include foundation-visibility-classes;

$offcanvas-exit-background: rgba(0, 0, 0, .2);

@include foundation-off-canvas;

$reveal-padding: 1.5rem 1rem;

@include foundation-reveal;

$tab-background-active: $red1;
$tab-color: $text-grey;
$tab-active-color: $white;
$tab-item-padding: .5rem;
$tab-content-padding: 0 .25rem; //calc(.25rem + 3px) .25rem;
$tab-content-border: $light-grey1;
$tab-item-padding: .375rem;

@include foundation-tabs;
@include foundation-prototype-font-styling;
@include foundation-prototype-display;

.tabs {
  border-left: none;
  border-right: none;
  border-top: none;
  padding: .6rem .3rem;
  position: relative;

  @include media-large {
    width: 570px;
    margin: 1.875rem auto;
    padding: 0;
    border: none;
  }

  @include media-large {
    &:before {
      $d: 16px;
      content: '';
      display: block;
      position: absolute;
      border: $d solid $white;
      width: 100%;
      height: 100%;
      border-radius: 2.625rem;
      box-sizing: content-box;
      top: -$d;
      left: -$d;
      z-index: -1;
      box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1)
    }
  }

  .tabs-title {
    border: 1px solid $tab-content-border;
    border-right: none;
    overflow: hidden;
    transition: .3s border ease-in-out;

    &:first-child {
      border-bottom-left-radius: .75rem;
      border-top-left-radius: .75rem;

      @include media-large {
        border-bottom-left-radius: 1.375rem;
        border-top-left-radius: 1.375rem;
      }
    }

    &:last-child {
      border-right: 1px solid $tab-content-border;
      border-bottom-right-radius: .75rem;
      border-top-right-radius: .75rem;

      @include media-large {
        border-bottom-right-radius: 1.375rem;
        border-top-right-radius: 1.375rem;
      }
    }

    &.is-active {
      border-color: $tab-background-active;

      & + .tabs-title {
        border-left-color: transparent;
      }
    }

    &:hover,
    &:focus,
    &:active {
      border-color: $tab-background-active;

      &:not(.is-active) > a {
        color: $text-red;
      }

      & + .tabs-title {
        border-left-color: $tab-background-active;
      }
    }

    a {
      transition: .3s color ease-in-out;

      @include media-large {
        font-size: $s-1;
        padding: .875rem;
      }
    }
  }
}

.tabs-content {
  border: none;
}

main.main {
  padding: $header-height 0 0;

  @include media-large {
    min-height: 100vh;
    padding: $header-height-large 0 $footer-height-large;
  }

  & > div {
    padding-bottom: 6rem;
  }
}

p,
li {
  font-size: $s-1;
}

li {
  display: block;
}
