<div class="menu off-canvas position-left" id="offCanvas" data-off-canvas>
  <ng-container *ngIf="isLoggedIn">
    <button class="close-button" aria-label="Close menu" type="button" data-close>
      <span class="icon icon-close icon-grey" aria-hidden="true"></span>
    </button>
    <p class="user"><span class="line-with-icon icon-red icon-user"></span>{{this.authService.getUserName()}}</p>
    <nav>
      <ul>
        <li>
          <a [routerLink]="['cart']" class="button-with-icon" data-close>
            <span>Koszyk</span>
            <span *ngIf="cartService.cartCnt > 0" class="cart-cnt">{{cartService.cartCnt}}</span>
          </a>
        </li>
        <li>
          <span (click)="expanded[0] = !expanded[0]" [ngClass]="{'expanded': expanded[0]}">Produkty</span>
          <ul>
            <li><a [routerLink]="['configurator']" data-close>Lista&nbsp;produktów</a></li>
            <li><a [routerLink]="['parser']" data-close>Zamówienie&nbsp;po&nbsp;kodzie</a></li>
          </ul>
        </li>
        <li>
          <span (click)="expanded[1] = !expanded[1]" [ngClass]="{'expanded': expanded[1]}">Usługi</span>
          <ul>
            <li><a [routerLink]="['dashboard']" data-close><span>Dashboard</span></a></li>
            <li><a [routerLink]="['warehouse']" data-close><span>Magazyn (Drupal)</span></a></li>
            <li><a [routerLink]="['ax-warehouse']" data-close><span>Magazyn (AX)</span></a></li>
          </ul>
        <li>
          <span (click)="expanded[2] = !expanded[2]" [ngClass]="{'expanded': expanded[2]}">Pomoc</span>
          <ul>
            <li><a [href]="authService.getT24url() + '/user'">Test</a></li>
          </ul>
        </li>
        <li>
          <span (click)="expanded[3] = !expanded[3]" [ngClass]="{'expanded': expanded[3]}">Twoje konto</span>
          <ul>
            <li><a [routerLink]="['account']" data-close><span>Dane</span></a></li>
            <li><a [routerLink]="['account/orders']" data-close><span>Zamówienia</span></a></li>
          </ul>
        </li>
        <li><a (click)="onLogout()" data-close><span>Wyloguj</span></a></li>
        <div *ngIf="authService.showDevData()" class="dev-data big">
          <span>Token expires in:{{tokenTime.minutes}}:{{tokenTime.seconds}}</span><br>
          <span>Session expires in:{{sessionTime.minutes}}:{{sessionTime.seconds}}</span>
        </div>
      </ul>
    </nav>
  </ng-container>
</div>
<div class="off-canvas-content" data-off-canvas-content>
  <b2b-header [isLoggedIn]="isLoggedIn"></b2b-header>
  <main class="main">
    <div>
      <router-outlet></router-outlet>
    </div>
  </main>
  <b2b-footer [isLoggedIn]="isLoggedIn"></b2b-footer>
  <b2b-error-modal [error]="error" [modalId]="errorModalId"></b2b-error-modal>
  <b2b-info-modal [info]="info" [modalId]="infoModalId"></b2b-info-modal>
</div>
