@import "../../../styles/variables";
@import "../../../styles/colors";
@import "../../../styles/typography";

:host {
  font-size: 8px !important;
  vertical-align: middle;
}

.dev-box {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-align: left;

  &.right-side {

    .data {
      right: 0;
    }
  }

  &.bottom-side {

    .data {
      bottom: 0;
    }
  }

  &.absolute {
    position: absolute;
    top: 0;
    left: 0;
  }

  &.small-padding {

    .tick {
      padding: 0 .15rem;
    }
  }

  &:hover {
    .data {
      display: block;
    }
  }

  .tick {
    margin: .25rem;
    background-color: $red1;
    height: 1rem;
    color: $text-white !important;
    font-weight: 700 !important;
    text-align: center;
    line-height: 1rem!important;
    padding: 0 .25rem;
    cursor: pointer;
  }

  .data {
    position: absolute;
    z-index: 1;
    display: none;
    border: 1px solid $light-grey1 !important;
    background-color: $white !important;
    width: 180px;
    padding: .5rem;

    h6 {
      color: $text-black !important;
      font-size: $s-4;
      font-weight: 700;
    }

    p {
      color: $text-black !important;
      font-size: $s-5;
      font-weight: 300;
      margin: 0;
      max-width: none;
      text-align: left;
    }
  }
}