<span [className]="'dev-box' + (cssClasses ? ' ' + cssClasses : '')">
  <div class="tick">{{label}}</div>
  <div class="data">
    <h6 *ngIf="!noTitle">{{title}}</h6>
    <p>
      <ng-content></ng-content>
    </p>
  </div>
</span>