<comp-header [title]="title"></comp-header>
<div class="wrapper">
  <div class="dynamic indent" [ngClass]="{'loading': !orders}">
    <orders-list [orders]="orders"></orders-list>
  </div>

  <pager [total]="total" [perPage]="limit" [currentPage]="currentPage"
         (onPageChange)="getOrdersPage($event)"></pager>
</div>