@import "../../../styles/variables";
@import "../../../styles/colors";
@import "../../../styles/typography";

.max-w {
  &.to-right {
    direction: rtl;

    & > * {
      direction: ltr;
    }
  }

  p {
    margin-bottom: .2rem;
    max-width: 210px;

    label {
      display: inline-block;
      width: 110px;
    }

    span {
      float: right;
    }
  }
}
