@import "../../../styles/breakpoints";
@import "../../../styles/variables";
@import "../../../styles/colors";
@import "../../../styles/typography";

h2 {
  font-size: $s-1;
  margin: 2rem auto;

  @include media-large {
    font-size: $s3;
    margin: 3rem auto;
    text-align: center;
  }
}

textarea {
  width: 100%;
  border: 0.5px solid $light-grey1;
  border-radius: 8px;
  padding: .5rem;

  &:focus {
    outline: none;
  }
}