<div class="grid-container">
  <form [formGroup]="codesListForm" (ngSubmit)="onCodesListSubmit()">
    <div class="grid-x">
      <div class="small-10 small-offset-1 large-6 large-offset-3 cell">
        <h2 class="font-small">Wstaw kody produktów, możesz podać kilka oddzielając je spacją, przecinkiem lub
          enterem.</h2>
      </div>
      <div class="small-10 small-offset-1 large-6 large-offset-3 cell">
        <textarea autosize rows="10" formControlName="codesList" id="codesList"
                  placeholder="&nbsp;&nbsp;|&nbsp;&nbsp;podaj kody produktów" [attr.disabled]="busy ? 'disabled' : null"></textarea>
      </div>
    </div>
  </form>
  <div class="grid-x">
    <div class="small-10 small-offset-1 large-3 large-centered cell">
      <div class="button-control">
        <div *ngIf="busy" class="busy-indicator-on-red"></div>
        <button type="submit" class="button" [ngClass]="{'busy': busy}" [disabled]="!codesListForm.valid" (click)="onCodesListSubmit()">Dalej</button>
      </div>
    </div>
  </div>
</div>
