<div class="grid-container no-padding">
  <div *ngIf="configuratorService.isConfigLoaded()" class="grid-x">
    <div class="grid-x small-12 large-6 cell preview">
      <div class="small-12 cell show-for-large">
        <h6>
          <span>Model/wizualizacja grzejnika</span>
        </h6>
      </div>
      <div class="small-10 small-offset-1 large-12 large-offset-0 cell">
        <ng-container *ngIf="configuratorService.getImage()">
          <lazy-img [image]="configuratorService.getImage()" [columns]="[12, 0, 0]"></lazy-img>
        </ng-container>
      </div>
      <div class="small-12 cell text-center">
        <h2>{{configuratorService.getLabel()}}</h2>
      </div>
    </div>
    <div class="grid-y small-12 large-6 cell relative">
      <div class="grid-x cell">
        <div class="small-7 large-12 cell">
          <h6>
            <span>Wybierz rodzaj podłączenia</span>
          </h6>
        </div>
        <div class="small-5 cell hide-for-large text-right">
          <h6 class="padded-right">Legenda</h6>
          <div class="switch" [ngClass]="{'on': showLegend}" (click)="showLegend = !showLegend"><span></span></div>
        </div>
      </div>
      <div class="cell">
        <div class="dynamic" [ngClass]="{'loading': !connections}">
          <div class="slide-list">
            <div *ngFor="let connection of connections; let i = index"
                 [ngClass]="{'active': connectionId === connection.connectionId}"
                 (click)="setConnection(i)"
                 class="slide clickable connectionBox">
              <div [ngClass]="'text-center connection-icon icon-' + connection.connectionId.toLowerCase()"></div>
              <dev-box *ngIf="!connection.configExists" [label]="'!'" [cssClasses]="'absolute'" [noTitle]="true">
                {{configuratorService.getItemId()}} z podłączeniem {{connection.connectionId}} nigdy nie był
                zamawiany<br>
              </dev-box>
            </div>
          </div>
        </div>
      </div>
      <div class="cell legend last-element" [ngClass]="{'hide': !showLegend}">
        <h6 class="show-for-large">Legenda</h6>
        <div>
          <connection-legend></connection-legend>
        </div>
      </div>
      <div class="grid-x nav-buttons show-for-large">
        <div class="large-5 large-offset-2 cell">
          <div class="button-control">
            <button class="button white no-bottom-margin" (click)="goBack()">Wstecz</button>
          </div>
        </div>
        <div class="large-5 cell">
          <div class="button-control">
            <a [routerLink]="connectionId ? ['../', connectionId, 'coating'] : null"
               [ngClass]="{disabled: !connectionId}"
               class="button no-bottom-margin">
              Dalej
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="grid-x fixed-nav hide-for-large">
  <div class="small-6 cell button" (click)="goBack()">
    Wstecz
  </div>
  <a [routerLink]="connectionId ? ['../', connectionId, 'coating'] : null" [ngClass]="{disabled: !connectionId}"
     class="small-6 cell button red">
    Dalej
  </a>
</div>
