@import "../../../styles/breakpoints";
@import "../../../styles/variables";
@import "../../../styles/colors";
@import "../../../styles/typography";

h6 {
  display: inline-block;
  vertical-align: middle;

  &.padded-right {
    padding-right: .3rem;
  }
}

.switch {
  display: inline-block;
  vertical-align: middle;
  transition: .4s background-color ease-in-out;

  &.on {
    background-color: $red1;
  }
}

.slide {
  width: auto;
  transition: none;

  & > div:before {
    font-size: 5rem;
  }
}

.legend {

  @include media-large {
    margin-top: 2rem;
    display: block !important;
  }

  div {
    margin-left: 1rem;
  }
}
