<comp-header [title]="title"></comp-header>
<div class="wrapper">
  <div class="group">
    <div class="grid-x">
      <div class="small-6 cell">
        <h2 class="text-red">Moje dane</h2>
      </div>
      <div class="small-6 cell text-right">
        <a [routerLink]="['/account/default-data']" class="button rounded-small">Edytuj</a>
      </div>
    </div>
    <div class="grid-x relative indent">
      <div class="small-12 cell">
        <h3>Dane do wysyłki</h3>
      </div>
      <div class="small-11 small-offset-1 cell">
        <div class="dynamic small-indicator to-right no-min-height" [ngClass]="{'loading': !account}">
          <ng-container *ngIf="account">
            <ng-container *ngFor="let address of account.addresses">
              <ng-container *ngIf="address.addressType == 'Delivery'">
                <p>{{address.addressContactName}}<br>
                  {{address.addressStreet}} {{address.addressStreetNo}}<br>
                  {{address.addressZipCode}} {{address.addressCity}}, {{address.addressCountryRegionId | countryName}}
                </p>
              </ng-container>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="grid-x relative indent">
      <div class="small-12 cell">
        <h3>Dane do faktury</h3>
      </div>
      <div class="small-11 small-offset-1 cell">
        <div class="dynamic small-indicator to-right no-min-height" [ngClass]="{'loading': !account}">
          <ng-container *ngIf="account">
            <ng-container *ngFor="let address of account.addresses">
              <ng-container *ngIf="address.addressType == 'Invoice'">
                <p>{{address.addressContactName}}<br>
                  {{address.addressStreet}} {{address.addressStreetNo}}<br>
                  {{address.addressZipCode}} {{address.addressCity}}, {{address.addressCountryRegionId | countryName}}
                </p>
              </ng-container>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="grid-x relative indent">
      <div class="small-12 cell">
        <h3>Wysyłka</h3>
      </div>
      <div class="small-11 small-offset-1 cell">
        <div class="dynamic small-indicator to-right no-min-height" [ngClass]="{'loading': !deliveryType}">
          <p *ngIf="deliveryType">{{deliveryType.deliveryType}}</p>
        </div>
      </div>
    </div>
    <div class="grid-x relative indent">
      <div class="small-12 cell">
        <h3>Płatność</h3>
      </div>
      <div class="small-11 small-offset-1 cell">
        <div class="dynamic small-indicator to-right no-min-height" [ngClass]="{'loading': !paymentMethod}">
          <p *ngIf="paymentMethod">{{paymentMethod.paymentMethod}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="group">
    <div class="grid-x">
      <div class="small-12 cell">
        <h2 class="text-red">Ostatnie zamówienia</h2>
      </div>
    </div>
    <div class="dynamic indent" [ngClass]="{'loading': !orders}">
      <orders-list [orders]="orders"></orders-list>
    </div>
    <div class="grid-x">
      <div class="small-10 small-offset-1 large-3 large-centered cell">
        <div class="button-control">
          <a [routerLink]="['../orders']" class="button ">Zobacz wszystkie</a>
        </div>
      </div>
    </div>
  </div>
</div>