@import "../../../styles/breakpoints";
@import "../../../styles/variables";
@import "../../../styles/colors";
@import "../../../styles/typography";

.component-header {
  margin: 1rem .5rem 0;
  position: relative;

  @include media-large {
    margin-top: 3rem;
  }

  h1 {
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    color: $text-black;
    font-size: $s3;

    @include media-large {
      font-size: $s4;
    }
  }

  .back-button {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -13px;
    margin-left: .3125rem;

    & > div {
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;
      transition: all .3s ease-in-out;
      color: $text-red;
      font-size: $s-3;
    }

    &:hover {
      .arrow {
        background-color: $red1;

        svg {
          fill: $white;
        }
      }

      .label {
        transform: translate(-3px, 0);
      }
    }

    .arrow {
      $s: 1.5rem;
      height: $s;
      width: $s;
      line-height: 6px;
      transform: rotate(180deg);
      border: 1px solid $text-red;
      border-radius: 50%;
      padding: 6px;

      svg {
        fill: $red1;
        transition: all .3s ease-in-out;
      }
    }

    .label {
      margin-bottom: .1rem;
      margin-left: 5px;
    }
  }
}
