<div class="grid-container no-padding">
  <div *ngIf="configuratorService.isConfigLoaded()" class="grid-x">
    <div class="grid-x small-12 large-6 cell preview">
      <div class="small-12 cell show-for-large">
        <h6>
          <span>Model/wizualizacja grzejnika</span>
        </h6>
      </div>
      <div class="small-10 small-offset-1 large-12 large-offset-0 cell">
        <ng-container *ngIf="configuratorService.getImage()">
          <lazy-img [image]="configuratorService.getImage()" [columns]="[12, 0, 0]"></lazy-img>
        </ng-container>
      </div>
      <div class="small-12 cell text-center">
        <h2>{{configuratorService.getLabel()}}</h2>
      </div>
    </div>
    <div class="grid-y small-12 large-6 cell relative">
      <div class="grid-x cell">
        <div class="small-7 large-12 cell">
          <h6>
            <span>Konfiguracja grzałki</span>
          </h6>
        </div>
      </div>
      <div class="cell">
        <div class="dynamic" [ngClass]="{'loading': (!colors || !cables)}">
          <div class="slide-list">
            <h5>Kolor</h5>
            <div *ngFor="let color of colors; let i = index"
                 [ngClass]="{'active': heaterColorId === color.colorId}"
                 (click)="setHeaterColor(color)">
              <div>{{color.colorName}}</div>
            </div>
          </div>
          <div class="slide-list">
            <h5>Kabel</h5>
            <div *ngFor="let cable of cables; let i = index"
                 [ngClass]="{'active': heaterCableId === cable.cableId}"
                 (click)="setHeaterCable(cable)">
              <div>{{cable.cableName}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="grid-x nav-buttons show-for-large">
        <div class="large-5 large-offset-2 cell">
          <div class="button-control">
            <button class="button white no-bottom-margin" (click)="goBack()">Wstecz</button>
          </div>
        </div>
        <div class="large-5 cell">
          <div class="button-control">
            <a [routerLink]="heaterConfigId ? ['../', heaterConfigId, 'summary'] : null"
               [ngClass]="{disabled: (!heaterColorId || !heaterCableId)}"
               class="button no-bottom-margin">
              Dalej
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="grid-x fixed-nav hide-for-large">
  <div class="small-6 cell button" (click)="goBack()">
    Wstecz
  </div>
  <a [routerLink]="heaterConfigId ? ['../', heaterConfigId, 'summary'] : null"
     [ngClass]="{disabled: (!heaterColorId || !heaterCableId)}"
     class="small-6 cell button red">
    Dalej
  </a>
</div>
