@import "../../../styles/breakpoints";
@import "../../../styles/variables";
@import "../../../styles/colors";
@import "../../../styles/typography";

h6 {
  display: inline-block;
  vertical-align: middle;

  &.padded-right {
    padding-right: .3rem;
  }
}

.slide-list {
  & > div {
    margin-top: .5rem;

    &.active {
      div {
        border-color: $text-red;
      }
    }

    div {
      display: inline-block;
      padding: .5rem 1rem;
      border: 1px solid $light-grey1;
      cursor: pointer;

      &:hover {
        color: $text-red;
        border-color: $text-red;
      }
    }
  }
}