@import "../../../styles/variables";
@import "../../../styles/colors";
@import "../../../styles/typography";

.modal {
  .form-control {
    margin-top: 1.5rem;

    label {

      p {
        line-height: 1rem;
        margin-bottom: 0;
      }
    }
  }

  .top-right {
    position: absolute;
    right: .3rem;
    top: 0;
    font-weight: 400;
    color: $text-red;
  }
}
