<div class="reveal modal" [id]="modalId" data-reveal>
  <div class="grid-x">
    <div class="small-10 small-offset-1 cell">
      <h4 class="form-group-title padded-x">Wybierz adres</h4>
    </div>
    <button class="small-1 cell close-button" data-close aria-label="Close modal" type="button">
      <span class="icon icon-close icon-grey" aria-hidden="true"></span>
    </button>
    <div class="small-12 cell">
      <div *ngFor="let address of axAddresses; let i = index" class="form-control">
        <label [for]="'address_' + i">
          <input type="radio" [id]="'address_' + i" name="address" [value]="i" [(ngModel)]="chosenAddress">
          <span class="radio"></span>
          <p class="label">
            <span>{{address.organisationName}}</span><br>
            <span>{{address.nameLine}}</span><br>
            <span>{{address.thoroughfare}} {{address.premise}}</span><br>
            <span>{{address.postalCode}} {{address.locality}}</span><br>
            <span>{{address.country | countryName}}</span><br>
            <span *ngIf="address.isPrimaryAX" class="top-right"><i>domyślny</i></span>
          </p>
        </label>
        <div class="dev-data bottom-right">
          <span>{{address.addressIdAX}}</span><br>
          <span>{{address.profileId}}</span><br>
          <span>{{address.type}}</span><br>
        </div>
      </div>
    </div>
    <div class="small-5 small-offset-1 cell">
      <div class="button-control">
        <button class="button" data-close aria-label="Close modal">Wróć</button>
      </div>
    </div>
    <div class="small-5 cell">
      <div class="button-control">
        <button (click)="onChooseAddress()" class="button" data-close aria-label="Close modal">Wybierz</button>
      </div>
    </div>
  </div>
</div>

<div class="grid-container">
  <div class="grid-x">
    <div class="small-6 cell">
      <h4 id="deliveryData" class="form-group-title">Dane wysyłki</h4>
    </div>
    <div class="small-6 cell text-right">
      <button (click)="openModal()" class="button rounded-small">Zapisane dane</button>
    </div>
  </div>
  <form [formGroup]="shippingForm" (ngSubmit)="onShippingFormSubmit()">
    <div class="grid-x relative">
      <ng-container formGroupName="deliveryAddress">
        <div class="dev-data top-left">
          <input formControlName="addressIdAX" type="text" id="deliveryAddressIdAX" readonly><br>
          <input formControlName="profileId" type="text" id="deliveryProfileId" readonly><br>
          <input formControlName="type" type="text" id="deliveryType" readonly>
        </div>
        <ng-container formGroupName="addressFields">
          <div class="small-10 small-offset-1 cell">
            <div class="form-control">
              <input formControlName="organisationName" type="text" id="deliveryOrganisationName"
                     placeholder="|&nbsp;&nbsp;&nbsp;nazwa firmy">
            </div>
          </div>
          <div class="small-10 small-offset-1 cell">
            <div class="form-control">
              <input formControlName="nameLine" type="text" id="deliveryNameLine"
                     placeholder="|&nbsp;&nbsp;&nbsp;imię i nazwisko">
            </div>
          </div>
          <div class="small-10 small-offset-1 cell">
            <div class="form-control">
              <input formControlName="thoroughfare" type="text" id="deliveryThoroughfare"
                     placeholder="|&nbsp;&nbsp;&nbsp;ulica">
            </div>
          </div>
          <div class="small-10 small-offset-1 cell">
            <div class="form-control">
              <input formControlName="premise" type="text" id="deliveryPremise"
                     placeholder="|&nbsp;&nbsp;&nbsp;nr budynku">
            </div>
          </div>
          <div class="small-10 small-offset-1 cell">
            <div class="form-control">
              <input formControlName="postalCode" type="text" id="deliveryPostalCode"
                     placeholder="|&nbsp;&nbsp;&nbsp;kod pocztowy">
            </div>
          </div>
          <div class="small-10 small-offset-1 cell">
            <div class="form-control">
              <input formControlName="locality" type="text" id="deliveryLocality"
                     placeholder="|&nbsp;&nbsp;&nbsp;miasto">
            </div>
          </div>
          <div class="small-10 small-offset-1 cell">
            <div class="form-control">
              <select formControlName="country" id="deliveryCountry">
                <option *ngFor="let c of cartService.countries" [value]="c.countryRegion">{{c.shortName}}</option>
              </select>
            </div>
          </div>
        </ng-container>
      </ng-container>
      <div class="small-10 small-offset-1 cell">
        <div class="form-control">
          <label for="saveAddress">
            <input formControlName="saveAddress" type="checkbox" id="saveAddress"
                   (change)="onChangeSaveAddress($event)">
            <span class="checkbox">
              <svg height="20" width="20">
                <path d="M16 4 L18 6 L8 16 L2 10 L4 8 L8 12 Z"></path>
              </svg>
            </span>
            <span class="label">zapisz jako nowy adres</span>
          </label>
        </div>
      </div>
    </div>
    <div class="grid-x">
      <div class="small-10 small-offset-1 cell">
        <div class="form-control">
          <label for="sameInvoiceAddress">
            <input formControlName="sameInvoiceAddress" type="checkbox" id="sameInvoiceAddress"
                   (change)="onChangeSameInvoiceAddress($event)">
            <span class="checkbox">
              <svg height="20" width="20">
                <path d="M16 4 L18 6 L8 16 L2 10 L4 8 L8 12 Z"></path>
              </svg>
            </span>
            <span class="label">dane do faktury takie same jak do wysyłki</span>
          </label>
        </div>
      </div>
    </div>
    <div class="grid-x" [ngClass]="{'hide': shippingForm.get('sameInvoiceAddress').value}">
      <div class="small-6 cell">
        <h4 id="invoiceData" class="form-group-title">Dane do faktury</h4>
      </div>
    </div>
    <div class="grid-x relative" [ngClass]="{'hide': shippingForm.get('sameInvoiceAddress').value}">
      <ng-container formGroupName="invoiceAddress">
        <div class="dev-data top-left">
          <input formControlName="addressIdAX" type="text" id="invoiceAddressIdAX" readonly><br>
          <input formControlName="profileId" type="text" id="invoiceProfileId" readonly><br>
          <input formControlName="type" type="text" id="invoiceType" readonly>
        </div>
        <ng-container formGroupName="addressFields">
          <div class="small-10 small-offset-1 cell">
            <div class="form-control">
              <input formControlName="organisationName" type="text" id="invoiceOrganisationName"
                     placeholder="|&nbsp;&nbsp;&nbsp;firma">
            </div>
          </div>
          <div class="small-10 small-offset-1 cell">
            <div class="form-control">
              <input formControlName="nameLine" type="text" id="invoiceNameLine"
                     placeholder="|&nbsp;&nbsp;&nbsp;imię i nazwisko">
            </div>
          </div>
          <div class="small-10 small-offset-1 cell">
            <div class="form-control">
              <input formControlName="thoroughfare" type="text" id="invoiceThoroughfare"
                     placeholder="|&nbsp;&nbsp;&nbsp;ulica">
            </div>
          </div>
          <div class="small-10 small-offset-1 cell">
            <div class="form-control">
              <input formControlName="premise" type="text" id="invoicePremise"
                     placeholder="|&nbsp;&nbsp;&nbsp;nr">
            </div>
          </div>
          <div class="small-10 small-offset-1 cell">
            <div class="form-control">
              <input formControlName="postalCode" type="text" id="invoicePostalCode"
                     placeholder="|&nbsp;&nbsp;&nbsp;kod pocztowy">
            </div>
          </div>
          <div class="small-10 small-offset-1 cell">
            <div class="form-control">
              <input formControlName="locality" type="text" id="invoiceLocality"
                     placeholder="|&nbsp;&nbsp;&nbsp;miasto">
            </div>
          </div>
          <div class="small-10 small-offset-1 cell">
            <div class="form-control">
              <select formControlName="country" id="invoiceCountry">
                <option *ngFor="let c of cartService.countries" [value]="c.countryRegion">{{c.shortName}}</option>
              </select>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
    <div class="grid-x">
      <div class="small-12 cell">
        <h4 id="deliveryTypeData" class="form-group-title">Dostawa</h4>
      </div>
      <div class="small-10 small-offset-1 cell">
        <div class="form-control">
          <label for="courier">
            <input formControlName="deliveryType" type="radio" id="courier" [value]="'Kurier - paczka'">
            <span class="radio"></span>
            <span class="label">kurier (0zł)</span>
          </label>
        </div>
      </div>
      <div class="small-10 small-offset-1 cell">
        <div class="form-control">
          <label for="personal">
            <input formControlName="deliveryType" type="radio" id="personal" [value]="'Odbiór osobisty'">
            <span class="radio"></span>
            <span class="label">odbiór osobisty (0zł)</span><br>
            <span class="label small">(w firmie Terma - Czaple 100, 80-298 Gdańsk)</span>
          </label>
        </div>
      </div>
    </div>
  </form>
</div>
<order-navigation [formValid]="shippingForm.valid" [currentStep]="0"
                  (nextStepClick)="onShippingFormSubmit()"></order-navigation>
