<div>
  <ul class="tabs grid-x" data-tabs id="productGroups-tabs">
    <li *ngFor="let productGroup of productGroups; let i = index" [ngClass]="{'is-active': activeTab === i}"
        class="tabs-title small-3 text-center">
      <a [attr.aria-selected]="activeTab === i" (click)="activateTab(i)">{{productGroup.name}}</a>
    </li>
  </ul>
  <div class="tabs-content" data-tabs-content="productGroups-tabs">
    <div *ngFor="let productGroup of productGroups; let i = index" [ngClass]="{'is-active': activeTab === i}"
         class="tabs-panel">
      <div class="dynamic" [ngClass]="{'loading': loadingArr[i]}">
        <div class="grid-x">
          <div *ngFor="let model of productGroup.models" class="small-6 medium-4 large-3 cell text-center modelBox">
            <div class="box-wrapper">
              <div class="img-wrapper">
                <lazy-img [image]="model[key0(model)].image" [columns]="[6, 4, 2]" [flex]="true"></lazy-img>
              </div>
              <div class="text-wrapper">
                <h4>
                  <span class="middle">{{model[key0(model)].labelName}}</span>
                  <dev-box *ngIf="!model[key0(model)].configExists" [label]="'!'" [noTitle]="true">
                    {{model[key0(model)].radiatorModel}} nie był zamawiany
                  </dev-box>
                </h4>
              </div>
              <dev-box *ngIf="!model[key0(model)].configExists" [label]="'!'" [noTitle]="true" [cssClasses]="'absolute'">
                {{model[key0(model)].radiatorModel}} nie był zamawiany
              </dev-box>
            </div>
            <div *ngIf="model.hasOwnProperty('wG')" class="type left">
              <a [routerLink]="['../', model.wG.radiatorModel, 'size']" (click)="setGroupAndModel(productGroup.id, model.wG)">
                <span>
                  <svg width="25px" height="36px" viewBox="0 0 25 36" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g class="icon" fill-rule="evenodd">
                      <path d="M1.35417051,23.4073145 C1.35417051,26.3327625 2.54955159,28.9833362 4.48436408,30.8976394 C6.42314135,32.813906 9.09738526,33.9997923 12.0491637,33.9997923 C15.0029246,33.9997923 17.6771685,32.813906 19.611981,30.8976394 C21.5487759,28.9833362 22.7421746,26.3327625 22.7421746,23.4073145 C22.7421746,19.2095911 20.0421596,16.0112322 17.3203384,12.7952027 C15.2348642,10.3291875 13.1454253,7.85335535 12.1046707,4.8532986 C11.0520216,7.86709906 8.92689973,10.3390045 6.8235841,12.8050197 C4.07599177,16.0073054 1.35417051,19.193884 1.35417051,23.4073145 M12.1026883,0.211849557 C12.4733952,0.211849557 12.7786832,0.512247909 12.7786832,0.87940145 C12.7786832,5.33629203 15.5778177,8.65441762 18.3571282,11.9332755 C21.2415055,15.3436803 24.0961469,18.7265977 24.0961469,23.4073145 C24.0961469,26.699916 22.7481218,29.6803389 20.5694753,31.842029 L20.5694753,31.8459558 C18.3888465,34.0037191 15.3756139,35.3407863 12.0491637,35.3407863 C8.72469597,35.3407863 5.71146339,33.9997923 3.53281695,31.8459558 L3.52686978,31.842029 C1.34822334,29.6803389 0.000198238985,26.699916 0.000198238985,23.4073145 C0.000198238985,18.7050004 2.88259308,15.3358267 5.79075899,11.9391656 C8.5819639,8.67797828 11.4029047,5.38537673 11.4266933,0.9363397 L11.4266933,0.87940145 C11.4266933,0.512247909 11.7280166,0.211849557 12.1026883,0.211849557"></path>
                      <path d="M15.3809664,30.4315311 L15.3532129,30.4315311 C13.8981388,30.4315311 12.6769866,29.8012836 11.824559,28.8510038 C10.9760961,27.910541 10.4864458,26.6520093 10.4785163,25.3954411 L10.4785163,25.3640269 C10.4785163,23.0236685 11.7670697,21.8181483 12.9882218,20.6833101 C14.387789,19.387474 15.6783248,18.1799905 14.3540884,15.2034944 C14.2113564,14.8834621 14.1816205,14.588954 14.2391098,14.351384 C14.2886696,14.1432649 14.4016658,13.9744135 14.5622394,13.8487567 L14.5642217,13.8487567 L14.5681865,13.8487567 C14.7208305,13.7348802 14.9151047,13.6661616 15.13515,13.6563447 L15.1371324,13.6563447 C15.4582796,13.642601 15.8527751,13.7505873 16.2631298,14.0136813 C17.0937512,14.5516496 18.3466216,15.7336091 19.3933234,17.2395276 C20.1704202,18.3625855 20.8424504,19.6780554 21.145756,21.0583172 C21.3063296,21.7847707 21.3856252,22.5249679 21.3915724,23.2573116 C21.4014843,24.8967405 21.0109535,26.4772678 20.2338567,27.7338361 C19.4468479,29.0080749 18.2554316,29.9485377 16.6754669,30.2901672 C16.2730418,30.3785196 15.8388984,30.4256409 15.3809664,30.4256409 L15.3809664,30.4315311 Z M16.5406644,29.6658098 C17.9283373,29.3654115 18.9829687,28.5250814 19.6807699,27.3961334 C20.3964127,26.2436247 20.7512605,24.782864 20.7433309,23.2573116 C20.7413485,22.5779794 20.6640353,21.8829401 20.5113913,21.1996811 C20.2298919,19.9058084 19.5935448,18.6688741 18.8600605,17.6027544 C17.8649008,16.1635911 16.6833965,15.0503501 15.9102645,14.5516496 C15.6208355,14.3670911 15.3631249,14.290519 15.1688506,14.2944458 C15.0816255,14.3003359 15.0062947,14.3238966 14.9587173,14.361201 C14.9151047,14.3926152 14.8833865,14.4377731 14.8714922,14.4966747 C14.8457211,14.6105512 14.8675274,14.7578053 14.946823,14.9462906 C16.457404,18.3370615 15.0043123,19.6898358 13.4322771,21.1545232 C12.3142093,22.1931554 11.1247754,23.2985428 11.1247754,25.3640269 C11.1307225,26.4988651 11.5628835,27.6003257 12.3062797,28.4229853 C13.0417463,29.241718 14.0963777,29.7855765 15.3532129,29.7855765 C15.7873563,29.7855765 16.1759047,29.7423819 16.5406644,29.6658098 Z"></path>
                    </g>
                  </svg>
                  <svg width="39px" height="36px" viewBox="0 0 39 36" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g class="icon" fill-rule="evenodd">
                      <path d="M15.4516539,29.9338366 C13.9490391,30.5874863 12.2858072,30.6948019 10.7620585,30.3182217 C9.07557946,29.9026176 7.5539442,28.8899484 6.61560245,27.3875298 L4.5550547,24.0880625 L3.64841369,24.1700126 C3.36944723,24.2012317 3.07780047,24.0783066 2.92775032,23.8363586 L1.35116712,21.3173685 C1.14828242,20.9934705 1.26874521,20.5778664 1.61745329,20.392503 L3.33774649,19.4773935 L0.78478066,15.4013514 C0.279682288,14.5896552 0.581895958,13.5477181 1.461063,13.0774806 L1.86471902,12.8628494 C2.72063886,12.4082214 3.83016457,12.6716325 4.34794324,13.4501585 L6.92626965,17.5671756 L9.07980623,16.4218254 L6.5268404,12.3379785 C6.02596879,11.5301846 6.32184231,10.4882475 7.19678259,10.0199612 L7.64059287,9.78581808 C8.07594963,9.55362612 8.581048,9.50679749 9.03331182,9.61606429 C9.48557563,9.73118468 9.89768518,10.0024005 10.1512911,10.4062974 L12.7021435,14.4881931 C13.2600764,14.1896606 13.8222361,13.8891769 14.3822824,13.5886932 C14.7331039,13.4013786 15.181141,13.5145478 15.386139,13.8364947 L16.9584955,16.3554848 C17.0916386,16.5662136 17.0958653,16.8335271 16.9437018,17.0559631 L16.4132428,17.8344891 L18.4442032,21.0773718 C19.382545,22.5797904 19.570636,24.3046449 19.1183722,25.8636481 C18.7421901,27.1650938 17.9116309,28.3689799 16.6985495,29.2275048 C17.0916386,29.7543269 17.5354489,30.2421251 18.0194134,30.6948019 C20.073621,32.5894103 22.9118934,33.7620772 26.0481528,33.7620772 C29.1801854,33.7620772 32.0184578,32.5894103 34.0684387,30.6889483 C36.1226463,28.7962911 37.3949024,26.1777902 37.3949024,23.2861222 C37.3949024,19.12813 34.5270426,15.9652462 31.6338222,12.7750457 C29.4295645,10.3458105 27.2147398,7.90291687 26.1031007,4.94881072 C24.9830081,7.91852641 22.732256,10.36142 20.504751,12.7848017 C19.9975392,13.3408917 19.4861007,13.8950305 18.995796,14.4530717 C18.8647663,14.6267278 18.6470879,14.7359946 18.3998222,14.7359946 C17.9940528,14.7359946 17.6622518,14.4316085 17.6622518,14.0550283 C17.6622518,13.8794209 17.7341068,13.7155207 17.856683,13.5964979 C18.3554412,13.030652 18.8689931,12.4726108 19.382545,11.9145696 C22.3581873,8.67363809 25.3655303,5.40148749 25.3655303,0.968377069 L25.3655303,0.882524578 C25.3655303,0.507895529 25.6952179,0.203509426 26.098874,0.203509426 C26.5046434,0.203509426 26.8364444,0.507895529 26.8364444,0.882524578 L26.8364444,0.968377069 C26.8364444,5.37612198 29.8120867,8.65802855 32.760255,11.908716 C35.8246594,15.2862311 38.8637031,18.6364294 38.8637031,23.2861222 C38.8637031,26.5524192 37.4287165,29.512379 35.1124495,31.6508865 C32.7898424,33.7932963 29.5859548,35.1201076 26.0481528,35.1201076 C22.5103508,35.1201076 19.3001231,33.7932963 16.9817427,31.6508865 C16.4132428,31.1279667 15.9060311,30.5504136 15.4516539,29.9338366 M17.7024061,25.5143846 C18.0574543,24.2890354 17.9074041,22.9349075 17.1740605,21.7583381 L14.9233083,18.1622895 C14.7838251,17.9359511 14.8007321,17.6686377 14.9444421,17.4618112 L15.4706743,16.681334 L14.4816114,15.1008677 C13.9215651,15.3994002 13.357292,15.6959816 12.7951323,15.9945141 C12.4464242,16.1818286 12.0005006,16.0706106 11.7997293,15.7486638 L8.88114829,11.0872638 C8.78181932,10.9253148 8.54089374,10.8648278 8.36970977,10.9584851 L7.93012625,11.1887258 C7.75894228,11.2823831 7.69342743,11.5009167 7.79486978,11.6628657 L10.7155641,16.3262169 C10.9163355,16.6501149 10.7958727,17.065719 10.4471646,17.2510824 L7.02137186,19.0754478 C6.67266378,19.2608111 6.22462673,19.1476419 6.02174202,18.8276463 L3.086254,14.1369784 C2.98481164,14.0101509 2.79249385,13.9574686 2.6318768,14.0179556 L2.18806651,14.2501476 C2.01476916,14.3418537 1.95770784,14.5662408 2.05281005,14.7223363 L4.96927763,19.3895899 C5.17004895,19.7134879 5.04958616,20.1251896 4.70087808,20.3105529 L2.98481164,21.2256624 L3.95908089,22.7866168 L4.88474234,22.7027155 C5.19540954,22.6714964 5.48494292,22.8373478 5.618086,23.0851493 L7.88574522,26.7124171 C8.61908888,27.8928888 9.81314989,28.683122 11.1445807,29.0128736 C12.4696715,29.340674 13.9131116,29.1670178 15.2065015,28.5250753 C16.4026759,27.9260591 17.3600381,26.6968075 17.7024061,25.5143846"></path>
                      <path d="M29.5643983,30.2530518 C28.0089489,30.2530518 26.7028786,29.6208653 25.7898975,28.6784391 C24.8832565,27.7418665 24.3570243,26.4852982 24.3485707,25.2248275 L24.3485707,25.2014132 C24.3485707,22.8638841 25.7307228,21.6639004 27.0304529,20.538062 C28.5140473,19.2502747 29.8877458,18.060047 28.4802332,15.1156968 C28.3259562,14.7957011 28.2984823,14.4991198 28.357657,14.2552207 C28.4633261,13.824007 28.8712089,13.5684008 29.3340396,13.55084 L29.336153,13.55084 C29.6806343,13.5371817 30.1075375,13.6444973 30.5492344,13.9079083 L30.5492344,13.9118107 C31.4305149,14.4464376 32.774626,15.6171534 33.8862651,17.1176208 C34.7168244,18.2356543 35.433261,19.5449048 35.7566085,20.9224471 C35.9235657,21.6424373 36.0144411,22.3799882 36.0207812,23.1019296 C36.0376883,26.1360347 34.4822389,29.4101365 30.9803644,30.1125659 C30.5450077,30.2003696 30.0842903,30.2471982 29.596099,30.2471982 L29.5643983,30.2530518 Z M29.5643983,29.5740367 L29.596099,29.5740367 C30.027229,29.5740367 30.4372252,29.5291592 30.8218608,29.4491603 C33.996161,28.8130714 35.3022313,25.806283 35.2874376,23.105832 C35.2810974,22.4346216 35.1986755,21.7419481 35.0401718,21.0687865 C34.7379582,19.7849016 34.0637892,18.55565 33.2818378,17.4981034 C32.2230332,16.0737325 30.9676841,14.9732597 30.1498052,14.4776567 L30.1455784,14.4776567 C29.8412514,14.2922934 29.5728518,14.2161968 29.3678537,14.227904 C29.2304839,14.2298552 29.1057943,14.2766838 29.0698668,14.4113161 C29.0423929,14.5186317 29.0656401,14.6649712 29.1501754,14.8425298 C30.7690262,18.2239472 29.2135768,19.5683191 27.5334379,21.0258603 C26.3436036,22.0599926 25.0861412,23.156563 25.0861412,25.2014132 L25.0819144,25.2248275 C25.0903679,26.3194468 25.5468585,27.4140661 26.3309233,28.2238111 C27.1171016,29.0335562 28.2329674,29.5740367 29.5643983,29.5740367 Z"></path>
                    </g>
                  </svg>
                </span>
              </a>
            </div>
            <div *ngIf="model.hasOwnProperty('wZ')" class="type left">
              <a [routerLink]="['../', model.wZ.radiatorModel, 'size']" (click)="setGroupAndModel(productGroup.id, model.wZ)">
                <span>
                  <svg width="39px" height="36px" viewBox="0 0 39 36" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g class="icon" fill-rule="evenodd">
                      <path d="M15.4516539,29.9338366 C13.9490391,30.5874863 12.2858072,30.6948019 10.7620585,30.3182217 C9.07557946,29.9026176 7.5539442,28.8899484 6.61560245,27.3875298 L4.5550547,24.0880625 L3.64841369,24.1700126 C3.36944723,24.2012317 3.07780047,24.0783066 2.92775032,23.8363586 L1.35116712,21.3173685 C1.14828242,20.9934705 1.26874521,20.5778664 1.61745329,20.392503 L3.33774649,19.4773935 L0.78478066,15.4013514 C0.279682288,14.5896552 0.581895958,13.5477181 1.461063,13.0774806 L1.86471902,12.8628494 C2.72063886,12.4082214 3.83016457,12.6716325 4.34794324,13.4501585 L6.92626965,17.5671756 L9.07980623,16.4218254 L6.5268404,12.3379785 C6.02596879,11.5301846 6.32184231,10.4882475 7.19678259,10.0199612 L7.64059287,9.78581808 C8.07594963,9.55362612 8.581048,9.50679749 9.03331182,9.61606429 C9.48557563,9.73118468 9.89768518,10.0024005 10.1512911,10.4062974 L12.7021435,14.4881931 C13.2600764,14.1896606 13.8222361,13.8891769 14.3822824,13.5886932 C14.7331039,13.4013786 15.181141,13.5145478 15.386139,13.8364947 L16.9584955,16.3554848 C17.0916386,16.5662136 17.0958653,16.8335271 16.9437018,17.0559631 L16.4132428,17.8344891 L18.4442032,21.0773718 C19.382545,22.5797904 19.570636,24.3046449 19.1183722,25.8636481 C18.7421901,27.1650938 17.9116309,28.3689799 16.6985495,29.2275048 C17.0916386,29.7543269 17.5354489,30.2421251 18.0194134,30.6948019 C20.073621,32.5894103 22.9118934,33.7620772 26.0481528,33.7620772 C29.1801854,33.7620772 32.0184578,32.5894103 34.0684387,30.6889483 C36.1226463,28.7962911 37.3949024,26.1777902 37.3949024,23.2861222 C37.3949024,19.12813 34.5270426,15.9652462 31.6338222,12.7750457 C29.4295645,10.3458105 27.2147398,7.90291687 26.1031007,4.94881072 C24.9830081,7.91852641 22.732256,10.36142 20.504751,12.7848017 C19.9975392,13.3408917 19.4861007,13.8950305 18.995796,14.4530717 C18.8647663,14.6267278 18.6470879,14.7359946 18.3998222,14.7359946 C17.9940528,14.7359946 17.6622518,14.4316085 17.6622518,14.0550283 C17.6622518,13.8794209 17.7341068,13.7155207 17.856683,13.5964979 C18.3554412,13.030652 18.8689931,12.4726108 19.382545,11.9145696 C22.3581873,8.67363809 25.3655303,5.40148749 25.3655303,0.968377069 L25.3655303,0.882524578 C25.3655303,0.507895529 25.6952179,0.203509426 26.098874,0.203509426 C26.5046434,0.203509426 26.8364444,0.507895529 26.8364444,0.882524578 L26.8364444,0.968377069 C26.8364444,5.37612198 29.8120867,8.65802855 32.760255,11.908716 C35.8246594,15.2862311 38.8637031,18.6364294 38.8637031,23.2861222 C38.8637031,26.5524192 37.4287165,29.512379 35.1124495,31.6508865 C32.7898424,33.7932963 29.5859548,35.1201076 26.0481528,35.1201076 C22.5103508,35.1201076 19.3001231,33.7932963 16.9817427,31.6508865 C16.4132428,31.1279667 15.9060311,30.5504136 15.4516539,29.9338366 M17.7024061,25.5143846 C18.0574543,24.2890354 17.9074041,22.9349075 17.1740605,21.7583381 L14.9233083,18.1622895 C14.7838251,17.9359511 14.8007321,17.6686377 14.9444421,17.4618112 L15.4706743,16.681334 L14.4816114,15.1008677 C13.9215651,15.3994002 13.357292,15.6959816 12.7951323,15.9945141 C12.4464242,16.1818286 12.0005006,16.0706106 11.7997293,15.7486638 L8.88114829,11.0872638 C8.78181932,10.9253148 8.54089374,10.8648278 8.36970977,10.9584851 L7.93012625,11.1887258 C7.75894228,11.2823831 7.69342743,11.5009167 7.79486978,11.6628657 L10.7155641,16.3262169 C10.9163355,16.6501149 10.7958727,17.065719 10.4471646,17.2510824 L7.02137186,19.0754478 C6.67266378,19.2608111 6.22462673,19.1476419 6.02174202,18.8276463 L3.086254,14.1369784 C2.98481164,14.0101509 2.79249385,13.9574686 2.6318768,14.0179556 L2.18806651,14.2501476 C2.01476916,14.3418537 1.95770784,14.5662408 2.05281005,14.7223363 L4.96927763,19.3895899 C5.17004895,19.7134879 5.04958616,20.1251896 4.70087808,20.3105529 L2.98481164,21.2256624 L3.95908089,22.7866168 L4.88474234,22.7027155 C5.19540954,22.6714964 5.48494292,22.8373478 5.618086,23.0851493 L7.88574522,26.7124171 C8.61908888,27.8928888 9.81314989,28.683122 11.1445807,29.0128736 C12.4696715,29.340674 13.9131116,29.1670178 15.2065015,28.5250753 C16.4026759,27.9260591 17.3600381,26.6968075 17.7024061,25.5143846"></path>
                      <path d="M29.5643983,30.2530518 C28.0089489,30.2530518 26.7028786,29.6208653 25.7898975,28.6784391 C24.8832565,27.7418665 24.3570243,26.4852982 24.3485707,25.2248275 L24.3485707,25.2014132 C24.3485707,22.8638841 25.7307228,21.6639004 27.0304529,20.538062 C28.5140473,19.2502747 29.8877458,18.060047 28.4802332,15.1156968 C28.3259562,14.7957011 28.2984823,14.4991198 28.357657,14.2552207 C28.4633261,13.824007 28.8712089,13.5684008 29.3340396,13.55084 L29.336153,13.55084 C29.6806343,13.5371817 30.1075375,13.6444973 30.5492344,13.9079083 L30.5492344,13.9118107 C31.4305149,14.4464376 32.774626,15.6171534 33.8862651,17.1176208 C34.7168244,18.2356543 35.433261,19.5449048 35.7566085,20.9224471 C35.9235657,21.6424373 36.0144411,22.3799882 36.0207812,23.1019296 C36.0376883,26.1360347 34.4822389,29.4101365 30.9803644,30.1125659 C30.5450077,30.2003696 30.0842903,30.2471982 29.596099,30.2471982 L29.5643983,30.2530518 Z M29.5643983,29.5740367 L29.596099,29.5740367 C30.027229,29.5740367 30.4372252,29.5291592 30.8218608,29.4491603 C33.996161,28.8130714 35.3022313,25.806283 35.2874376,23.105832 C35.2810974,22.4346216 35.1986755,21.7419481 35.0401718,21.0687865 C34.7379582,19.7849016 34.0637892,18.55565 33.2818378,17.4981034 C32.2230332,16.0737325 30.9676841,14.9732597 30.1498052,14.4776567 L30.1455784,14.4776567 C29.8412514,14.2922934 29.5728518,14.2161968 29.3678537,14.227904 C29.2304839,14.2298552 29.1057943,14.2766838 29.0698668,14.4113161 C29.0423929,14.5186317 29.0656401,14.6649712 29.1501754,14.8425298 C30.7690262,18.2239472 29.2135768,19.5683191 27.5334379,21.0258603 C26.3436036,22.0599926 25.0861412,23.156563 25.0861412,25.2014132 L25.0819144,25.2248275 C25.0903679,26.3194468 25.5468585,27.4140661 26.3309233,28.2238111 C27.1171016,29.0335562 28.2329674,29.5740367 29.5643983,29.5740367 Z"></path>
                    </g>
                  </svg>
                </span>
              </a>
            </div>
            <div *ngIf="model.hasOwnProperty('wL')" class="type right">
              <a [routerLink]="['../', model.wL.radiatorModel, 'size']" (click)="setGroupAndModel(productGroup.id, model.wL)">
                <span>
                  <svg width="55px" height="36px" viewBox="0 0 55 36" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g class="icon" fill-rule="evenodd">
                      <path d="M19.7938611,30.2690616 L20.7689863,31.8864191 C20.9362242,32.1390538 21.1214722,32.3718741 21.3350221,32.5724957 C22.0785872,33.2907709 23.1051702,33.7365969 24.2192315,33.7365969 L48.8778065,33.7440273 C49.9918678,33.7440273 51.0158779,33.2907709 51.759443,32.5799262 C52.5030081,31.8715582 52.9661283,30.8833107 52.9661283,29.7984675 L52.9661283,6.06814179 C52.9687012,4.98329859 52.5030081,3.99752784 51.7620159,3.28420628 C51.0235966,2.57336154 49.9944407,2.12753557 48.8778065,2.12753557 L24.2166586,2.12753557 C23.0948786,2.12753557 22.0682956,2.57336154 21.3298763,3.28420628 C20.5888841,4.00495827 20.1309097,4.98825222 20.1309097,6.06814179 L20.1309097,7.41800376 C20.1309097,7.89602827 19.726966,8.27993397 19.2355441,8.27993397 C18.7389764,8.27993397 18.3376056,7.89602827 18.3376056,7.41800376 L18.3376056,6.06814179 C18.3376056,4.51270451 18.9988382,3.08853822 20.0640146,2.06809211 C21.126618,1.04516919 22.6008838,0.411105584 24.2166586,0.411105584 C32.4396141,0.411105584 40.6574239,0.403675152 48.8778065,0.403675152 C50.4910084,0.403675152 51.9678471,1.03773875 53.0278777,2.06066168 C54.093054,3.08853822 54.7542867,4.50527408 54.7542867,6.06814179 L54.7542867,29.7984675 C54.7542867,31.3514279 54.0904811,32.7780711 53.0278777,33.7960404 C51.9678471,34.8189633 50.4910084,35.4555037 48.8778065,35.4629341 L24.2192315,35.4629341 C22.6060296,35.4629341 21.1343367,34.8189633 20.0691603,33.7960404 C19.7424033,33.4814854 19.4593855,33.1273014 19.2175338,32.7508261 L18.2372629,31.1186077 C16.4722605,31.8566974 14.5451661,31.953293 12.7801638,31.5025134 C10.7295707,30.9749527 8.87709005,29.687011 7.72958124,27.7823434 L5.22615954,23.5940561 L4.12238985,23.6980821 C3.78019552,23.7377111 3.42256385,23.581672 3.23988868,23.2745474 L1.32565873,20.0819381 C1.07608842,19.6707875 1.22274314,19.14075 1.64984283,18.9079297 L2.99031838,18.1624097 L3.73902928,17.7438286 L0.633551392,12.5648169 C0.0186307485,11.5369404 0.391699758,10.2068929 1.4568761,9.61741188 L1.94829804,9.34496267 C2.99289126,8.77034253 4.34365837,9.1022352 4.96887057,10.0904828 L8.11294181,15.3116002 L10.7347164,13.8577122 L7.62666565,8.67870053 C7.0143179,7.6533008 7.37709535,6.32820694 8.4396988,5.73377231 L8.98000564,5.43903181 C10.0400362,4.8495508 11.421678,5.20373477 12.0365986,6.23161131 L15.1395036,11.4081462 C15.8213194,11.0291941 16.508281,10.6452884 17.1900967,10.2663363 C17.6120507,10.0285625 18.1600762,10.1722175 18.4070736,10.5784145 L20.3264493,13.7784543 C20.4885414,14.0459499 20.4911143,14.3877498 20.3084391,14.6676294 L19.6626438,15.6534002 L22.1326179,19.7723368 C23.2775538,21.681958 23.5039681,23.8689821 22.9559426,25.8430004 C22.4722393,27.5841985 21.3890528,29.1668807 19.7938611,30.2690616 M21.2295336,25.3971744 C21.6617791,23.8417372 21.4816768,22.1228304 20.5888841,20.6367438 L17.8487565,16.0719812 C17.6789458,15.7846711 17.6995289,15.4428712 17.8693396,15.1828061 L18.5151349,14.1896049 L17.3110226,12.1858648 C16.6292068,12.5648169 15.9422452,12.9412922 15.2578566,13.3227211 C14.8307569,13.5580181 14.2853042,13.4143631 14.0408797,13.0081661 L10.487719,7.09106471 C10.3693661,6.88301259 10.0786296,6.80870826 9.8676526,6.930072 L9.33506442,7.21985888 C9.12666036,7.34122262 9.04690078,7.61614863 9.16782659,7.82172394 L12.7209873,13.7413021 C12.9679847,14.1524527 12.8239029,14.6800135 12.3993761,14.9153105 L8.22872185,17.2360824 C7.80419504,17.4614722 7.25874242,17.3252476 7.01174501,16.9140969 L3.43800119,10.964797 C3.31192959,10.8013275 3.08036952,10.7344536 2.88225701,10.8161884 C2.71501918,10.9202144 2.51690667,11.0093796 2.34452306,11.1084521 C2.13097321,11.2199086 2.0589323,11.5072186 2.17985811,11.7004099 L5.73044593,17.6323721 C5.97229756,18.0385691 5.82821574,18.5661298 5.40368893,18.8014269 L3.31192959,19.9630512 L4.50060464,21.9370695 L5.62495745,21.8330435 C6.00574513,21.7983681 6.35823102,22.0064202 6.51517729,22.3135448 L9.27588796,26.9179364 C10.1712536,28.4139302 11.6275092,29.4269458 13.2458568,29.8380965 C14.8616315,30.2566775 16.6189152,30.041195 18.1935237,29.2263242 C19.6472064,28.4659432 20.8127255,26.9055523 21.2295336,25.3971744"></path>
                      <path d="M47.4688921,17.9335523 C47.4688921,12.1353379 42.5778288,7.42444347 36.552121,7.42444347 C33.5341214,7.42444347 30.8042854,8.60092867 28.8334519,10.5006427 C26.8574726,12.4028335 25.6327771,15.0356835 25.6327771,17.9335523 C25.6327771,20.8388516 26.8574726,23.4717016 28.830879,25.366462 L28.8334519,25.366462 C30.8042854,27.266176 33.5341214,28.4500916 36.552121,28.4500916 C42.5778288,28.4500916 47.4688921,23.7391972 47.4688921,17.9335523 M32.3943313,16.8908149 C32.1164592,16.6183657 31.7305257,16.4524194 31.3059989,16.4524194 C30.884045,16.4524194 30.4955386,16.6183657 30.2176665,16.8908149 C29.9397945,17.1583105 29.764838,17.5298321 29.764838,17.9335523 C29.764838,18.3447029 29.9397945,18.7162246 30.2176665,18.9837202 C30.4955386,19.2536926 30.884045,19.4146853 31.3059989,19.4146853 C31.7279528,19.4146853 32.1164592,19.2536926 32.3943313,18.9837202 C32.6722033,18.7162246 32.844587,18.3447029 32.844587,17.9335523 C32.844587,17.5298321 32.6722033,17.1583105 32.3943313,16.8908149 M40.1181462,16.3211484 C40.5503917,15.9050442 41.1447292,15.6474558 41.7956703,15.6474558 C42.4543301,15.6474558 43.0512405,15.9050442 43.4783402,16.3161948 C43.9080127,16.732299 44.1730204,17.309396 44.1730204,17.9335523 C44.1730204,18.5651391 43.9080127,19.1397593 43.4783402,19.5509099 C43.0512405,19.9620605 42.4543301,20.2270793 41.7956703,20.2270793 C41.1447292,20.2270793 40.5503917,19.9620605 40.1181462,19.5509099 C39.6884736,19.1397593 39.4208931,18.5651391 39.4208931,17.9335523 C39.4208931,17.309396 39.6884736,16.732299 40.1181462,16.3211484 M41.7956703,16.4524194 C41.3737164,16.4524194 40.9877829,16.6183657 40.7099108,16.8908149 C40.4320387,17.1583105 40.2570822,17.5298321 40.2570822,17.9335523 C40.2570822,18.3447029 40.4320387,18.7162246 40.7099108,18.9837202 C40.9877829,19.2536926 41.3737164,19.4146853 41.7956703,19.4146853 C42.2201971,19.4146853 42.6087034,19.2536926 42.8865755,18.9837202 C43.1644476,18.7162246 43.3394041,18.3447029 43.3394041,17.9335523 L43.3342583,17.9335523 C43.3342583,17.5298321 43.1644476,17.1583105 42.8865755,16.8908149 C42.6087034,16.6183657 42.2201971,16.4524194 41.7956703,16.4524194 M31.3059989,15.6474558 C31.9595129,15.6474558 32.5564233,15.9050442 32.983523,16.3211484 C33.4183414,16.732299 33.6807761,17.309396 33.6807761,17.9335523 C33.6807761,18.5651391 33.4157685,19.1348056 32.983523,19.5509099 C32.5564233,19.9620605 31.9595129,20.2270793 31.3059989,20.2270793 C30.649912,20.2270793 30.0555745,19.9620605 29.6259019,19.5509099 C29.1962293,19.1397593 28.9286488,18.5651391 28.9286488,17.9335523 C28.9286488,17.309396 29.1962293,16.732299 29.6259019,16.3211484 C30.0555745,15.9050442 30.649912,15.6474558 31.3059989,15.6474558 M36.552121,6.56499007 C43.0718236,6.56499007 48.3642577,11.6573134 48.3642577,17.9335523 C48.3642577,24.2172217 43.0718236,29.309545 36.552121,29.309545 C33.2896969,29.309545 30.3334466,28.0315106 28.2030939,25.9782343 L28.2030939,25.9708038 L28.1979481,25.9708038 C26.0624497,23.9150508 24.7399843,21.0741486 24.7399843,17.9335523 C24.7399843,14.792956 26.0624497,11.9520539 28.1979481,9.89630079 L28.2030939,9.89630079 C30.3334466,7.83559408 33.2896969,6.56499007 36.552121,6.56499007"></path>
                    </g>
                  </svg>
                </span>
              </a>
            </div>
            <div *ngIf="model.hasOwnProperty('wW')" class="type right">
              <a [routerLink]="['../', model.wW.radiatorModel, 'size']" (click)="setGroupAndModel(productGroup.id, model.wW)">
                <span>
                  <svg width="55px" height="36px" viewBox="0 0 55 36" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g class="icon" fill-rule="evenodd">
                      <path d="M19.7938611,30.2690616 L20.7689863,31.8864191 C20.9362242,32.1390538 21.1214722,32.3718741 21.3350221,32.5724957 C22.0785872,33.2907709 23.1051702,33.7365969 24.2192315,33.7365969 L48.8778065,33.7440273 C49.9918678,33.7440273 51.0158779,33.2907709 51.759443,32.5799262 C52.5030081,31.8715582 52.9661283,30.8833107 52.9661283,29.7984675 L52.9661283,6.06814179 C52.9687012,4.98329859 52.5030081,3.99752784 51.7620159,3.28420628 C51.0235966,2.57336154 49.9944407,2.12753557 48.8778065,2.12753557 L24.2166586,2.12753557 C23.0948786,2.12753557 22.0682956,2.57336154 21.3298763,3.28420628 C20.5888841,4.00495827 20.1309097,4.98825222 20.1309097,6.06814179 L20.1309097,7.41800376 C20.1309097,7.89602827 19.726966,8.27993397 19.2355441,8.27993397 C18.7389764,8.27993397 18.3376056,7.89602827 18.3376056,7.41800376 L18.3376056,6.06814179 C18.3376056,4.51270451 18.9988382,3.08853822 20.0640146,2.06809211 C21.126618,1.04516919 22.6008838,0.411105584 24.2166586,0.411105584 C32.4396141,0.411105584 40.6574239,0.403675152 48.8778065,0.403675152 C50.4910084,0.403675152 51.9678471,1.03773875 53.0278777,2.06066168 C54.093054,3.08853822 54.7542867,4.50527408 54.7542867,6.06814179 L54.7542867,29.7984675 C54.7542867,31.3514279 54.0904811,32.7780711 53.0278777,33.7960404 C51.9678471,34.8189633 50.4910084,35.4555037 48.8778065,35.4629341 L24.2192315,35.4629341 C22.6060296,35.4629341 21.1343367,34.8189633 20.0691603,33.7960404 C19.7424033,33.4814854 19.4593855,33.1273014 19.2175338,32.7508261 L18.2372629,31.1186077 C16.4722605,31.8566974 14.5451661,31.953293 12.7801638,31.5025134 C10.7295707,30.9749527 8.87709005,29.687011 7.72958124,27.7823434 L5.22615954,23.5940561 L4.12238985,23.6980821 C3.78019552,23.7377111 3.42256385,23.581672 3.23988868,23.2745474 L1.32565873,20.0819381 C1.07608842,19.6707875 1.22274314,19.14075 1.64984283,18.9079297 L2.99031838,18.1624097 L3.73902928,17.7438286 L0.633551392,12.5648169 C0.0186307485,11.5369404 0.391699758,10.2068929 1.4568761,9.61741188 L1.94829804,9.34496267 C2.99289126,8.77034253 4.34365837,9.1022352 4.96887057,10.0904828 L8.11294181,15.3116002 L10.7347164,13.8577122 L7.62666565,8.67870053 C7.0143179,7.6533008 7.37709535,6.32820694 8.4396988,5.73377231 L8.98000564,5.43903181 C10.0400362,4.8495508 11.421678,5.20373477 12.0365986,6.23161131 L15.1395036,11.4081462 C15.8213194,11.0291941 16.508281,10.6452884 17.1900967,10.2663363 C17.6120507,10.0285625 18.1600762,10.1722175 18.4070736,10.5784145 L20.3264493,13.7784543 C20.4885414,14.0459499 20.4911143,14.3877498 20.3084391,14.6676294 L19.6626438,15.6534002 L22.1326179,19.7723368 C23.2775538,21.681958 23.5039681,23.8689821 22.9559426,25.8430004 C22.4722393,27.5841985 21.3890528,29.1668807 19.7938611,30.2690616 M21.2295336,25.3971744 C21.6617791,23.8417372 21.4816768,22.1228304 20.5888841,20.6367438 L17.8487565,16.0719812 C17.6789458,15.7846711 17.6995289,15.4428712 17.8693396,15.1828061 L18.5151349,14.1896049 L17.3110226,12.1858648 C16.6292068,12.5648169 15.9422452,12.9412922 15.2578566,13.3227211 C14.8307569,13.5580181 14.2853042,13.4143631 14.0408797,13.0081661 L10.487719,7.09106471 C10.3693661,6.88301259 10.0786296,6.80870826 9.8676526,6.930072 L9.33506442,7.21985888 C9.12666036,7.34122262 9.04690078,7.61614863 9.16782659,7.82172394 L12.7209873,13.7413021 C12.9679847,14.1524527 12.8239029,14.6800135 12.3993761,14.9153105 L8.22872185,17.2360824 C7.80419504,17.4614722 7.25874242,17.3252476 7.01174501,16.9140969 L3.43800119,10.964797 C3.31192959,10.8013275 3.08036952,10.7344536 2.88225701,10.8161884 C2.71501918,10.9202144 2.51690667,11.0093796 2.34452306,11.1084521 C2.13097321,11.2199086 2.0589323,11.5072186 2.17985811,11.7004099 L5.73044593,17.6323721 C5.97229756,18.0385691 5.82821574,18.5661298 5.40368893,18.8014269 L3.31192959,19.9630512 L4.50060464,21.9370695 L5.62495745,21.8330435 C6.00574513,21.7983681 6.35823102,22.0064202 6.51517729,22.3135448 L9.27588796,26.9179364 C10.1712536,28.4139302 11.6275092,29.4269458 13.2458568,29.8380965 C14.8616315,30.2566775 16.6189152,30.041195 18.1935237,29.2263242 C19.6472064,28.4659432 20.8127255,26.9055523 21.2295336,25.3971744"></path>
                      <path d="M47.4688921,17.9335523 C47.4688921,12.1353379 42.5778288,7.42444347 36.552121,7.42444347 C33.5341214,7.42444347 30.8042854,8.60092867 28.8334519,10.5006427 C26.8574726,12.4028335 25.6327771,15.0356835 25.6327771,17.9335523 C25.6327771,20.8388516 26.8574726,23.4717016 28.830879,25.366462 L28.8334519,25.366462 C30.8042854,27.266176 33.5341214,28.4500916 36.552121,28.4500916 C42.5778288,28.4500916 47.4688921,23.7391972 47.4688921,17.9335523 M32.3943313,16.8908149 C32.1164592,16.6183657 31.7305257,16.4524194 31.3059989,16.4524194 C30.884045,16.4524194 30.4955386,16.6183657 30.2176665,16.8908149 C29.9397945,17.1583105 29.764838,17.5298321 29.764838,17.9335523 C29.764838,18.3447029 29.9397945,18.7162246 30.2176665,18.9837202 C30.4955386,19.2536926 30.884045,19.4146853 31.3059989,19.4146853 C31.7279528,19.4146853 32.1164592,19.2536926 32.3943313,18.9837202 C32.6722033,18.7162246 32.844587,18.3447029 32.844587,17.9335523 C32.844587,17.5298321 32.6722033,17.1583105 32.3943313,16.8908149 M40.1181462,16.3211484 C40.5503917,15.9050442 41.1447292,15.6474558 41.7956703,15.6474558 C42.4543301,15.6474558 43.0512405,15.9050442 43.4783402,16.3161948 C43.9080127,16.732299 44.1730204,17.309396 44.1730204,17.9335523 C44.1730204,18.5651391 43.9080127,19.1397593 43.4783402,19.5509099 C43.0512405,19.9620605 42.4543301,20.2270793 41.7956703,20.2270793 C41.1447292,20.2270793 40.5503917,19.9620605 40.1181462,19.5509099 C39.6884736,19.1397593 39.4208931,18.5651391 39.4208931,17.9335523 C39.4208931,17.309396 39.6884736,16.732299 40.1181462,16.3211484 M41.7956703,16.4524194 C41.3737164,16.4524194 40.9877829,16.6183657 40.7099108,16.8908149 C40.4320387,17.1583105 40.2570822,17.5298321 40.2570822,17.9335523 C40.2570822,18.3447029 40.4320387,18.7162246 40.7099108,18.9837202 C40.9877829,19.2536926 41.3737164,19.4146853 41.7956703,19.4146853 C42.2201971,19.4146853 42.6087034,19.2536926 42.8865755,18.9837202 C43.1644476,18.7162246 43.3394041,18.3447029 43.3394041,17.9335523 L43.3342583,17.9335523 C43.3342583,17.5298321 43.1644476,17.1583105 42.8865755,16.8908149 C42.6087034,16.6183657 42.2201971,16.4524194 41.7956703,16.4524194 M31.3059989,15.6474558 C31.9595129,15.6474558 32.5564233,15.9050442 32.983523,16.3211484 C33.4183414,16.732299 33.6807761,17.309396 33.6807761,17.9335523 C33.6807761,18.5651391 33.4157685,19.1348056 32.983523,19.5509099 C32.5564233,19.9620605 31.9595129,20.2270793 31.3059989,20.2270793 C30.649912,20.2270793 30.0555745,19.9620605 29.6259019,19.5509099 C29.1962293,19.1397593 28.9286488,18.5651391 28.9286488,17.9335523 C28.9286488,17.309396 29.1962293,16.732299 29.6259019,16.3211484 C30.0555745,15.9050442 30.649912,15.6474558 31.3059989,15.6474558 M36.552121,6.56499007 C43.0718236,6.56499007 48.3642577,11.6573134 48.3642577,17.9335523 C48.3642577,24.2172217 43.0718236,29.309545 36.552121,29.309545 C33.2896969,29.309545 30.3334466,28.0315106 28.2030939,25.9782343 L28.2030939,25.9708038 L28.1979481,25.9708038 C26.0624497,23.9150508 24.7399843,21.0741486 24.7399843,17.9335523 C24.7399843,14.792956 26.0624497,11.9520539 28.1979481,9.89630079 L28.2030939,9.89630079 C30.3334466,7.83559408 33.2896969,6.56499007 36.552121,6.56499007"></path>
                    </g>
                  </svg>
                </span>
              </a>
            </div>
            <div *ngIf="model.hasOwnProperty('wS')" class="type right">
              <a [routerLink]="['../', model.wS.radiatorModel, 'size']" (click)="setGroupAndModel(productGroup.id, model.wS)">
                <span>
                  <svg width="55px" height="36px" viewBox="0 0 55 36" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g class="icon" fill-rule="evenodd">
                      <path d="M19.7938611,30.2690616 L20.7689863,31.8864191 C20.9362242,32.1390538 21.1214722,32.3718741 21.3350221,32.5724957 C22.0785872,33.2907709 23.1051702,33.7365969 24.2192315,33.7365969 L48.8778065,33.7440273 C49.9918678,33.7440273 51.0158779,33.2907709 51.759443,32.5799262 C52.5030081,31.8715582 52.9661283,30.8833107 52.9661283,29.7984675 L52.9661283,6.06814179 C52.9687012,4.98329859 52.5030081,3.99752784 51.7620159,3.28420628 C51.0235966,2.57336154 49.9944407,2.12753557 48.8778065,2.12753557 L24.2166586,2.12753557 C23.0948786,2.12753557 22.0682956,2.57336154 21.3298763,3.28420628 C20.5888841,4.00495827 20.1309097,4.98825222 20.1309097,6.06814179 L20.1309097,7.41800376 C20.1309097,7.89602827 19.726966,8.27993397 19.2355441,8.27993397 C18.7389764,8.27993397 18.3376056,7.89602827 18.3376056,7.41800376 L18.3376056,6.06814179 C18.3376056,4.51270451 18.9988382,3.08853822 20.0640146,2.06809211 C21.126618,1.04516919 22.6008838,0.411105584 24.2166586,0.411105584 C32.4396141,0.411105584 40.6574239,0.403675152 48.8778065,0.403675152 C50.4910084,0.403675152 51.9678471,1.03773875 53.0278777,2.06066168 C54.093054,3.08853822 54.7542867,4.50527408 54.7542867,6.06814179 L54.7542867,29.7984675 C54.7542867,31.3514279 54.0904811,32.7780711 53.0278777,33.7960404 C51.9678471,34.8189633 50.4910084,35.4555037 48.8778065,35.4629341 L24.2192315,35.4629341 C22.6060296,35.4629341 21.1343367,34.8189633 20.0691603,33.7960404 C19.7424033,33.4814854 19.4593855,33.1273014 19.2175338,32.7508261 L18.2372629,31.1186077 C16.4722605,31.8566974 14.5451661,31.953293 12.7801638,31.5025134 C10.7295707,30.9749527 8.87709005,29.687011 7.72958124,27.7823434 L5.22615954,23.5940561 L4.12238985,23.6980821 C3.78019552,23.7377111 3.42256385,23.581672 3.23988868,23.2745474 L1.32565873,20.0819381 C1.07608842,19.6707875 1.22274314,19.14075 1.64984283,18.9079297 L2.99031838,18.1624097 L3.73902928,17.7438286 L0.633551392,12.5648169 C0.0186307485,11.5369404 0.391699758,10.2068929 1.4568761,9.61741188 L1.94829804,9.34496267 C2.99289126,8.77034253 4.34365837,9.1022352 4.96887057,10.0904828 L8.11294181,15.3116002 L10.7347164,13.8577122 L7.62666565,8.67870053 C7.0143179,7.6533008 7.37709535,6.32820694 8.4396988,5.73377231 L8.98000564,5.43903181 C10.0400362,4.8495508 11.421678,5.20373477 12.0365986,6.23161131 L15.1395036,11.4081462 C15.8213194,11.0291941 16.508281,10.6452884 17.1900967,10.2663363 C17.6120507,10.0285625 18.1600762,10.1722175 18.4070736,10.5784145 L20.3264493,13.7784543 C20.4885414,14.0459499 20.4911143,14.3877498 20.3084391,14.6676294 L19.6626438,15.6534002 L22.1326179,19.7723368 C23.2775538,21.681958 23.5039681,23.8689821 22.9559426,25.8430004 C22.4722393,27.5841985 21.3890528,29.1668807 19.7938611,30.2690616 M21.2295336,25.3971744 C21.6617791,23.8417372 21.4816768,22.1228304 20.5888841,20.6367438 L17.8487565,16.0719812 C17.6789458,15.7846711 17.6995289,15.4428712 17.8693396,15.1828061 L18.5151349,14.1896049 L17.3110226,12.1858648 C16.6292068,12.5648169 15.9422452,12.9412922 15.2578566,13.3227211 C14.8307569,13.5580181 14.2853042,13.4143631 14.0408797,13.0081661 L10.487719,7.09106471 C10.3693661,6.88301259 10.0786296,6.80870826 9.8676526,6.930072 L9.33506442,7.21985888 C9.12666036,7.34122262 9.04690078,7.61614863 9.16782659,7.82172394 L12.7209873,13.7413021 C12.9679847,14.1524527 12.8239029,14.6800135 12.3993761,14.9153105 L8.22872185,17.2360824 C7.80419504,17.4614722 7.25874242,17.3252476 7.01174501,16.9140969 L3.43800119,10.964797 C3.31192959,10.8013275 3.08036952,10.7344536 2.88225701,10.8161884 C2.71501918,10.9202144 2.51690667,11.0093796 2.34452306,11.1084521 C2.13097321,11.2199086 2.0589323,11.5072186 2.17985811,11.7004099 L5.73044593,17.6323721 C5.97229756,18.0385691 5.82821574,18.5661298 5.40368893,18.8014269 L3.31192959,19.9630512 L4.50060464,21.9370695 L5.62495745,21.8330435 C6.00574513,21.7983681 6.35823102,22.0064202 6.51517729,22.3135448 L9.27588796,26.9179364 C10.1712536,28.4139302 11.6275092,29.4269458 13.2458568,29.8380965 C14.8616315,30.2566775 16.6189152,30.041195 18.1935237,29.2263242 C19.6472064,28.4659432 20.8127255,26.9055523 21.2295336,25.3971744"></path>
                      <path d="M47.4688921,17.9335523 C47.4688921,12.1353379 42.5778288,7.42444347 36.552121,7.42444347 C33.5341214,7.42444347 30.8042854,8.60092867 28.8334519,10.5006427 C26.8574726,12.4028335 25.6327771,15.0356835 25.6327771,17.9335523 C25.6327771,20.8388516 26.8574726,23.4717016 28.830879,25.366462 L28.8334519,25.366462 C30.8042854,27.266176 33.5341214,28.4500916 36.552121,28.4500916 C42.5778288,28.4500916 47.4688921,23.7391972 47.4688921,17.9335523 M32.3943313,16.8908149 C32.1164592,16.6183657 31.7305257,16.4524194 31.3059989,16.4524194 C30.884045,16.4524194 30.4955386,16.6183657 30.2176665,16.8908149 C29.9397945,17.1583105 29.764838,17.5298321 29.764838,17.9335523 C29.764838,18.3447029 29.9397945,18.7162246 30.2176665,18.9837202 C30.4955386,19.2536926 30.884045,19.4146853 31.3059989,19.4146853 C31.7279528,19.4146853 32.1164592,19.2536926 32.3943313,18.9837202 C32.6722033,18.7162246 32.844587,18.3447029 32.844587,17.9335523 C32.844587,17.5298321 32.6722033,17.1583105 32.3943313,16.8908149 M40.1181462,16.3211484 C40.5503917,15.9050442 41.1447292,15.6474558 41.7956703,15.6474558 C42.4543301,15.6474558 43.0512405,15.9050442 43.4783402,16.3161948 C43.9080127,16.732299 44.1730204,17.309396 44.1730204,17.9335523 C44.1730204,18.5651391 43.9080127,19.1397593 43.4783402,19.5509099 C43.0512405,19.9620605 42.4543301,20.2270793 41.7956703,20.2270793 C41.1447292,20.2270793 40.5503917,19.9620605 40.1181462,19.5509099 C39.6884736,19.1397593 39.4208931,18.5651391 39.4208931,17.9335523 C39.4208931,17.309396 39.6884736,16.732299 40.1181462,16.3211484 M41.7956703,16.4524194 C41.3737164,16.4524194 40.9877829,16.6183657 40.7099108,16.8908149 C40.4320387,17.1583105 40.2570822,17.5298321 40.2570822,17.9335523 C40.2570822,18.3447029 40.4320387,18.7162246 40.7099108,18.9837202 C40.9877829,19.2536926 41.3737164,19.4146853 41.7956703,19.4146853 C42.2201971,19.4146853 42.6087034,19.2536926 42.8865755,18.9837202 C43.1644476,18.7162246 43.3394041,18.3447029 43.3394041,17.9335523 L43.3342583,17.9335523 C43.3342583,17.5298321 43.1644476,17.1583105 42.8865755,16.8908149 C42.6087034,16.6183657 42.2201971,16.4524194 41.7956703,16.4524194 M31.3059989,15.6474558 C31.9595129,15.6474558 32.5564233,15.9050442 32.983523,16.3211484 C33.4183414,16.732299 33.6807761,17.309396 33.6807761,17.9335523 C33.6807761,18.5651391 33.4157685,19.1348056 32.983523,19.5509099 C32.5564233,19.9620605 31.9595129,20.2270793 31.3059989,20.2270793 C30.649912,20.2270793 30.0555745,19.9620605 29.6259019,19.5509099 C29.1962293,19.1397593 28.9286488,18.5651391 28.9286488,17.9335523 C28.9286488,17.309396 29.1962293,16.732299 29.6259019,16.3211484 C30.0555745,15.9050442 30.649912,15.6474558 31.3059989,15.6474558 M36.552121,6.56499007 C43.0718236,6.56499007 48.3642577,11.6573134 48.3642577,17.9335523 C48.3642577,24.2172217 43.0718236,29.309545 36.552121,29.309545 C33.2896969,29.309545 30.3334466,28.0315106 28.2030939,25.9782343 L28.2030939,25.9708038 L28.1979481,25.9708038 C26.0624497,23.9150508 24.7399843,21.0741486 24.7399843,17.9335523 C24.7399843,14.792956 26.0624497,11.9520539 28.1979481,9.89630079 L28.2030939,9.89630079 C30.3334466,7.83559408 33.2896969,6.56499007 36.552121,6.56499007"></path>
                    </g>
                  </svg>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
