@import "../../../styles/breakpoints";
@import "../../../styles/variables";
@import "../../../styles/colors";
@import "../../../styles/typography";

.tabs {
  position: fixed;
  z-index: 1;
  top: $header-height;
  left: 0;
  right: 0;

  @include media-large {
    top: $header-height-large;
  }
}

.tabs-content {
  margin-top: 3rem;

  @include media-large {
    margin-top: 5.625rem;
  }
}

.modelBox {
  padding: .25rem;

  @include media-large {
    padding: .875rem;
  }

  @include media-xlarge {
    width: 20%;
  }

  @include media-xxlarge {
    width: 16.666%;
  }

  &:hover {
    a {
      border-color: $red1;

      h4 {
        color: $text-red;
      }
    }
  }

  &.no-exists {
    opacity: .2;
    cursor: not-allowed;

    &.clickable:hover {
      color: inherit;
    }
  }

  .box-wrapper {
    display: block;
    border: 1px solid $light-grey1;
    color: $text-black;
    position: relative;
    padding-top: 100%;
    min-height: 170px;
    transition: .3s border-color ease-in-out;

    .img-wrapper,
    .text-wrapper {
      position: absolute;
    }

    .img-wrapper {
      top: 0;
      height: 80%;
      width: 100%;
    }

    .text-wrapper {
      margin: auto;
      left: 0;
      right: 0;
      bottom: .5rem;
    }

    h4 {
      font-size: $s2;
      font-weight: 300;
      color: $text-black;
      margin: 0;
      transition: .3s color ease-in-out;

      @include media-large {
        font-size: $s4;
      }
    }

    h5 {
      font-size: $s-3;
      font-weight: 300;
      color: $text-red;
      margin-bottom: .125rem;
    }
  }

  .type {
    border-left: 1px solid $trans-grey2;
    border-bottom: 1px solid $trans-grey2;
    border-right: 1px solid $trans-grey2;
    width: 45%;
    padding-top: 20%;
    transition: .3s all ease-in-out;
    cursor: pointer;
    position: relative;

    &:hover {
      border-color: $red1;
      background-color: $red1;
      color: $text-white;

      .icon {
        fill: $white;
      }
    }

    &.left {
      float: left;
    }

    &.right {
      float: right;
    }

    svg {
      width: auto;
      display: inline-block;
      vertical-align: middle;
      height: 60%;
      margin: 10% .25rem;

      &.small {
        height: 50%;
        margin: 12% .25rem;
      }
    }

    .icon {
      transition: .3s all ease-in-out;
      fill: $light-grey1;
    }

    span {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
  }
}

