@font-face {
  font-family: 'b2bterma';
  src: url('../assets/fonts/icons/b2bterma.eot?46576909');
  src: url('../assets/fonts/icons/b2bterma.eot?46576909#iefix') format('embedded-opentype'),
  url('../assets/fonts/icons/b2bterma.woff2?46576909') format('woff2'),
  url('../assets/fonts/icons/b2bterma.woff?46576909') format('woff'),
  url('../assets/fonts/icons/b2bterma.ttf?46576909') format('truetype'),
  url('../assets/fonts/icons/b2bterma.svg?46576909#b2bterma') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'b2bterma';
    src: url('../../assets/fonts/icons/b2bterma.svg?46576909#b2bterma') format('svg');
  }
}
*/

[class^="icon-"]:before, [class*=" icon-"]:before {
  @extend %icon;
}

//icons
.icon-red {
  &:before {
    color: $red1;
  }
}

.icon-grey {
  &:before {
    color: $light-grey1;
  }
}
.icon-cross:before { content: '\e805'; transform: rotate(45deg); } /* '' */

.icon-basket:before { content: '\e800'; } /* '' */
.icon-menu:before { content: '\e801'; } /* '' */
.icon-close:before { content: '\e802'; } /* '' */
.icon-find:before { content: '\e803'; } /* '' */
.icon-minus:before { content: '\e804'; } /* '' */
.icon-plus:before { content: '\e805'; } /* '' */
.icon-menu_arrow:before { content: '\e806'; } /* '' */
.icon-user:before { content: '\e807'; } /* '' */
.icon-mail:before { content: '\e808'; } /* '' */
.icon-radial_on:before { content: '\e809'; } /* '' */
.icon-checkbox_on:before { content: '\e80a'; } /* '' */
.icon-radial_off:before { content: '\e80b'; } /* '' */
.icon-password:before { content: '\e80c'; } /* '' */
.icon-download:before { content: '\e80d'; } /* '' */
.icon-checkbox_off:before { content: '\e80e'; } /* '' */
.icon-zx_0:before { content: '\e80f'; } /* '' */
.icon-zx:before { content: '\e810'; } /* '' */
.icon-zx-b:before { content: '\e811'; } /* '' */
.icon-zs:before { content: '\e812'; } /* '' */
.icon-zd:before { content: '\e813'; } /* '' */
.icon-za:before { content: '\e814'; } /* '' */
.icon-z8:before { content: '\e815'; } /* '' */
.icon-z8-c:before { content: '\e816'; } /* '' */
.icon-z8-b:before { content: '\e817'; } /* '' */
.icon-z8-a:before { content: '\e818'; } /* '' */
.icon-z1:before { content: '\e819'; } /* '' */
.icon-z1-c:before { content: '\e81a'; } /* '' */
.icon-z1-b:before { content: '\e81b'; } /* '' */
.icon-z1-a:before { content: '\e81c'; } /* '' */
.icon-yx:before { content: '\e81d'; } /* '' */
.icon-yx-a:before { content: '\e81e'; } /* '' */
.icon-yp:before { content: '\e81f'; } /* '' */
.icon-yp-b:before { content: '\e820'; } /* '' */
.icon-yl:before { content: '\e821'; } /* '' */
.icon-yl-b:before { content: '\e822'; } /* '' */
.icon-y8:before { content: '\e823'; } /* '' */
.icon-y8-b:before { content: '\e824'; } /* '' */
.icon-y8-a:before { content: '\e825'; } /* '' */
.icon-y7:before { content: '\e826'; } /* '' */
.icon-y2:before { content: '\e827'; } /* '' */
.icon-y1:before { content: '\e828'; } /* '' */
.icon-y1-b:before { content: '\e829'; } /* '' */
.icon-y1-a:before { content: '\e82a'; } /* '' */
.icon-vp:before { content: '\e82b'; } /* '' */
.icon-vl:before { content: '\e82c'; } /* '' */
.icon-v7:before { content: '\e82d'; } /* '' */
.icon-v6:before { content: '\e82e'; } /* '' */
.icon-v3:before { content: '\e82f'; } /* '' */
.icon-v2:before { content: '\e830'; } /* '' */
.icon-uz:before { content: '\e831'; } /* '' */
.icon-uy:before { content: '\e832'; } /* '' */
.icon-ux:before { content: '\e833'; } /* '' */
.icon-us:before { content: '\e834'; } /* '' */
.icon-un:before { content: '\e835'; } /* '' */
.icon-uc:before { content: '\e836'; } /* '' */
.icon-ua:before { content: '\e837'; } /* '' */
.icon-sx:before { content: '\e838'; } /* '' */
.icon-s8:before { content: '\e839'; } /* '' */
.icon-s1:before { content: '\e83a'; } /* '' */
.icon-px:before { content: '\e83b'; } /* '' */
.icon-p3:before { content: '\e83c'; } /* '' */
.icon-p2:before { content: '\e83d'; } /* '' */
.icon-p1:before { content: '\e83e'; } /* '' */
.icon-o8:before { content: '\e83f'; } /* '' */
.icon-o1:before { content: '\e840'; } /* '' */
.icon-lx:before { content: '\e841'; } /* '' */
.icon-lp:before { content: '\e842'; } /* '' */
.icon-l8:before { content: '\e843'; } /* '' */
.icon-l7:before { content: '\e844'; } /* '' */
.icon-l6:before { content: '\e845'; } /* '' */
.icon-gd:before { content: '\e846'; } /* '' */
.icon-ex:before { content: '\e847'; } /* '' */
.icon-es:before { content: '\e848'; } /* '' */
.icon-e8:before { content: '\e849'; } /* '' */
.icon-e7:before { content: '\e84a'; } /* '' */
.icon-e2:before { content: '\e84b'; } /* '' */
.icon-e1:before { content: '\e84c'; } /* '' */
.icon-ax:before { content: '\e84d'; } /* '' */
.icon-5p:before { content: '\e84e'; } /* '' */
.icon-5l:before { content: '\e84f'; } /* '' */
.icon-58:before { content: '\e850'; } /* '' */
.icon-51:before { content: '\e851'; } /* '' */
.icon-wodny:before { content: '\e852'; } /* '' */
.icon-wodno_elektryczny:before { content: '\e853'; } /* '' */
.icon-elektryczny:before { content: '\e854'; } /* '' */
.icon-51-b:before { content: '\e855'; } /* '' */
.icon-legenda_2:before { content: '\e856'; } /* '' */
.icon-legenda_3:before { content: '\e857'; } /* '' */
.icon-legenda_4:before { content: '\e858'; } /* '' */
.icon-legenda_1:before { content: '\e859'; } /* '' */
.icon-legenda_5:before { content: '\e85a'; } /* '' */
.icon-legenda_6:before { content: '\e85b'; } /* '' */
.icon-legenda_7:before { content: '\e85c'; } /* '' */
.icon-58-b:before { content: '\e85d'; } /* '' */
.icon-l8-b:before { content: '\e85e'; } /* '' */
.icon-p1-b:before { content: '\e85f'; } /* '' */