<comp-header [title]="title" [hideBackBtn]="true"></comp-header>

<div class="wrapper text-center">
  <h2>Złóż zamówienie</h2>
</div>
<div class="grid-container">
  <div class="grid-x">
    <div class="small-10 small-offset-1 medium-3 medium-offset-0 cell">
      <div class="button-control">
        <a [routerLink]="['/configurator']" class="button no-bottom-margin">Konfigurator</a>
      </div>
    </div>
    <div class="small-10 small-offset-1 medium-3 medium-offset-0 cell">
      <div class="button-control">
        <a [routerLink]="['/parser']" class="button no-bottom-margin">Po kodzie</a>
      </div>
    </div>
    <div class="small-10 small-offset-1 medium-3 medium-offset-0 cell">
      <div class="button-control">
        <a [routerLink]="['/warehouse']" class="button no-bottom-margin">Z magazynu (Drupal)</a>
      </div>
    </div>
    <div class="small-10 small-offset-1 medium-3 medium-offset-0 cell">
      <div class="button-control">
        <a [routerLink]="['/ax-warehouse']" class="button">Z magazynu (AX)</a>
      </div>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="horizontal-space">
    <ul class="tabs" data-tabs id="productGroups-tabs">
      <li *ngFor="let productGroup of productGroups; let i = index" [ngClass]="{'is-active': activeTab === i}"
          class="tabs-title small-4 text-center">
        <a [attr.aria-selected]="activeTab === i" (click)="activateTab(i)">{{productGroup}}</a>
      </li>
    </ul>
  </div>
  <div class="tabs-content" data-tabs-content="productGroups-tabs">
    <div [ngClass]="{'is-active': activeTab === 0}" class="tabs-panel">
      <div class="dynamic" [ngClass]="{'loading': !radiators}">
        <div>
          <products-list [products]="radiators" [images]="imagesRad"
                         (onOpenDetails)="radiatorDetails($event)"></products-list>
          <pager [total]="totalRad" [perPage]="limit" [currentPage]="currentPageRad"
                 (onPageChange)="getRadiatorsPage($event)"></pager>
        </div>
      </div>
    </div>
    <div [ngClass]="{'is-active': activeTab === 1}" class="tabs-panel">
      <div class="dynamic" [ngClass]="{'loading': !heaters}">
        <products-list [products]="heaters" [images]="imagesHea"
                       (onOpenDetails)="heaterDetails($event)"></products-list>
        <pager [total]="totalHea" [perPage]="limit" [currentPage]="currentPageHea"
               (onPageChange)="getHeatersPage($event)"></pager>
      </div>
    </div>
    <div [ngClass]="{'is-active': activeTab === 2}" class="tabs-panel">
      <div class="dynamic" [ngClass]="{'loading': !accessories}">
        <products-list [products]="accessories" [images]="imagesAcc"
                       (onOpenDetails)="accessoryDetails($event)"></products-list>
        <pager [total]="totalAcc" [perPage]="limit" [currentPage]="currentPageAcc"
               (onPageChange)="getAccessoriesPage($event)"></pager>
      </div>
    </div>
  </div>
</div>
