@import "../../styles/breakpoints";
@import "../../styles/variables";
@import "../../styles/colors";
@import "../../styles/typography";
@import "../../styles/mixins";

h2 {
  font-size: $s-1;
  margin: 2rem auto;

  @include media-large {
    font-size: $s3;
    margin: 3rem auto;
    text-align: center;
  }
}