@import "../../../styles/variables";
@import "../../../styles/colors";
@import "../../../styles/typography";

.connection-legend {
  margin: 1rem;

  svg {
    $s: 2rem;
    height: $s;
    width: $s;
  }

  .icon {
    font-size: $s5;
  }

  p {
    margin: 0 0 5px;
    //margin: 0;
    font-size: $s-2;
  }
}