<table class="connection-legend">
  <tr>
    <td>
      <svg width="40px" height="40px" viewBox="0 0 56 56" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">
        <path d="M19.895,27.951l4.492,7.715l-17.774,0l4.492,-7.715l4.395,-7.617l4.395,7.617Zm25.097,0l4.395,-7.617l-17.676,0l4.394,7.617l4.493,7.715l4.394,-7.715Z"/>
      </svg>
    </td>
    <td><p>Podłączenie zasilania</p></td>
  </tr>
  <tr>
    <td>
      <svg width="40px" height="40px" viewBox="0 0 56 56" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">
        <path d="M32.443,28.049l4.395,-7.715l-17.676,0l4.395,7.715l4.492,7.617l4.394,-7.617Zm-4.394,5.371l-3.516,-5.957l-3.418,-5.957l13.77,0l-3.418,5.957l-3.418,5.957Z"/>
      </svg>
    </td>
    <td><p>Opcjonalne podłączenie zasilania</p></td>
  </tr>
  <tr>
    <td>
      <svg width="40px" height="40px" viewBox="0 0 56 56" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">
        <path d="M32.443,18.527l4.395,7.715l-17.676,0l4.395,-7.715l4.492,-7.617l4.394,7.617Zm0,18.848l4.395,-7.617l-17.676,0l4.395,7.617l4.492,7.715l4.394,-7.715Z"/>
      </svg>
    </td>
    <td><p>Zasilanie z rurką zanurzeniową</p></td>
  </tr>
  <tr>
    <td>
      <svg width="40px" height="40px" viewBox="0 0 56 56" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">
        <rect x="19.602" y="25.705" width="16.797" height="4.59"/>
      </svg>
    </td>
    <td><p>Otwór uniwersalny (z zaślepką)</p></td>
  </tr>
  <tr>
    <td>
      <svg width="40px" height="40px" viewBox="0 0 56 56" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">
        <path d="M38.84,18.723c1.953,0 3.157,1.953 3.613,5.859c0.065,1.042 0.098,2.148 0.098,3.32c0,1.107 -0.033,2.181 -0.098,3.223c-0.456,4.102 -1.66,6.152 -3.613,6.152l-23.633,0c-1.172,0 -1.758,-0.586 -1.758,-1.757l0,-15.04c0,-1.171 0.586,-1.757 1.758,-1.757l23.633,0Zm-21.875,3.515l0,11.524l21.875,0c-0.13,0 -0.098,-1.009 0.098,-3.028c0.13,-0.911 0.195,-1.855 0.195,-2.832c0,-1.041 -0.065,-2.018 -0.195,-2.929c-0.196,-1.823 -0.228,-2.735 -0.098,-2.735l-21.875,0Z"/></svg>
    </td>
    <td><p>Głowica termostatyczna</p></td>
  </tr>
  <tr>
    <td>
      <svg width="40px" height="40px" viewBox="0 0 56 56" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">
        <path d="M27.072,21.994c-1.823,0.195 -3.353,0.977 -4.59,2.344c-1.237,1.432 -1.855,3.06 -1.855,4.883l0,5.175l1.855,0l0,6.446c0,0.586 0.293,0.879 0.879,0.879c0.586,0 0.879,-0.293 0.879,-0.879l0,-6.446l7.422,0l0,6.446c0,0.586 0.293,0.879 0.879,0.879c0.586,0 0.879,-0.293 0.879,-0.879l0,-6.446l1.953,0l0,-5.175c0,-1.823 -0.651,-3.451 -1.953,-4.883c-1.172,-1.367 -2.702,-2.149 -4.59,-2.344l0,-7.715l-1.758,0l0,7.715Z"/>
      </svg>
    </td>
    <td><p>Miejsce na instalację grzałki elektrycznej w grzejnikach CO</p></td>
  </tr>
  <tr>
    <td>
      <svg width="40px" height="40px" viewBox="0 0 56 56" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">
        <path d="M26.633,14.035l2.832,0l0,7.129c1.758,0.326 3.255,1.172 4.492,2.539c1.302,1.498 1.953,3.255 1.953,5.274l0,5.078c0,0.39 -0.163,0.586 -0.488,0.586l-1.367,0l0,5.859c0,0.391 -0.131,0.716 -0.391,0.977c-0.325,0.325 -0.684,0.488 -1.074,0.488c-0.391,0 -0.716,-0.163 -0.977,-0.488c-0.26,-0.261 -0.39,-0.586 -0.39,-0.977l0,-5.859l-6.348,0l0,5.859c0,0.391 -0.13,0.716 -0.391,0.977c-0.325,0.325 -0.683,0.488 -1.074,0.488c-0.39,0 -0.716,-0.163 -0.976,-0.488c-0.261,-0.261 -0.391,-0.586 -0.391,-0.977l0,-5.859l-1.367,0c-0.391,0 -0.586,-0.196 -0.586,-0.586l0,-5.078c0,-2.019 0.683,-3.776 2.051,-5.274c1.172,-1.367 2.669,-2.213 4.492,-2.539l0,-7.129Zm1.074,0l0,7.617c0,0.326 -0.163,0.489 -0.488,0.489c-1.693,0.26 -3.125,1.009 -4.297,2.246c-1.107,1.302 -1.66,2.832 -1.66,4.59l0,4.589l1.269,0c0.391,0 0.586,0.163 0.586,0.489l0,6.445c0,0.065 0.033,0.13 0.098,0.195c0.065,0.065 0.13,0.098 0.195,0.098c0.13,0 0.228,-0.033 0.293,-0.098c0.065,-0.065 0.098,-0.13 0.098,-0.195l0,-6.445c0,-0.326 0.163,-0.489 0.488,-0.489l7.422,0c0.391,0 0.586,0.163 0.586,0.489l0,6.445c0,0.065 0.032,0.13 0.098,0.195c0.065,0.065 0.13,0.098 0.195,0.098c0.13,0 0.228,-0.033 0.293,-0.098c0.065,-0.065 0.097,-0.13 0.097,-0.195l0,-6.445c0,-0.326 0.163,-0.489 0.489,-0.489l1.367,0l0,-4.589c0,-1.758 -0.553,-3.288 -1.66,-4.59c-1.172,-1.237 -2.604,-1.953 -4.297,-2.149c-0.326,-0.065 -0.488,-0.26 -0.488,-0.586l0,-7.617l-0.684,0Z"/>
      </svg>
    </td>
    <td><p>Opcjonalne miejsce instalacji grzałki w grzejnikach elektrycznych</p></td>
  </tr>
</table>

<!-- fontello version (not used because of proportions not being kept-->
<!--
<table class="connection-legend">
  <tr>
    <td>
      <div class="icon icon-legenda_5"></div>
    </td>
    <td><p>Podłączenie zasilania</p></td>
  </tr>
  <tr>
    <td>
      <div class="icon icon-legenda_7"></div>
    </td>
    <td><p>Opcjonalne podłączenie zasilania</p></td>
  </tr>
  <tr>
    <td>
      <div class="icon icon-legenda_6"></div>
    </td>
    <td><p>Zasilanie z rurką zanurzeniową</p></td>
  </tr>
  <tr>
    <td>
      <div class="icon icon-legenda_1"></div>
    </td>
    <td><p>Otwór uniwersalny (z zaślepką)</p></td>
  </tr>
  <tr>
    <td>
      <div class="icon icon-legenda_2"></div>
    </td>
    <td><p>Głowica termostatyczna</p></td>
  </tr>
  <tr>
    <td>
      <div class="icon icon-legenda_4"></div>
    </td>
    <td><p>Miejsce na instalację grzałki elektrycznej w grzejnikach CO</p></td>
  </tr>
  <tr>
    <td>
      <div class="icon icon-legenda_3"></div>
    </td>
    <td><p>Opcjonalne miejsce instalacji grzałki w grzejnikach elektrycznych</p></td>
  </tr>
</table>-->
