<div class="wrapper">
  <div class="grid-container">
    <div class="grid-x">
      <div class="small-8 small-offset-2 text-center page-title">
        <h1>{{title}}</h1>
      </div>
    </div>
    <div class="dynamic" [ngClass]="{'loading': loading}">
      <div class="grid-x">
        <div class="small-10 small-offset-1 cell text-center">
          <h2>nr zamówienia:
            <span *ngIf="!order" class="busy-indicator"></span>
            <span *ngIf="order">{{this.order.orderId}}/{{this.order.orderIdAX}}</span>
          </h2>
        </div>
        <div class="small-10 small-offset-1 cell text-center">
          <p>Wysłaliśmy do Ciebie e-mail z potwierdzeniem.</p>
          <p>Status zamówienia:
            <span *ngIf="!order" class="busy-indicator"></span>
            <span *ngIf="order">{{order.status}}</span>
          </p>
          <p>Status płatności:
            <span *ngIf="!payment" class="busy-indicator"></span>
            <span *ngIf="payment">{{payment.status}}</span>
          </p>
          <p>Status zamówienia możesz sprawdzić w: Menu > Moje konto > Zamówienia</p>
        </div>
        <div class="small-10 small-offset-1 cell button-control">
          <a [routerLink]="['/account/main']" class="button white no-bottom-margin">Moje zamówienia</a>
        </div>
        <div class="small-10 small-offset-1 cell button-control">
          <a [routerLink]="['/configurator/models']" class="button white">Złóż kolejne zamówienie</a>
        </div>
      </div>
    </div>
  </div>
</div>