<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">
  <!-- base url -->
  <base href="<%= htmlWebpackPlugin.options.metadata.baseUrl %>">
  <% if (webpackConfig.htmlElements.headTags) { %>
  <!-- Configured Head Tags  -->
  <%= webpackConfig.htmlElements.headTags %>
  <% } %>
  <script>
    console.log('<%= htmlWebpackPlugin.options.title %>')
    console.log('branch:', '<%= htmlWebpackPlugin.options.metadata.branch %>')
    console.log('commit:', '<%= htmlWebpackPlugin.options.metadata.hash %>')
    console.log('CDN url:', '<%= htmlWebpackPlugin.options.cdn_url %>')
  </script>

  <%= htmlWebpackPlugin.files.webpackManifest %>

  <% if (htmlWebpackPlugin.options.metadata.isDevServer && htmlWebpackPlugin.options.metadata.HMR !== true) { %>
  <!-- Webpack Dev Server reload -->
  <script src="/webpack-dev-server.js"></script>
  <% } %>

  <!-- Async Google Analytics: change UA-71073175-1 to be your site's ID -->
  <script>
    window.ga = window.ga || function () {(ga.q = ga.q || []).push(arguments)}
    ga.l = +new Date
    ga('create', 'UA-71073175-1', 'auto')
    ga('send', 'pageview')
  </script>
  <script async src="https://www.google-analytics.com/analytics.js"></script>
  <!-- End Google Analytics -->

  <!-- CSS will be injected by webpack here -->
  <!-- Preload link tags will be injected by webpack here -->

</head>

<body>

<app>
  <style type="text/css">
    .loader {
      position: fixed;
      left: 0;
      right: 0;
      top: 50%;
      width: 100%;
      text-align: center;
      margin-top: -50px;
      z-index: 1;
      box-sizing: border-box;
    }

    .loader img {
      margin-top: 1em;
      max-width: 100%;
    }

    .loader h6 {
      color: #d0021b;
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      font-size: 1.2em;
      margin: 0 auto;
    }
  </style>
  <div class="loader">
    <h6>Ładuję</h6>
    <img src="assets/img/loader_2.gif">
  </div>
</app>

<!-- Scripts will be injected by webpack here -->
</body>
</html>
