<ng-container *ngIf="invalidList.length">
  <div class="grid-container">
    <form [formGroup]="invalidCodesForm">
      <div class="grid-x">
        <div class="small-10 small-offset-1 large-6 large-offset-3 cell">
          <h2>Błędne kody, edytuj/popraw lub usuń przed dodaniem do koszyka.</h2>
        </div>
        <div class="small-10 small-offset-1 large-6 large-offset-3 cell">
        <textarea autosize rows="10" formControlName="invalidList" id="invalidList"
                  placeholder="&nbsp;&nbsp;|&nbsp;&nbsp;podaj kody produktów"
                  [attr.disabled]="invalidBusy ? 'disabled' : null"></textarea>
        </div>
      </div>
    </form>
    <div class="grid-x">
      <div class="small-10 small-offset-1 large-3 large-centered cell">
        <div class="button-control">
          <div *ngIf="invalidBusy" class="busy-indicator-on-red"></div>
          <button type="submit" class="button" [ngClass]="{'busy': invalidBusy}" [disabled]="!invalidCodesForm.valid"
                  (click)="onInvalidCodesSubmit()">Sprawdź ponownie
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<!--<ng-container *ngIf="duplicatedList.length">
  <div class="grid-container">
    <div class="grid-x">
      <div class="small-10 small-offset-1 cell pad">
        <p class="font-small">Powtarzające się kody produktów:</p>
        <ng-container *ngFor="let code of duplicatedList; let i = index">
          <p>{{code}}</p>
        </ng-container>
      </div>
    </div>
  </div>
</ng-container>-->

<ng-container *ngIf="validList.length">
  <div class="grid-container">
    <div class="grid-x">
      <div class="small-10 small-offset-1 large-6 large-offset-3 cell">
        <h2>Rozpoznane kody produktów:</h2>
      </div>
    </div>
  </div>
  <div class="dynamic" [ngClass]="{'loading': !configs}">
    <div class="grid-container">
      <form [formGroup]="validCodesForm">
        <ng-container formArrayName="products" *ngFor="let c of products.controls; let i = index">
          <div [formGroupName]="i" class="grid-x align-middle line-item padded-y border-bottom">
            <div class="shrink cell">
              <button (click)="removeFromList(i)" class="remove">
                <span class="icon icon-cross icon-grey" aria-hidden="true"></span>
              </button>
            </div>
            <div class="small-3 cell">
              <lazy-img [image]="configs[c.controls.sku.value].image" [columns]="[12, 0, 0]"></lazy-img>
            </div>
            <div class="auto cell">
              <h3><input type="text" formControlName="modelName" readonly></h3>
              <h5>
                {{configs[c.controls.sku.value].height}}<span class="spaced text-top">&#8597;</span>
                <span class="spaced-right">&#215;</span>{{configs[c.controls.sku.value].width}}
                <span class="spaced text-top">&#8596;</span>
              </h5>
              <h5><input type="text" formControlName="sku" readonly></h5>
              <div class="hide-for-large container margin-top">
                <div class="connection-icon icon-grey"
                     [ngClass]="'icon-' + configs[c.controls.sku.value].connection.toLowerCase()"></div>
                <div class="with-circle">
                  <div class="circle"
                       [ngStyle]="(configs[c.controls.sku.value].color.img && {'background-image': 'url('+configs[c.controls.sku.value].color.img+')'}) || {'background-color': '#'+configs[c.controls.sku.value].color.hex}">
                  </div>
                  <p>{{configs[c.controls.sku.value].color.colorName}}</p>
                </div>
              </div>
            </div>
            <div class="shrink large-4 cell">
              <div class="show-for-large container">
                <div class="connection-icon icon-grey"
                     [ngClass]="'icon-' + configs[c.controls.sku.value].connection.toLowerCase()"></div>
                <div class="with-circle">
                  <div class="circle"
                       [ngStyle]="(configs[c.controls.sku.value].color.img && {'background-image': 'url('+configs[c.controls.sku.value].color.img+')'}) || {'background-color': '#'+configs[c.controls.sku.value].color.hex}">
                  </div>
                  <p>{{configs[c.controls.sku.value].color.colorName}}</p>
                </div>
              </div>
              <div class="container">
                <div class="counter-container">
                  <item-counter [min]="1" [(counter)]="counter[c.controls.sku.value]"></item-counter>
                  <span class="small">ilość (szt.)</span>
                </div>
                <div class="price-container dynamic rel small-indicator to-right" [ngClass]="{'loading': !prices}">
                  <h4>
                    {{(prices && prices.hasOwnProperty(c.controls.sku.value) ? (prices[c.controls.sku.value].salesPrice
                    * counter[c.controls.sku.value]) : 0) | currencyFormat}}
                  </h4>
                  <p class="small no-bottom-margin">({{(prices && prices.hasOwnProperty(c.controls.sku.value) ?
                    prices[c.controls.sku.value].salesPrice : 0) | currencyFormat}}/szt.)</p>
                </div>
              </div>
            </div>
            <input type="hidden" formControlName="quantity" [(ngModel)]="counter[c.controls.sku.value]">
            <input type="hidden" formControlName="amount">
            <input type="hidden" formControlName="itemId">
            <input type="hidden" formControlName="currencyCode">
            <input type="hidden" formControlName="data">
            <input type="hidden" formControlName="deleted">
          </div>
        </ng-container>
      </form>
    </div>
    <div class="grid-container show-for-large">
      <div class="grid-x">
        <div class="large-3 large-offset-3 cell">
          <div class="button-control">
            <button type="submit" class="button" (click)="onToCartSubmit()">Dodaj do koszyka</button>
          </div>
        </div>
        <div class="large-3 cell">
          <div class="button-control">
            <button type="submit" class="button" (click)="onFastOrderSubmit()">Szybkie zamówienie</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<div class="grid-x fixed-nav hide-for-large">
  <div class="small-6 cell button" (click)="onToCartSubmit()">
    Dodaj do koszyka
  </div>
  <a class="small-6 cell button red" (click)="onFastOrderSubmit()">
    Szybkie zamówienie
  </a>
</div>