@import "../../../styles/breakpoints";
@import "../../../styles/variables";
@import "../../../styles/colors";
@import "../../../styles/typography";
@import "../../../styles/mixins";

h2 {
  font-size: $s-1;
  margin: 2rem auto;

  @include media-large {
    font-size: $s3;
    margin: 3rem auto;
    text-align: center;
  }
}

textarea {
  width: 100%;
  border: 0.5px solid $light-grey1;
  border-radius: 8px;
  padding: .5rem;

  &:focus {
    outline: none;
  }
}

.line-item {
  h3 {
    input {
      margin-bottom: 0;
      font-size: $s3;
      color: $text-black;

      @include media-large {
        font-size: $s7;
      }
    }
  }

  h5 input {
    font-size: $s-1;
    color: $text-grey;
    margin: 0;
    display: block;
    padding: 0;
    line-height: 1;
    width: 100%;

    @include media-large {
      font-size: $s3;
    }
  }

  input {
    border: none;
    font-weight: 300;
  }
}