@import "../../../styles/breakpoints";
@import "../../../styles/variables";
@import "../../../styles/colors";
@import "../../../styles/typography";

h6 {
  display: inline-block;
  vertical-align: middle;

  &.padded-right {
    padding-right: .3rem;
  }
}

.switch {
  display: inline-block;
  vertical-align: middle;
}

.sizeBox {
  position: relative;
  text-align: center;

  p {
    font-size: $s-5;

    @include media-large {
      font-size: $s-1;
    }
  }
}

.dims {
  margin-top: .4rem;

  h6 {
    display: block;
    padding: .4rem 0;

    @include media-large {
      font-size: $s1;
    }
  }

  & > div {
    padding-bottom: .4rem;

    .slide-list {
      padding-left: .4rem;
      padding-bottom: .4rem;

      @include media-large {
        margin: 0 0 0 2rem;
      }

      .slide {
        width: 3.5rem;
        font-size: $s2;
        font-weight: 300;
        text-align: center;
        padding: 0;
        margin: 0 .6rem;
        border: 1px solid $light-grey1;
        transition: .3s all ease-in-out;

        @include media-large {
          width: 4rem;
          padding: 5px 0;
        }

        &:hover,
        &.active {
          border-color: $red1;
        }
      }
    }
  }
}

.carousel-wrapper {
  $r: 500px;
  $rot: 20deg;
  position: relative;
  overflow: hidden;

  @for $i from 0 through 18 {
    .carousel__cell:nth-child(#{$i + 1}) {
      transform: rotateY($i * $rot) translateZ($r);
    }
  }

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    z-index: 2;
    top: 0;
    width: 15%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, 0) 100%);
  }

  &:before {
    left: 0;
  }

  &:after {
    right: 0;
    transform: rotate(180deg);
  }

  .scene {
    position: relative;
    width: 80%;
    height: 400px;
    perspective: 1.5 * $r;
    margin: 0 auto 4rem;
  }

  .carousel {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    transform: translateZ(-100px);
    transform-style: preserve-3d;
    transition: transform 1s;
  }

  .carousel__cell {
    $s: 50;
    position: absolute;
    width: $s * 1%;
    height: $s * 1%;
    left: (100 - $s) / 2 * 1%;
    top: (100 - $s) / 2 * 1%;
    transform-style: preserve-3d;
    transition: transform 1s;

    &.current {
      & > div {
        opacity: 1;
      }
    }

    & > div {
      opacity: .2;
      transition: transform 1s, opacity 1s;
    }
  }

  nav {

    button {
      position: absolute;
      width: 1.5rem;
      height: 1.5rem;
      cursor: pointer;
      top: 50%;
      left: initial;
      right: 1rem;
      margin-top: -1rem;
      z-index: 10;

      &:hover {
        svg {
          fill: $red1;
        }
      }

      &:first-child {
        left: 1rem;
        right: initial;
        transform: rotate(-180deg);
      }

      svg {
        fill: $light-grey1;
        transition: all .3s ease-in-out;
      }
    }
  }
}

