<div class="grid-container no-padding">
  <div *ngIf="configuratorService.isConfigLoaded()" class="grid-x">
    <div class="small-12 large-6 cell preview">
      <div class="small-12 cell show-for-large">
        <h6>
          <span>Model/wizualizacja grzejnika</span>
        </h6>
      </div>
      <div class="small-10 small-offset-1 large-12 large-offset-0 cell">
        <div class="carousel-wrapper">
          <ng-container *ngIf="configuratorService.getImages()">
            <div class="scene">
              <div class="carousel" [ngStyle]="{'transform': 'translateZ(-100px) rotateY(' + angle + 'deg)'}">
                <div *ngFor="let image of configuratorService.getImages(); let i = index" class="carousel__cell"
                     [ngClass]="{'current': i === selectedIndex % imagesBase}">
                  <div [ngStyle]="{'transform': 'rotateY(' + ((-rotationBase * i) - angle) + 'deg)'}">
                    <lazy-img [image]="image" [columns]="[12, 6, 1]" [classes]="'zoomed'"></lazy-img>
                  </div>
                </div>
              </div>
            </div>
            <nav>
              <button (click)="next()">
                <svg viewBox="0 0 240 246">
                  <g>
                    <path d="M183.189,111.816L74.892,3.555c-4.752-4.74-12.451-4.74-17.215,0c-4.752,4.74-4.752,12.439,0,17.179
      l99.707,99.671l-99.695,99.671c-4.752,4.74-4.752,12.439,0,17.191c4.752,4.74,12.463,4.74,17.215,0l108.297-108.261
      C187.881,124.315,187.881,116.495,183.189,111.816z"/>
                  </g>
                </svg>
              </button>
              <button (click)="prev()">
                <svg viewBox="0 0 240 246">
                  <g>
                    <path d="M183.189,111.816L74.892,3.555c-4.752-4.74-12.451-4.74-17.215,0c-4.752,4.74-4.752,12.439,0,17.179
      l99.707,99.671l-99.695,99.671c-4.752,4.74-4.752,12.439,0,17.191c4.752,4.74,12.463,4.74,17.215,0l108.297-108.261
      C187.881,124.315,187.881,116.495,183.189,111.816z"/>
                  </g>
                </svg>
              </button>
            </nav>
          </ng-container>
          <ng-container *ngIf="!configuratorService.getImages()">
            <lazy-img [image]="configuratorService.getImage()" [columns]="[12, 0, 0]"></lazy-img>
          </ng-container>
        </div>
      </div>
      <div class="small-12 cell text-center">
        <h2>{{configuratorService.getLabel()}}</h2>
      </div>
    </div>
    <div class="grid-y small-12 large-6 cell relative">
      <div class="grid-x cell">
        <div class="small-7 large-8 cell">
          <h6>
            <span>Wybierz rozmiar grzejnika</span>
            <dev-box *ngIf="!listView && itemId && !configExists" [label]="'!'" [noTitle]="true">
              {{itemId}} nigdy nie był zamawiany
            </dev-box>
          </h6>
        </div>
        <div class="small-5 large-4 cell text-right">
          <h6 class="padded-right">Widok</h6>
          <div class="switch" [ngClass]="{'on': listView}" (click)="listView = !listView"><span></span></div>
        </div>
      </div>
      <div class="cell">
        <div class="dynamic" [ngClass]="{'loading': loading}">
          <div class="slide-list last-element" id="sizes-list" [ngClass]="{'hide': !listView}">
            <div *ngFor="let size of sizes; let i = index"
                 [ngClass]="{'active': itemId === size.itemId}"
                 (click)="setSize(i)"
                 class="slide clickable sizeBox bordered">
              <div>
                <lazy-img [image]="size.image" [columns]="[6, 4, 2]" [scrollTarget]="scrollTarget"></lazy-img>
                <p>
                  {{size.name | dimensionsPipe: 'height':'/':''}}
                  <span class="text-bottom">&#8597;</span>
                  <span>&#215;</span>
                  {{size.name | dimensionsPipe: 'width':'/':''}}
                  <span class="text-bottom">&#8596;</span>
                </p>
                <span *ngIf="authService.showDevData()" class="dev-data">{{size.itemId}}</span>
                <dev-box *ngIf="!size.configExists" [label]="'!'" [cssClasses]="'absolute'" [noTitle]="true">
                  {{size.itemId}} nigdy nie był zamawiany
                </dev-box>
              </div>
            </div>
          </div>
          <div class="dims last-element" [ngClass]="{'hide': listView}">
            <div>
              <h6>Wysokość <span class="small">(cm)</span></h6>
              <div class="slide-list" *ngIf="dims">
                <div class="slide clickable" [ngClass]="{'active': h == chosenHeight}"
                     *ngFor="let h of objectKeys(dims)"
                     (click)="setHeight(h)">{{h}}
                </div>
              </div>
            </div>
            <div>
              <h6>Szerokość <span class="small">(cm)</span></h6>
              <div class="slide-list" *ngIf="chosenHeight">
                <div class="slide clickable" [ngClass]="{'active': w[0] == chosenWidth}"
                     *ngFor="let w of dims[chosenHeight]"
                     (click)="setWidth(w)">{{w[0]}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="grid-x nav-buttons show-for-large">
        <div class="large-5 large-offset-2 cell">
          <div class="button-control">
            <button class="button white no-bottom-margin" (click)="goBack()">Anuluj</button>
          </div>
        </div>
        <div class="large-5 cell">
          <div class="button-control">
            <a [routerLink]="itemId ? ['../../', itemId, 'connection'] : null" [ngClass]="{disabled: !itemId}"
               class="button no-bottom-margin">
              Dalej
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="grid-x fixed-nav hide-for-large">
  <div class="small-6 cell button" (click)="goBack()">
    Anuluj
  </div>
  <a [routerLink]="itemId ? ['../../', itemId, 'connection'] : null" [ngClass]="{disabled: !itemId}"
     class="small-6 cell button red">
    Dalej
  </a>
</div>