<comp-header [title]="item.modelNameLoc"></comp-header>
<ng-container *ngIf="item">
  <div class="wrapper">
    <h2>{{item.lead}}</h2>
  </div>
  <div *ngIf="item.gallery" class="gallery slide-list">
    <div *ngFor="let ga of item.gallery.split(';')" class="slide">
      <img [src]="ga.replace('public://', 'http://termaheat.pl/sites/default/files/')" alt="">
    </div>
  </div>
  <div class="grid-x">
    <div class="small-10 small-offset-1 medium-4 medium-offset-4 cell">
      <div class="button-control">
        <a [routerLink]="['/configurator/WYRG/WG'+item.modelAX+'/sizes']" class="button">Skonfiguruj i zamów</a>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <p>{{item.description}}</p>
    <div class="props">
      <p>Max. temp.: <span>{{item.maxTemperature}}</span></p>
      <p>Ciśnienie: <span>{{item.pressure}}</span></p>
      <p>Gwarancja: <span>{{item.warranty}}</span></p>
    </div>
    <ng-container *ngIf="item.adv">
      <div class="adv">
        <p>Zalety:</p>
        <ul>
          <li *ngFor="let ad of item.adv.split(';')">{{ad}}</li>
        </ul>
      </div>
    </ng-container>
    <ng-container *ngIf="item.connector">
      <div class="connections">
        <p>Podłączenia:</p>
        <div *ngFor="let co of item.connector.split(';')" class="connection-box">
          <div [ngClass]="'text-center connection-icon icon-' + co.toLowerCase()"></div>
          <span class="dev-data _big bottom-right">{{co}}</span>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="item.customConnector">
      <div class="connections">
        <p>Podłączenia dodatkowe:</p>
        <div *ngFor="let co of item.customConnector.split(';')" class="connection-box">
          <div [ngClass]="'text-center connection-icon icon-' + co.toLowerCase()"></div>
          <span class="dev-data _big bottom-right">{{co}}</span>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="item.equipment">
      <div class="equipment">
        <p>Wyposażenie:</p>
        <ul>
          <li *ngFor="let eq of item.equipment.split(';')">{{eq}}</li>
        </ul>
      </div>
    </ng-container>

  </div>
</ng-container>
