@import "../../styles/variables";
@import "../../styles/colors";
@import "../../styles/typography";

h2 {
  padding: 0 .5rem .5rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid $red1;
}

.props {
  margin-left: 1rem;
  margin-bottom: 1rem;

  p {
    margin: 0;

    span {
      color: $text-red;
    }
  }
}

.gallery {
  height: 10rem;

  .slide {
    height: 100%;
    width: auto;

    img {
      display: block;
      max-width: none;
      height: 100%;
      width: auto;
    }
  }
}

.adv,
.connections,
.equipment {
  margin-bottom: 1rem;

  p {
    margin: 0;
  }

  ul {
    margin: 0 0 0 1rem;
  }
}

.connection-box {
  display: inline-block;
  vertical-align: bottom;
  position: relative;

  .connection-icon {
    $s: 4rem;
    display: inline-block;
    height: $s;
    width: $s;

    &:before {
      vertical-align: top;
    }
  }
}