<div class="counter-wrapper">
  <button class="icon-minus" [ngClass]="{'disabled': counterValue === min}" (click)="decrement()">
  </button>
  <input [(ngModel)]="counter" OnlyNumber="true" MinMax [min]="min" [max]="max" (change)="checkValue($event)">
  <button class="icon-plus" [ngClass]="{'disabled': counterValue === max}" (click)="increment()">
  </button>
</div>
