@import "../../../styles/breakpoints";
@import "../../../styles/variables";
@import "../../../styles/colors";
@import "../../../styles/typography";

.counter-wrapper {
  position: relative;
  width: 100%;
  max-width: 100px;
  display: inline-block;
  margin: 0 2px;

  button {
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    font-size: 39px;
    top: -7px;
    color: $light-grey1;
    cursor: pointer;

    @include media-large {
      font-size: 48px;
      top: -9px;
    }

    &:hover {
      color: $red1;
    }

    &.icon-minus {
      left: -7px;

      @include media-large {
        left: -9px;
      }
    }

    &.icon-plus {
      right: -7px;

      @include media-large {
        right: -9px;
      }
    }

    &.disabled {
      cursor: not-allowed;
      color: $light-grey2;

      &:hover {
        color: $light-grey2;
      }
    }
  }

  input {
    display: block;
    color: $text-red;
    text-align: center;
    border: 1px solid $light-grey2;
    height: 26px;
    font-size: $s0;
    border-radius: 13px;
    width: 100%;

    @include media-large{
      height: 32px;
      font-size: $s2;
    }
  }
}
