@import "../../styles/breakpoints";
@import "../../styles/variables";
@import "../../styles/colors";
@import "../../styles/typography";

.parser-header {
  margin: 1rem .5rem 0;

  @include media-large {
    margin-top: 3rem;
  }
}

h1 {
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  color: $text-black;

  @include media-large {
    font-size: $s4;
  }
}